nz-form-label {
    font-weight: 500;
    text-align: left;
  }
  
  nz-page-header {
    background-color: #fff;
    margin-left: -2px;
  }
  
  .range-class{
    font-weight: 500;
      
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}