.navigation {
  border-color: 1px rgba(0, 0, 0, 0.1);
}

#mybutton {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 1
}

.icon {
  padding-right: 10px;
}

.navigation {
  border-color: 1px rgba(0, 0, 0, 0.1);
}

// #mybutton {
//   position: fixed;
//   bottom: 10%;
//   right: 5%;
// }

// #sub_button1 {

//   position: fixed;
//   bottom: 10%;
//   right: 10%;
//   //animated transition
//   transition: all 2000ms ease;
//   -webkit-transition: all 2000ms ease;
//   transform-origin: 50% 0%;
//   -webkit-transform-origin: 50% 0%;
//   // transform-style: preserve-3d;
//   // -webkit-transform-style: preserve-3d;
//   transition-duration: 3s;
// }

// #sub_button2 {
//   transition: 400ms;
//   position: fixed;
//   bottom: 16%;
//   right: 8%;

//   transition: all 2000ms ease;
//   -webkit-transition: all 2000ms ease;
//   transform-origin: 50% 0%;
//   -webkit-transform-origin: 50% 0%;
//   // transform-style: preserve-3d;
//   // -webkit-transform-style: preserve-3d;
//   transition-duration: 3s;
// }

#sub_button1 {
  padding-bottom: 15px;
}

#sub_button2 {
  padding-bottom: 15px;
}

#sub_button3 {
  padding-bottom: 15px;
}

.icon {
  padding-right: 10px;
}