<div id="mybutton">
  <button *ngIf="show" class="navigation" nz-button nzType="primary" nzSize="large" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    <i nz-icon nzType="menu-fold"></i>
  </button>
</div>

<div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div *ngIf="showAddButton"  id="sub_button1">
      <button
      nz-button
      nzType="primary"
      style="background-color:hsl(102, 90%, 35%); border-color: hsl(102, 90%, 35%);;"
      nzSize="large"
      nzShape="circle"
      nzTooltipTitle="Add Form"
      nzTooltipPlacement="left"
      nz-tooltip
      (click)="navigateAddForm()"
      >
      <i nz-icon nzType="plus"></i></button>
    </div>
    <div *ngIf="showBackButton"  id="sub_button2">
      <button nz-button
      nzType="primary"
      style="background-color:#2D2F8D; border-color: #2D2F8D;"
      nzSize="large"
      nzShape="circle"
      nzTooltipTitle="Back"
      nzTooltipPlacement="left"
      nz-tooltip
      (click)="navigateListForm()"
      >
      <i nz-icon nzType="rollback" nzTheme="outline"></i></button>
    </div>
    <div *ngIf="allowPrint == 'true'">
      <div *ngIf="showPrintButton"  id="sub_button3">
        <button nz-button
        nzType="primary"
        style="background-color:#F7A40E; border-color: #F7A40E;"
        nzSize="large"
        nzShape="circle"
        nzTooltipTitle="Print List"
        nzTooltipPlacement="left"
        nz-tooltip
        (click)="navigatePrintList()"
        >
        <i nz-icon nzType="printer" nzTheme="outline"></i></button>
      </div>
    </div>
    <!-- <ul nz-menu>
      <li nz-menu-item (click)="navigateListForm()">
        <i class="icon" nz-icon nzType="container"></i>
        List Form
      </li>
      <li nz-menu-item (click)="navigateAddForm()">
        <i class="icon" nz-icon nzType="form"></i>
        Add Form
      </li>
    </ul> -->
  </nz-dropdown-menu>

</div>
