hr{
color: white;
}
.card-1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}
input {
  width: 200px;
  margin-left: 10px;
}
nz-page-header {
  background-color: #fff;
  margin-left: -2px;

}
