
<nz-spin [nzSpinning]="loading">
  <div style="height: 100%;">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
      <nz-anchor [nzShowInkInFixed]="false">
        <nz-page-header>
          <nz-page-header-title>Tenant Profiling</nz-page-header-title>
          <nz-page-header-extra>
           
            <!-- <button nz-button (click)="$event.preventDefault()"  *ngIf="isActive">
              <i nz-icon nzType="folder-open"></i>
              Save as Draft
            </button> -->
            <button nz-button (click)="cancel($event);" nzType="primary" nzDanger>
              <i nz-icon nzType="close"></i>
              {{btnCancel}}
            </button>
            <button  *ngIf="isActive" nz-button nzType="primary" [nzLoading]="loading" class="button-form" [disabled]="!validateForm.valid">
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>
  
      <nz-card nzType="inner" nzBorderless nzTitle="{{title}}">
      <div nz-row [nzGutter]="32" style="width: 100%;">
        <div nz-col nzSpan="10">

            <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="12"  nzRequired>Tenant Type</nz-form-label>
              <nz-form-control  [nzSm]="12" [nzXs]="24" >
                <nz-select
                  formControlName="tenant_type"
                  nzPlaceHolder="Select Tenant Type"

                  (ngModelChange)="selectType()"
                >
                <nz-option *ngFor="let list of tenantType" nzValue="{{list}}" nzLabel="{{list}}" >
                </nz-option>
                </nz-select>
               </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired>Tenant</nz-form-label>
              <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                <nz-input-group>
                  <input type="text" [readonly]="true" nz-input formControlName="tenant_name" style="text-transform: uppercase;" placeholder="Browse Tenant" (click)="browseTenant('main', validateForm.value.tenant_type)"  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12">Contact No</nz-form-label>
              <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                <nz-input-group>
                  <input type="number" onKeyPress="if(this.value.length==11) return false;" *ngIf="validateForm.value.tenant_type == 'Person'" nz-input formControlName="tenant_contact" placeholder="e.g. 09123456789"/>
                  <input  *ngIf="validateForm.value.tenant_type == 'Business'" type="text" mask="(000) 000-0000"  nz-input [dropSpecialCharacters]="false" formControlName="tenant_contact" placeholder="e.g. (123) 456-7890" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12">Address</nz-form-label>
              <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                <nz-input-group>
                  <textarea type="text" nz-input formControlName="tenant_address" placeholder="e.g. Brgy. Aurora, Prosperidad, Agusan del Sur"></textarea>
                 
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
        </div>
      </div>
      <nz-divider></nz-divider>

      <div nz-row [nzGutter]="32">
        <div nz-col nzSpan="24">
          <nz-table class="table-floor" style="table-layout: fixed;" formArrayName="tenant_profile_dtl" [nzTitle]="add" [nzData]="['']" #basicTable nzBordered="false" [nzShowPagination]="false" nzSize="small">
            <thead>
              <tr>
                <th>Property</th>
                <th>Area (sqm)</th>
                <th>Rent Amount</th>
                <th>Section</th>
                <th>Date Start</th>
                <th>Date End</th>
                <th style="width:6%">Tenant</th>
                <th style="width: 6%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of tenantDtlArray().controls; let i = index" [formGroupName]="i">
                <td>
                  <nz-form-control [nzSm]="24" >
                    <input style="text-transform: uppercase;" formControlName="property_name" [readonly]="true" (click)="browseProperty(i, obj)" type="text" nz-input >
                    </nz-form-control>
                </td>

                <td>
                  <nz-form-control [nzSm]="24" >
                    <input  style="text-align:right" formControlName="area" [readonly]="true" type="text" nz-input >
                    </nz-form-control>
                </td>

                <td>
                  <nz-form-control [nzSm]="24" >
                    <input style="text-align:right" formControlName="rental_amount" [readonly]="true" type="text" nz-input [currencyCode]="' '" mvndrMatCurrencyFormat
                    [allowNegative]="false">
                    </nz-form-control>
                </td>

                <td>
                  <nz-form-control [nzSm]="24" >
                    <input class="sec-text" formControlName="section" [nzTooltipTitle]="obj.value.section"  nz-tooltip  nzTooltipPlacement="top" [readonly]="true" type="text" nz-input>
                    </nz-form-control>
                </td>

                <td>
                  <nz-form-control [nzSm]="24" >
                    <nz-date-picker formControlName="date_start" nz-input ></nz-date-picker>
                    </nz-form-control>
                </td> 
                <td>
                  <nz-form-control [nzSm]="24" >
                    <nz-date-picker formControlName="date_end" nz-input ></nz-date-picker>
                    </nz-form-control>
                </td>
                <td>
                  <button nz-button nzType="link" (click)="viewTenant($event, i, obj.value);$event.preventDefault()" style="transform: scale(0.9); color:#1890ff; " nzPrimary>View Sub Tenant</button>
                </td>
                <td style="text-align:center">
                  <button  style="transform: scale(0.8); width: 50%;"  class="actionDelete" nz-button nzType="text"(click)="removeProp(i);$event.preventDefault()" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      
      <ng-template #addTenant>
        <div *ngIf="showTitle">
          <nz-alert style="padding: 0px !important; width: 100%" nzType="error" nzCloseable  [nzMessage]="errorMessage" nzShowIcon></nz-alert>
        </div>
      </ng-template>
      </nz-card>
      <nz-modal nzClosable="false" nzMaskClosable="false" [nzWidth]="800" [(nzVisible)]="modalShow" [nzTitle]="tenantTitle" (nzOnCancel)="modalOk()">
        <div *nzModalContent style="height: 30vh;">
          <nz-table style="max-height: 100%; height: 100%; overflow-y: scroll;" *ngIf="tenantDtlArray().at(propIndex).value.sub_tenant.length > 0" nzBordered="false" [nzTitle]="addTenant"  [nzData]="['']" [nzShowPagination]="false" nzSize="small">
            <thead>
              <th>Name</th>
              <th [nzRight]="true" style="width: 5%"><button nz-button nzType="default" (click)="browseTenant('sub', validateForm.value.tenant_type)" style="transform: scale(0.9); color:#1890ff; " nzPrimary>Add Tenant</button></th>
            </thead>
            <tbody>
              <tr *ngFor="let x of tenantDtlArray().at(propIndex).value.sub_tenant; let i = index">
                <td>{{x.tenant_name}}</td>
                <td style="text-align: center;">
                  <button  style="transform: scale(0.8); width: 50%;"  class="actionDelete" nz-button nzType="text"(click)="removeTenant(i);$event.preventDefault()" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          
          <nz-table *ngIf="tenantDtlArray().at(propIndex).value.sub_tenant.length == 0" nzBordered="false" [nzTitle]="addTenant"  [nzShowPagination]="false" nzSize="small">
            <thead>
              <th>Name</th>
              <th [nzRight]="true" style="width: 5%"><button nz-button nzType="default" (click)="browseTenant('sub', validateForm.value.tenant_type)" style="transform: scale(0.9); color:#1890ff; " nzPrimary>Add Tenant</button></th>
            </thead>
            <tbody>
            
            </tbody>
          </nz-table>
        </div>
        <div *nzModalFooter>
          <button nz-button nzType="primary" (click)="modalOk()" >BACK</button>
        </div>
      </nz-modal>
    </form>
  </div>
</nz-spin>


<ng-template #add>
  <div style="display:inline !important;">
    <button nz-button nzType="default" (click)="addFloor();$event.preventDefault()" style="transform: scale(0.9); color:#1890ff; " nzPrimary>Add Property</button>
    <nz-alert *ngIf="propAlert" nzType="error" [nzMessage]="propAlertMsg" nzShowIcon nzCloseable ></nz-alert>
  </div>
</ng-template>