<!-- <h3>Cummulative Data</h3> -->
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger>
    <thead>
      <tr>
        <th>Birth Date</th>
        <th>Name</th>
        <th>Address</th>
        <th>Civil Status</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td>{{data.birth_date | date:'mediumDate'}}</td>
          <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
          <td>{{data.brgy_name}} {{data.street}} , {{data.city_mun_name}}, {{data.province_name}}</td>
          <td>{{data.civil_status_name}}</td>
          <td>{{data.gender_name}}</td>
          <td style="text-align: center;" *ngIf="data.status == 'Active'"><nz-tag [nzColor]="'#2799FF'">{{data.status}}</nz-tag></td>
          <td style="text-align: center;" *ngIf="data.status == 'Deleted'"><nz-tag [nzColor]="'red'">{{data.status}}</nz-tag></td>
          <td style="text-align: center;">
            <button nz-tooltip nzTooltipTitle="Select this Person" class="actionEdit" nz-button nzType="primary" (click)="selectPerson(data.person_guid)">Select</button>
          </td>
        </tr>
      </ng-container>
    </tbody>

    <ng-template #dateFilter>
      <app-person-filter (valueChange)="search($event)" (clearChange)="clear($event)" (selectChange)="select($event)"></app-person-filter>
      <!-- <app-date-filter></app-date-filter> -->
    </ng-template>

  </nz-table>
</nz-spin>
