<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline"></i> Exhumation Permit</h3>
  <!-- <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline"></i>
    EXPORT TO EXCEL
  </button> -->
   <!-- <button nz-button nzType="primary" (click)="print(); $event.preventDefault();">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button> -->
  <button nz-button nzType="primary" (click)="$event.preventDefault();" [useExistingCss]="true"
        printSectionId="print-section"
        ngxPrint>
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          PRINT
        </button>
</div>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">

  <div class="printLayout printContent" id="print-section">
  <!-- <div class="printLayout" id="print-section"> -->
    <div class="" nzAlign="bottom" id="report-section">
      <br>
      <app-header-print></app-header-print>
      <!-- <div style="text-align: center;"><h2>MUNICIPAL HEALTH OFFICE</h2></div> -->
      <div style="text-align: center;"><h2>EXHUMATION PERMIT</h2></div>
      <div style="text-align: center;"><h3>Permit No.<span style="text-decoration: underline;">{{person_data?.form_trans_no}}</span></h3></div>
      <br>
      <div class="content">
        <div nz-row>

          <div nz-col nzSpan="20" nzOffset="2">
            <div nz-row nzJustify="end">
               <div style="text-align: center;">
                <span style="text-decoration: underline; white-space: pre-line">{{person_data?.exp_transaction_date | date: 'MM/dd/yyyy'}}</span><br>
                Date
               </div>
            </div>
            <div nz-row nzJustify="space-between">

              <div nz-row nzJustify="start">
                  <p>To whom it may concern :</p>
              </div>
              <br><br>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <div nz-row nzJustify="start">
                    <p style="text-indent: 55px;">Permission is hereby granted to <span><b>{{person_data?.exp_person_fullname}}</b></span> of <span><b>{{person_data?.exp_person_address}}</b></span> for the exhumation of the remains of <span><b>{{person_data?.exp_cadaver_name}}</b></span> of <span><b>{{person_data?.exp_cadaver_address}}</b></span> buried at the <span><b>{{person_data?.exp_cadaver_buriedat}}</b></span>, subject to following conditions :</p>
                </div>
                <br>
                <div nz-row nzJustify="end">
                  <div nz-col nzSpan="22">
                    <p>
                      1.	A copy of the death certificate must always accompany this permit.
                    </p>
                  </div>
                </div>
                <div nz-row nzJustify="end">
                  <div nz-col nzSpan="22">
                    <p>
                      2.	That immediately upon exhumation, the remains shall be disinfected and after the necessary investigation by the authorities concerned shall have been completed, the same shall be re-buried at authorized burial place.
                    </p>
                  </div>
                </div>
                <div nz-row nzJustify="end">
                  <div nz-col nzSpan="22">
                    <p>

                      3.	The remains must be placed in a coffin or an airtight box and properly sealed.

                    </p>
                  </div>
                </div>
                <br>
                <div nz-row nzJustify="start">
                  <p style="text-indent: 55px;">
                    The burial of the cadaver/remains must be conducted in the most sanitary manner to safeguard public health.
                  </p>
              </div>

              </div>

            </div>
            <br><br>
            <div nz-row nzJustify="space-between">
              <div nz-col nzSpan="9"><div style="text-align: center;">
                <span style="text-decoration: underline; white-space: pre-line; text-transform:uppercase;"><b><i></i></b></span><br>

               </div></div>
              <div nz-col nzSpan="9"><div style="text-align: center;">
                <span style="text-decoration: underline; white-space: pre-line; text-transform:uppercase;"><b><i>{{dept_head}}</i></b></span><br>
                {{dept_}}
               </div></div>

            </div>
            <br><br>
            <div nz-col nzSpan="24">

                <div nz-row [nzGutter]="1">
                  <div nz-col nzSpan="3">
                    <div nz-row nzJustify="start">
                        <p>Amount Fee</p>
                    </div>
                  </div>
                  <div nz-col nzSpan="1"><h3>:</h3></div>
                  <div nz-col nzSpan="12"><p>&#8369; {{person_data?.amount_paid | number:'1.2-2'}}</p></div>
                </div>
                <div nz-row [nzGutter]="1">
                  <div nz-col nzSpan="3">
                    <div nz-row nzJustify="start">
                        <p>Or No.</p>
                    </div>
                  </div>
                  <div nz-col nzSpan="1"><h3>:</h3></div>
                  <div nz-col nzSpan="12"><p>{{person_data?.or_id}}</p></div>
                </div>
                <div nz-row [nzGutter]="1">
                  <div nz-col nzSpan="3">
                    <div nz-row nzJustify="start">
                        <p>Date</p>
                    </div>
                  </div>
                  <div nz-col nzSpan="1"><h3>:</h3></div>
                  <div nz-col nzSpan="12"><p>{{person_data?.or_date  | date: 'MM/dd/yyyy'}}</p></div>
                </div>

              <br>
            </div>
            <br>
          </div>

        </div>




      </div>

      <div class="footDiv">
        <app-footer-print  *ngIf="formSetting.show_footer == 'true'"></app-footer-print>
      </div>

      <div class="footDivPrint">
        <app-footer-print  *ngIf="formSetting.show_footer == 'true'"></app-footer-print>
      </div>
    </div>

  </div>
</nz-spin>
