<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger [nzPageSize]="15" nzShowQuickJumper>
    <thead>
      <tr class="content-table-head">
        <th class="thClass">Trans Date</th>
        <th class="thClass">Name</th>
        <th class="thClass">Address</th>
        <th class="thClass">Count Days</th>
        <th class="thClass">Released by</th>
        <th class="thClass">Status</th>
      </tr>
    </thead>
    <tbody class="content-table-body">
      <ng-container *ngFor="let data of basicTable.data; let i = index;">
        <tr class="rowHover">
          <td>{{data.application_date | date:'mediumDate'}}</td>
          <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
          <td>{{data.brgy_name}} {{data.street}} , {{data.city_mun_name}}, {{data.province_name}}</td>
          <td>{{data.count_days}}</td>
          <td>{{data.released_by}}</td>
          <td *ngIf="data.status == 'Active'"><nz-tag [nzColor]="'#2799FF'">{{data.status}}</nz-tag></td>
          <td *ngIf="data.status == 'Deleted'"><nz-tag [nzColor]="'#f50'">{{data.status}}</nz-tag></td>
        </tr>
      </ng-container>
    </tbody>

    <ng-template #dateFilter>

      <nz-input-group nzAllowClear style="width: 50%;"  nzSize="large" [nzSuffix]="suffixIconSearch">
        <input 
        type="text" 
        [(ngModel)]="searchModel"
        (ngModelChange)="beginSearch($event)" 
        nz-input 
        placeholder="Search Family Name/Barangay"
        [nzAutocomplete]="auto" />
        <nz-autocomplete #auto>
          <nz-auto-option (click)="triggerSearch(option)" *ngFor="let option of filteredOptions" [nzValue]="option.val">{{ option.val }}</nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i *ngIf="searchModel == ''" nz-icon nzType="search"></i>
        <a *ngIf="searchModel != ''" (click)="clearSearch()"><i nz-icon nzType="close"></i></a>
      </ng-template>
      
      <!-- <label nz-checkbox  style="padding-left: 2%;" [(ngModel)]="statusSwitch" (ngModelChange)="statusFilter()">Show Active Only</label> -->
      <nz-select [ngModel]="recDefaultValue" (ngModelChange)="selectRecommendation($event)" style="float: right; width: 20%;">
        <nz-option *ngFor="let data of listOfRecommendations" [nzValue]="data.id" [nzLabel]="data.recommendation_name"></nz-option>
      </nz-select>

      <div style="margin-top: 10px;">
        <app-date-filter *ngIf="formOptions?.default_filter_id" (generate)="generate($event)"  [formOptions]="formOptions?.default_filter_id"></app-date-filter>
        <div style="text-align: end; font-weight: 500;">Total Count: {{listOfData[0]?.count == null ? '0' : listOfData[0]?.count}}</div>
      </div>
    </ng-template>
    
  </nz-table>
</nz-spin>