<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm();">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>Child Information Setup</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-card>
          <nz-steps [nzCurrent]="current" style="font-weight: 500;">
            <nz-step nzTitle="Identifying Information"></nz-step>
            <nz-step nzTitle="Nutrition and Services"></nz-step>
            <nz-step nzTitle="Health Services"></nz-step>
            <nz-step nzTitle="Nutritional Status"></nz-step>
            <nz-step nzTitle="Developmental Status"></nz-step>
          </nz-steps>

          <div nz-row *ngIf="current === 0" style="padding: 20px;" [nzGutter]="24">
            <div nz-col [nzSpan]="24">
              <span class="text">1. Facility Location*</span>

              <div nz-row [nzGutter]="8" style="margin-top: 10px;">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select region!" nzExtra="(Region)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="facility_region_id" nzPlaceHolder="Select a region">
                          <nz-option type="number" *ngFor="let list of regionList" nzLabel="{{list.reg_name}}" nzValue="{{list.SysPK_region}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="facility_province_id" nzAllowClear nzPlaceHolder="Select a province">
                          <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="facility_citmun_id" nzPlaceHolder="Select a city/municipality">
                          <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="facility_barangay_id" nzPlaceHolder="Select a barangay">
                          <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="facility_street" nz-input placeholder="Street" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </div>
            <div nz-col [nzSpan]="12">
              <span class="text">2. Name of Facility*</span>
              <nz-form-item style="margin-top: 10px;">
                <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                  <nz-input-group>
                    <input style="width: 80%;" formControlName="facility_name" nz-input placeholder="Suffix" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <span class="text">3. Service Provider*</span>
              <nz-form-item style="margin-top: 10px;">
                <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                  <nz-input-group>
                    <input style="width: 80%;" formControlName="service_provider" nz-input placeholder="Suffix" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <span class="text">4a. Name*</span>
              <div nz-row [nzGutter]="16" style="margin-top: 10px;">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your last name!" nzExtra="(Last Name)">
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="last_name" nz-input placeholder="Last Name" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your firstname!" nzExtra="(First Name)">
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="first_name" nz-input placeholder="First Name" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your middle name!" nzExtra="(Middle Name)">
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="middle_name" nz-input placeholder="Middle Name" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="suffix" nz-input placeholder="Suffix" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <span class="text">4b. Nickname</span>
              <nz-form-item style="margin-top: 10px;">
                <nz-form-control nzErrorTip="Please input nickname!">
                  <nz-input-group>
                    <input formControlName="nickname" nz-input placeholder="Suffix" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select gender!">
                      <p class="label">5. Sex*</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="gender_id" nzPlaceHolder="Select a gender">
                          <nz-option *ngFor="let list of genderDropdown" nzLabel="{{list.gender_name}}" nzValue="{{list.gender_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input birth order!">
                      <p class="label">6a. Birth Order*</p>
                      <nz-input-group>
                        <nz-input-number style="width: 100%;" formControlName="birth_order" [nzMin]="1" [nzStep]="1"></nz-input-number>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input birth order!">
                      <p class="label">6b. No of Siblings*</p>
                      <nz-input-group>
                        <nz-input-number style="width: 100%;" formControlName="no_of_siblings" [nzMin]="1" [nzStep]="1"></nz-input-number>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input birth order!">
                      <p class="label">7a. Date of Birth*</p>
                      <nz-input-group>
                        <nz-date-picker style="width: 100%;" formControlName="birth_date"></nz-date-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="18">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your birth place!">
                  <p class="label">8. Birthplace*</p>
                  <nz-input-group>
                    <input formControlName="place_of_birth" nz-input placeholder="Birth Place" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                <nz-form-control nzErrorTip="Please input birth order!">
                  <p class="label">7b. Birth Registered*</p>
                  <nz-input-group>
                    <nz-date-picker style="width: 100%;" formControlName="birth_registered"></nz-date-picker>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="24">
              <span class="text">9. Home Address*</span>

              <div nz-row [nzGutter]="8" style="margin-top: 10px;">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select region!" nzExtra="(Region)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="region_id" nzPlaceHolder="Select a region">
                          <nz-option type="number" *ngFor="let list of regionList" nzLabel="{{list.reg_name}}" nzValue="{{list.SysPK_region}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="province_id" nzAllowClear nzPlaceHolder="Select a province">
                          <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="citmun_id" nzPlaceHolder="Select a city/municipality">
                          <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
                          <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="street" nz-input placeholder="Street" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your religion!">
                  <p class="label">10. Religion</p>
                  <nz-input-group>
                    <input formControlName="religion" nz-input placeholder="Birth Place" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input ethnicity!">
                  <p class="label">11. Ethnicity</p>
                  <nz-input-group>
                    <input formControlName="ethnicity" nz-input placeholder="Birth Place" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row *ngIf="current === 1" [nzGutter]="24" style="padding: 20px;">
            <div nz-col [nzSpan]="24">

              <div nz-row>
                <div nz-col [nzSpan]="12">
                  <span class="text">12. The child underwent the following: </span>
                  <span style="font-style: italic; font-weight: 500;">(check all applicable and fill details)</span>
                  <div class="text" style="margin-top: 15px;">
                    <label nz-checkbox formControlName="breast_feeding" (ngModelChange)="checkBreastfeeding($event)" [ngModel]="checkedBreastFeeding">Breastfeeding</label>
                    <div *ngIf="hideBreastfeeding" style="padding-left: 5%;">
                      <span class="text">Kind of Breastfeeding</span>
                      <div>
                        <nz-radio-group formControlName="kind_of_breastfeeding" [(ngModel)]="radioBreastFeedingValue">
                          <label nz-radio nzValue="Exclusive">Exclusive</label>
                          <label nz-radio nzValue="Mixed">Mixed</label>
                        </nz-radio-group>
                      </div>
                      <span>Breasted for </span>
                      <nz-input-number formControlName="months_breasted" [nzMin]="1" [nzStep]="1"></nz-input-number>
                      <span class="text"> Months</span>
                    </div>
                  </div>
                  <div class="text" style="margin-top: 15px;">
                    <label nz-checkbox formControlName="supplementary_feeding" (ngModelChange)="checkSupplementary($event)" [ngModel]="checkedSupplementaryFeeding">Supplementary Feeding - supplemented for</label>
                    <div *ngIf="hideSupplementary" style="padding-left: 5%;">
                      <nz-input-number formControlName="supplementary_days" [nzMin]="1" [nzStep]="1"></nz-input-number>
                      <span class="text"> Days</span>
                    </div>
                  </div>
                  <div class="text" style="margin-top: 15px;">
                    <label nz-checkbox formControlName="child_disability" (ngModelChange)="checkChildDisability($event)" [ngModel]="checkedDisability">Child have Disability/Impairment</label>
                    <div *ngIf="hideChildDisability" style="padding-left: 5%;">
                      <div class="text">Has the child been referred for assistance / assessment or other services in connection with his/her disability / impairment?*</div>
                      <nz-radio-group formControlName="child_referred" [(ngModel)]="radioBreastFeedingValue">
                        <label nz-radio nzValue="Yes">Yes</label>
                        <label nz-radio nzValue="No">No</label>
                      </nz-radio-group>
                    </div>
                  </div>
                  <div class="text" style="margin-top: 15px;">
                    <label nz-checkbox formControlName="listahanan" (ngModelChange)="checkListahanan($event)" [ngModel]="checkedListahanan">Listahanan Identified</label>
                  </div>
                  <div class="text" style="margin-top: 15px;">
                    <label nz-checkbox formControlName="pantawid_beneficiary" (ngModelChange)="checkPantawid($event)" [ngModel]="checkedPantawid">Pantawid Beneficiary</label>
                    <div *ngIf="hidePantawid" style="padding-left: 5%;">
                      <div class="text">Household ID</div>
                      <input style="width: 50%;" formControlName="household_id" nz-input />
                    </div>
                  </div>

                  <div nz-row [nzGutter]="24" style="margin-top: 15px;">
                    <div nz-col [nzSpan]="12">
                      <span class="text">15a. Participation Fee</span>
                      <div class="text" style="padding-left: 5%;">
                        <label nz-checkbox formControlName="participation_fee" (ngModelChange)="checkParticipationFee($event)" [ngModel]="checkedParticipationFee">Paid amount of:</label>
                        <input *ngIf="hidePaidAmount" nz-input formControlName="paid_amount" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" style="text-align: right;"/>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="12">
                      <span class="text">17. Scheduled Session*</span>
                      <div class="text" style="padding-left: 5%;">
                        <nz-radio-group formControlName="scheduled_session" [(ngModel)]="radioScheduledSessionValue">
                          <label style="display: block;" nz-radio nzValue="Morning Session">Morning Session</label>
                          <label nz-radio nzValue="Afternoon Session">Afternoon Session</label>
                        </nz-radio-group>
                      </div>
                    </div>
                  </div>

                  <div nz-row [nzGutter]="24" style="margin-top: 15px;">
                    <div nz-col [nzSpan]="12">
                      <span class="text">15b. Parent's Counterpart</span>
                      <div class="text" style="padding-left: 5%;">
                        <nz-radio-group formControlName="parents_counterpart" [(ngModel)]="radioParentsCounterpartValue">
                          <label style="display: block;" nz-radio nzValue="Cash">Cash</label>
                          <label style="display: block;" nz-radio nzValue="In Kind">In Kind</label>
                          <label nz-radio nzValue="None">None</label>
                        </nz-radio-group>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="12">
                      <span class="text">18. Attendance Status*</span>
                      <div class="text" style="padding-left: 5%;">
                        <nz-radio-group formControlName="attendance_status" [(ngModel)]="radioAttendanceStatusValue">
                          <label style="display: block;" nz-radio nzValue="Continuing">Continuing</label>
                          <label style="display: block;" nz-radio nzValue="Dropped Out">Dropped Out</label>
                          <label nz-radio nzValue="Graduated">Graduated</label>
                        </nz-radio-group>
                      </div>
                    </div>
                  </div>

                  <div nz-row [nzGutter]="24" style="margin-top: 15px;">
                    <div nz-col [nzSpan]="12">
                      <span class="text">16. School Year*</span>
                      <input nz-input formControlName="school_year" />
                    </div>
                    <div nz-col [nzSpan]="12">
                      <span class="text">If drop out, reason:</span>
                      <div class="text" style="padding-left: 5%;">
                        <nz-radio-group formControlName="reason_for_dropout" (ngModelChange)="checkOthers($event)" [(ngModel)]="radioReasonDropoutValue">
                          <label style="display: block;" nz-radio nzValue="Illness">Illness</label>
                          <label style="display: block;" nz-radio nzValue="Transfer of Residence">Transfer of Residence</label>
                          <label nz-radio nzValue="Others">Others (specify)</label>
                          <input *ngIf="hideReasonOthers" formControlName="dropout_specify_others" nz-input />
                        </nz-radio-group>
                      </div>
                    </div>
                  </div>

                </div>

                <div nz-col [nzSpan]="12">
                  <span class="text">13. The child has the following disabilities/impairments: </span>
                
                  <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="disability_details" [nzData]="dataDisplay" [nzTitle]="Add" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                    <thead>
                      <tr>
                        <th>a. Disability / Impairment <span style="font-style: italic; font-size: 11px;">(e.g. hearing, speech, visual)</span></th>
                        <th>b. Cause <span style="font-style: italic; font-size: 11px;">(e.g. inborn, illness)</span></th>
                        <th nzWidth="3%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let quantity of quantitiesDisability().controls; let i=index" [formGroupName]="i">
                        <td><input formControlName="disability" nz-input placeholder="Disability" /></td>
                        <td><input formControlName="cause" nz-input placeholder="Cause" /></td>
                        <td>
                          <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantity(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                        </td> 
                      </tr>
                    </tbody>
                    <ng-template #Add>
                      <div style="text-align-last: end;">
                        <button (click)="addRow(); $event.preventDefault();" nz-button nzType="default">
                          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                          Add
                        </button>
                      </div>
                    </ng-template>
                    
                  </nz-table>

                  <div style="margin-top: 15px;">
                    <span class="text">14. The child has the following past ECCD experiences: </span>
                  </div>
                  
                  <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="eccd_details" [nzData]="dataDisplayEccd" [nzTitle]="AddECCD" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                    <thead>
                      <tr>
                        <th>a. Service Type <br><span style="font-style: italic; font-size: 11px;">(e.g. Center, Community)</span></th>
                        <th>b. Service <br><span style="font-style: italic; font-size: 11px;">(e.g. Child Minding, Day Care Mother)</span></th>
                        <th>c. From <span style="font-style: italic; font-size: 11px;">(Start Date)</span><br><span style="font-style: italic; font-size: 12px;">(YYYY-MM-DD)</span></th>
                        <th>d. To <span style="font-style: italic; font-size: 11px;">(End Date)</span><br><span style="font-style: italic; font-size: 12px;">(YYYY-MM-DD)</span></th>
                        <th nzWidth="3%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let quantity of quantitiesECCD().controls; let i=index" [formGroupName]="i">
                        <td><input formControlName="serviceType" nz-input placeholder="Service Type" /></td>
                        <td><input formControlName="service" nz-input placeholder="Service" /></td>
                        <td><nz-date-picker style="width: 100%;" formControlName="eccdDateFrom"></nz-date-picker></td>
                        <td><nz-date-picker style="width: 100%;" formControlName="eccdDateTo"></nz-date-picker></td>
                        <td>
                          <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantityECCD(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                        </td> 
                      </tr>
                    </tbody>
                    <ng-template #AddECCD>
                      <div style="text-align-last: end;">
                        <button (click)="addRowECCD(); $event.preventDefault();" nz-button nzType="default">
                          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                          Add
                        </button>
                      </div>
                    </ng-template>
                    
                  </nz-table>

                </div>

              </div>

            </div>
          </div>

          <div nz-row *ngIf="current === 2" style="padding: 20px;">
            <div nz-col [nzSpan]="24">
              
              <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="health_details" [nzData]="dataDisplayHealth" [nzTitle]="AddHealth" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                <thead>
                  <tr>
                    <th>19a. Health Service*</th>
                    <th>b. Date YYYY-MM-DD</th>
                    <th nzWidth="3%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantity of quantitiesHealth().controls; let i=index" [formGroupName]="i">
                    <td><input formControlName="healthService" nz-input placeholder="Service Type" /></td>
                    <td><nz-date-picker style="width: 100%;" formControlName="healthDate"></nz-date-picker></td>
                    <td>
                      <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantityHealth(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </td> 
                  </tr>
                </tbody>
                <ng-template #AddHealth>
                  <div style="text-align-last: end;">
                    <button (click)="addRowHealth(); $event.preventDefault();" nz-button nzType="default">
                      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                      Add
                    </button>
                  </div>
                </ng-template>
                
              </nz-table>

            </div>
          </div>

          <div nz-row *ngIf="current === 3" style="padding: 20px;">
            <div nz-col [nzSpan]="24">
              
              <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="nutritional_details" [nzData]="dataDisplayNutritional" [nzTitle]="AddNutritional" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                <thead>
                  <tr>
                    <th nzWidth="5%" style="text-align:center;">Nutritional Log</th>
                    <th style="text-align:center;">Date YYYY-MM-DD</th>
                    <th style="text-align:center;">Age</th>
                    <th style="text-align:center;">Height (cm)</th>
                    <th style="text-align:center;">Weight (kg)</th>
                    <th style="text-align:center;">Nutritional Status</th>
                    <th nzWidth="3%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantity of quantitiesNutritional().controls; let i=index" [formGroupName]="i">
                    <td>{{i+1}}</td>
                    <td><nz-date-picker style="width: 100%;" formControlName="nutritionalDate"></nz-date-picker></td>
                    <td><nz-input-number style="width: 100%;" formControlName="nutritionalAge" [nzMin]="1" [nzMax]="150" [nzStep]="1"></nz-input-number></td>
                    <td><nz-input-number style="width: 100%;" formControlName="nutritionalHeight" [nzMin]="1" [nzStep]="0.1"></nz-input-number></td>
                    <td><nz-input-number style="width: 100%;" formControlName="nutritionalWeight" [nzMin]="1" [nzStep]="0.1"></nz-input-number></td>
                    <td><input formControlName="nutritionalStatus" nz-input placeholder="Nutritional Status" /></td>
                    <td>
                      <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantityNutritional(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </td> 
                  </tr>
                </tbody>
                <ng-template #AddNutritional>
                  <div style="text-align-last: end;">
                    <button (click)="addRowNutritional(); $event.preventDefault();" nz-button nzType="default">
                      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                      Add
                    </button>
                  </div>
                </ng-template>
                
              </nz-table>

            </div>
          </div>

          <div nz-row *ngIf="current === 4" [nzGutter]="24" style="padding: 20px;">
            <div nz-col [nzSpan]="8">
              <span class="text">1<sup>st</sup> Evaluation</span>
              <nz-date-picker style="width: 100%; margin-top: 5px;" formControlName="first_evaluation_date"></nz-date-picker>
              <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="first_evaluation_details" [nzData]="dataDisplayFirstEvaluation" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                <thead>
                  <tr>
                    <th>Domains</th>
                    <th nzWidth="20%">Raw Score</th>
                    <th nzWidth="20%">Scaled Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantity of quantitiesFirstEvaluation().controls; let i=index" [formGroupName]="i">
                    <td><input formControlName="evaluationDomain" nz-input nzBorderless /></td>
                    <td><nz-input-number [id]="firstRawScoreID[i]" style="width: 100%;" formControlName="firstRawScore" (ngModelChange)="updateFirstRawScore()" [nzMin]="0" [nzStep]="0.1"></nz-input-number></td>
                    <td><nz-input-number [id]="firstScaledScoreID[i]" style="width: 100%;" formControlName="firstScaledScore" (ngModelChange)="updateFirstScaledScore()" [nzMin]="0" [nzStep]="0.1"></nz-input-number></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td style="text-align: right; font-weight: 500;">Overall Interpretation:</td>
                    <td style="font-weight: 500;">{{firstRawTotalScore | number:'1.2-2'}}</td>
                    <td style="font-weight: 500;">{{firstScaledTotalScore | number:'1.2-2'}}</td>
                  </tr>
                </tfoot>
                
              </nz-table>

            </div>

            <div nz-col [nzSpan]="8">
              <span class="text">2<sup>nd</sup> Evaluation</span>
              <nz-date-picker style="width: 100%; margin-top: 5px;" formControlName="second_evaluation_date"></nz-date-picker>
              <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="second_evaluation_details" [nzData]="dataDisplaySecondEvaluation" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                <thead>
                  <tr>
                    <th>Domains</th>
                    <th nzWidth="20%">Raw Score</th>
                    <th nzWidth="20%">Scaled Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantity of quantitiesSecondEvaluation().controls; let i=index" [formGroupName]="i">
                    <td><input formControlName="evaluationDomain" nz-input nzBorderless /></td>
                    <td><nz-input-number [id]="secondRawScoreID[i]" style="width: 100%;" formControlName="secondRawScore" (ngModelChange)="updateSecondRawScore()" [nzMin]="0" [nzStep]="0.1"></nz-input-number></td>
                    <td><nz-input-number [id]="secondScaledScoreID[i]" style="width: 100%;" formControlName="secondScaledScore" (ngModelChange)="updateSecondScaledScore()" [nzMin]="0" [nzStep]="0.1"></nz-input-number></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td style="text-align: right; font-weight: 500;">Overall Interpretation:</td>
                    <td style="font-weight: 500;">{{secondRawTotalScore | number:'1.2-2'}}</td>
                    <td style="font-weight: 500;">{{secondScaledTotalScore | number:'1.2-2'}}</td>
                  </tr>
                </tfoot>

              </nz-table>

            </div>

            <div nz-col [nzSpan]="8">
              <span class="text">3<sup>rd</sup> Evaluation</span>
              <nz-date-picker style="width: 100%; margin-top: 5px;" formControlName="third_evaluation_date"></nz-date-picker>
              <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1; margin-top: 15px;" formArrayName="third_evaluation_details" [nzData]="dataDisplayThirdEvaluation" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                <thead>
                  <tr>
                    <th>Domains</th>
                    <th nzWidth="20%">Raw Score</th>
                    <th nzWidth="20%">Scaled Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantity of quantitiesThirdEvaluation().controls; let i=index" [formGroupName]="i">
                    <td><input formControlName="evaluationDomain" nz-input nzBorderless /></td>
                    <td><nz-input-number [id]="thirdRawScoreID[i]" style="width: 100%;" formControlName="thirdRawScore" (ngModelChange)="updateThirdRawScore()" [nzMin]="0" [nzStep]="0.1"></nz-input-number></td>
                    <td><nz-input-number [id]="thirdScaledScoreID[i]" style="width: 100%;" formControlName="thirdScaledScore" (ngModelChange)="updateThirdScaledScore()" [nzMin]="0" [nzStep]="0.1"></nz-input-number></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td style="text-align: right; font-weight: 500;">Overall Interpretation:</td>
                    <td style="font-weight: 500;">{{thirdRawTotalScore | number:'1.2-2'}}</td>
                    <td style="font-weight: 500;">{{thirdScaledTotalScore | number:'1.2-2'}}</td>
                  </tr>
                </tfoot>

              </nz-table>

            </div>
          </div>

          <div class="steps-action">
            <button nz-button nzType="default" (click)="pre(); $event.preventDefault();" *ngIf="current > 0">
              <span><i nz-icon nzType="step-backward" nzTheme="outline"></i> Previous</span>
            </button>
            <button nz-button style="margin-left: 10px;" nzType="default" (click)="next(); $event.preventDefault();" *ngIf="current < 4">
              <span>Next <i nz-icon nzType="step-forward" nzTheme="outline"></i></span>
            </button>
          </div>
        </nz-card>

      </form>
    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>