<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> Child Information Form</h3>
  <span style="font-weight: 500;">Pages : </span>
  <nz-radio-group style="padding-right: 10px;" [(ngModel)]="radioValue" (ngModelChange)="selectedPages($event)">
    <label nz-radio-button nzValue="front">Front Page</label>
    <label nz-radio-button nzValue="back">Back Page</label>
  </nz-radio-group>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div *ngIf="radioValue == 'front'">
    <div class="printLayout" id="report-section">
      <div class="printContent">
        <!-- <app-header-print></app-header-print> -->
        <!-- <div style="text-align: center;"><h2>CHILD INFORMATION FORM</h2></div> -->
        <div class="content">

          <div nz-row style="border: 1px solid gray;">
            <div nz-col [nzSpan]="8" style="padding: 10px;">
              <span style="font-weight: 500;">Rev. 00.0000</span>
              <div nz-row>
                <div nz-col [nzSpan]="24">
                  <img src="assets/img/social-welfare-logo.png" alt="Social Welfare Logo" style="height: 60px; float: left;">
                  <div style="font-size: 13px;">Republic of the Philippines</div>
                  <div style="font-size: 13px;">Department of Social Welfare and Development</div>
                  <div style="font-size: 13px;">Early Childhood Care and Development</div>
                </div>
                <!-- <div nz-col [nzSpan]="18">
                  
                </div> -->
              </div>
            </div>
            <div nz-col [nzSpan]="8" style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
              <h2>Child Information Sheet</h2>
            </div>
            <div nz-col [nzSpan]="8" style="text-align: right; padding: 10px;">
              <span style="font-weight: 500;">ECCDFID</span>
              <span style="font-style: italic;">(to be filled up by the encoder)</span>
              <div style="border: 1px solid gray; height: 45%; margin-left: 20%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </div>
          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24" style="border: 1px solid gray;">
              
              <span style="font-weight: bold;">I. Indentifying Information</span>&nbsp;
              <span style="font-style: italic;">Note: Fields with (*) asterisk are required fields</span>

            </div>
          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24" style="border: 1px solid gray;">

              <div style="margin: 10px;">
                <nz-descriptions>
                  <nz-descriptions-item nzTitle="1. Facility Location*" [nzSpan]="3">
                    <div class="borderAll">
                      <!-- Age here -->
                      &nbsp;
                    </div>
                  </nz-descriptions-item>
                </nz-descriptions>

                <nz-descriptions>
                  <nz-descriptions-item nzTitle="2. Name of Facility*" [nzSpan]="1.5">
                    <div class="borderAll">
                      <!-- Age here -->
                      &nbsp;
                    </div>
                  </nz-descriptions-item>

                  <nz-descriptions-item nzTitle="3. Service Provider*" [nzSpan]="1.5">
                    <div class="borderAll">
                      <!-- Age here -->
                      &nbsp;
                    </div>
                  </nz-descriptions-item>
                </nz-descriptions>

                <nz-descriptions>
                  <nz-descriptions-item nzTitle="4a. Name*" [nzSpan]="2">
                    <div class="borderAll">
                      <!-- Age here -->
                      &nbsp;
                    </div>
                  </nz-descriptions-item>

                  <nz-descriptions-item nzTitle="4b. Nickname" [nzSpan]="1">
                    <div class="borderAll">
                      <!-- Age here -->
                      &nbsp;
                    </div>
                  </nz-descriptions-item>
                </nz-descriptions>

                <div nz-row>
                  <div nz-col [nzSpan]="15">
                    <nz-descriptions>
                      <nz-descriptions-item nzTitle="5. Sex*" [nzSpan]="1">
                        <div class="box" style="display: inline;">
                          &nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Male</div>
              
                        <div class="box" style="display: inline;">
                          &nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'true'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'false'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Female</div>
                      </nz-descriptions-item>
    
                      <nz-descriptions-item nzTitle="6a. Birth Order*" [nzSpan]="1">
                        <div class="borderAll">
                          <!-- Age here -->
                          &nbsp;
                        </div>
                      </nz-descriptions-item>
    
                      <nz-descriptions-item nzTitle="6b. No of siblings*" [nzSpan]="1">
                        <div class="borderAll">
                          <!-- Age here -->
                          &nbsp;
                        </div>
                      </nz-descriptions-item>

                      <nz-descriptions-item nzTitle="8. Birthplace*" [nzSpan]="1">
                        <div class="borderAll">
                          <!-- Age here -->
                          &nbsp;
                        </div>
                      </nz-descriptions-item>
    
                    </nz-descriptions>
                  </div>

                  <div nz-col [nzSpan]="9">

                    <nz-descriptions>
                      <nz-descriptions-item nzTitle="7a. Date of Birth*" [nzSpan]="3">
                        <div class="borderAll">
                          <!-- Age here -->
                          &nbsp;
                        </div>
                      </nz-descriptions-item>
  
                      <nz-descriptions-item nzTitle="7b. Birth Registered*" [nzSpan]="3">
                        <div class="borderAll">
                          <!-- Age here -->
                          &nbsp;
                        </div>
                      </nz-descriptions-item>
                    </nz-descriptions>

                  </div>

                  <nz-descriptions>
                    <nz-descriptions-item nzTitle="9. Home Address*" [nzSpan]="3">
                      <div class="borderAll">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>

                  </nz-descriptions>

                  <nz-descriptions>
                    <nz-descriptions-item nzTitle="10. Religion*" [nzSpan]="1.5">
                      <div class="borderAll">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>
  
                    <nz-descriptions-item nzTitle="11. Ethnicity" [nzSpan]="1.5">
                      <div class="borderAll">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>
                  </nz-descriptions>

                </div>

              </div>

            </div>
          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24" style="border: 1px solid gray;">
              
              <span style="font-weight: bold;">II. Nutrition and Services</span>&nbsp;

            </div>
          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24" style="border: 1px solid gray;">

              <div nz-row style="padding: 5px;" [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <span>12. The child underwent the following: </span>
                  <span style="font-style: italic;">(check all applicable and fill details)</span>
                
                  <div nz-row style="margin-left: 5%; margin-top: 2%;">
                    <div nz-col [nzSpan]="24">

                      <div class="box2" style="display: inline;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                        <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                      </div>
                      <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Breastfeeding</div>
                      <div style="margin-left: 6%; margin-bottom: 3%;">
                        <div>Kind of Breastfeeding</div>
                        <nz-descriptions [nzColon]="false">
                          <nz-descriptions-item nzTitle="">
                            <div class="box" style="display: inline;">
                              &nbsp;
                              <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                              <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                            </div>
                            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Exclusive</div>
                  
                            <div class="box" style="display: inline;">
                              &nbsp;
                              <!-- <span *ngIf="data?.pensioner == 'true'">&nbsp;</span>
                              <i *ngIf="data?.pensioner == 'false'" nz-icon nzType="check" nzTheme="outline"></i> -->
                            </div>
                            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Mixed</div>
                          </nz-descriptions-item>
                        </nz-descriptions>
                        <div>Breasted for</div>
                        <div class="wordBox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="padding-right: 10px;">months</span></div>
                      </div>

                      <div class="box2" style="display: inline;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                        <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                      </div>
                      <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Supplementary Feeding - supplemented for</div>
                      <div style="margin-left: 6%; margin-top: 5px;">
                        <div class="wordBox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="padding-right: 10px;">days</span></div>
                      </div>
                      
                      <br>
                      <div class="box2" style="display: inline;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                        <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                      </div>
                      <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Child have Disability/Impairment</div>
                      
                      <div style="margin-left: 6%;">
                        <div><span>Has the child been referred for assistance /<br> assessment or other services in connection with <br> his/her disability/impairment?*</span></div>
                        <div style="border: 1px solid gray; width: 40%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                      </div>

                      <br>
                      <div class="box2" style="display: inline;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                        <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                      </div>
                      <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Listahan Identified</div>
                      <div></div>
                      <br>
                      <div class="box2" style="display: inline;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                        <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                      </div>
                      <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%;">Pantawid Beneficiary</div>
                      
                      <div style="margin-left: 6%;">
                        <div>Household ID</div>
                        <div style="border: 1px solid gray; width: 30%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                      </div>
                      
                    </div>
                  </div>

                  <div nz-row style="margin-left: 2%; margin-top: 2%;">
                    <div nz-col [nzSpan]="12">
                      <div style="font-weight: 500;">15.a Participation Fee</div>
                      <div style="margin-left: 5%; margin-top: 2%;">
                        <div class="box2" style="display: inline;">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; padding-right: 5%;">Paid amount of</div>
                        <div style="border: 1px solid gray; width: 50%; margin-left: 12%; margin-top: 2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                      </div>
                    
                      <div style="font-weight: 500; margin-top: 5%;">15.b Parent's Counterpart</div>
                      <div style="margin-left: 5%; margin-top: 2%;">
                        <div class="box2" style="display: inline;">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; padding-right: 5%;">Cash</div>
                        <br>
                        
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">In Kind</div>
                        </div>
                        
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">None</div>
                        </div>
                      </div>

                      <div style="font-weight: 500; margin-top: 5%;">16. School Year*</div>
                      <div style="border: 1px solid gray; width: 50%; margin-left: 5%; margin-top: 2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

                    </div>
                    <div nz-col [nzSpan]="12">
                      <div style="font-weight: 500;">17. Scheduled Session*</div>
                      <div style="margin-left: 5%; margin-top: 2%;">
                        <div class="box2" style="display: inline;">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; padding-right: 5%;">Morning Session</div>
                        <br>
  
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">Afternoon Session</div>
                        </div>
                      </div>

                      <div style="font-weight: 500; margin-top: 5%;">18. Attendance Status*</div>
                      <div style="margin-left: 5%; margin-top: 2%;">
                        <div class="box2" style="display: inline;">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; padding-right: 5%;">Continuing</div>
                        <br>
                        
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">Dropped Out</div>
                        </div>
                        
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">Graduated</div>
                        </div>
                      </div>
                    
                      <div style="font-weight: 500; margin-top: 5%;">If drop out, reason:</div>
                      <div style="margin-left: 5%; margin-top: 2%;">
                        <div class="box2" style="display: inline;">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                          <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                        </div>
                        <div style="display: inline; padding-left: 10px; padding-right: 5%;">Illness</div>
                        <br>
                        
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">Transfer of Residence</div>
                        </div>
  
                        <div style="margin-top: 3%;">
                          <div class="box2" style="display: inline;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <span *ngIf="data?.pensioner == 'false'">&nbsp;</span>
                            <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i> -->
                          </div>
                          <div style="display: inline; padding-left: 10px; padding-right: 5%;">Others (specify):</div>
                        </div>
  
                        <span>&nbsp;</span>
                        <div class="signatureLabel"></div>
                      </div>

                    </div>
                  </div>

                </div>

                <div nz-col [nzSpan]="12">
                  <span>13. The child has the following disabilities/impairments: </span>
                
                  <div nz-row style="margin-top: 10px;">
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      a. Disability / Impairment (e.g. hearing, speech visual)
                    </div>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      b. Cause (e.g. inborn, illness)
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      1.
                    </div>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      &nbsp;
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      2.
                    </div>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      &nbsp;
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      3.
                    </div>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      &nbsp;
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      4.
                    </div>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      &nbsp;
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      5.
                    </div>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 3px;">
                      &nbsp;
                    </div>
                  </div>

                  <div style="margin-top: 10%;">14. The child has the following past ECCD experiences:</div>

                  <div nz-row style="margin-top: 10px;">
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px;">
                      a. Service Type (e.g. Center, Community)
                    </div>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px;">
                      b. Service (e.g. Child Minding, Day Care Mother)
                    </div>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px;">
                      c. From (Start Date) (YYYY-MM-DD)
                    </div>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px;">
                      d. To (End Date) (YYYY-MM-DD)
                    </div>  
                  </div>
                  <div nz-row>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; height: 200px;"></div>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; height: 200px;"></div>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; height: 200px;"></div>
                    <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; height: 200px;"></div>
                  </div>

                  <div style="margin-top: 10px;">Accomplished By*</div>

                  <div nz-row style="margin-top: 5%;">
                    <div nz-col [nzSpan]="18">
              
                      <span>&nbsp;</span>
                      <div class="signatureLabel">
                        Name and Signature of ECCD Service Provider
                      </div>
              
                    </div>
              
                  </div>

                  <nz-descriptions [nzColon]="false" style="margin-top: 5%;">
                    <nz-descriptions-item nzTitle="Date Accomplished*" [nzSpan]="3">
                      <div class="borderAll" style="margin-left: 10%; margin-right: 15%;">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>
                  </nz-descriptions>
                  <div nz-row>
                    <div nz-col [nzSpan]="10">

                    </div>
                    <div nz-col [nzSpan]="14">
                      YYYY&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;MM&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;DD
                    </div>
                  </div>
                  <nz-descriptions [nzColon]="false" style="margin-top: 5%;">
                    <nz-descriptions-item nzTitle="Encoder ID" [nzSpan]="3" style="padding-top: 5%;">
                      <div class="borderAll" style="margin-left: 10%; margin-right: 25%;">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>
                  </nz-descriptions>
                  
                </div>
              </div>

              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="radioValue == 'back'">
    <div class="printLayout" id="report-section">
      <div class="printContent">
        <div class="contentBack">
          <div nz-row>
            <div nz-col [nzSpan]="24">

              <div nz-row style="border: 1px solid gray;">
                <div nz-col [nzSpan]="8" style="padding: 10px;">
                  <div nz-row>
                    <div nz-col [nzSpan]="24">
                      <img src="assets/img/social-welfare-logo.png" alt="Social Welfare Logo" style="height: 60px; float: left;">
                      <div style="font-size: 13px;">Republic of the Philippines</div>
                      <div style="font-size: 13px;">Department of Social Welfare and Development</div>
                      <div style="font-size: 13px;">Early Childhood Care and Development</div>
                    </div>
                    <!-- <div nz-col [nzSpan]="18">
                      
                    </div> -->
                  </div>
                </div>
                <div nz-col [nzSpan]="8" style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
                  <h2>Child Information Sheet</h2>
                </div>
                <div nz-col [nzSpan]="8" style="text-align: right; padding: 10px;">
                  <span style="font-weight: 500;">ECCDFID</span>
                  <span style="font-style: italic;">(to be filled up by the encoder)</span>
                  <div style="border: 1px solid gray; height: 45%; margin-left: 20%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>
              </div>

              <div nz-row>
                <div nz-col [nzSpan]="24" style="border: 1px solid gray;">
                  
                  <span style="font-weight: bold;">III. Health Services</span>&nbsp;
                  <span>Have the Health Service Provider sign beside each entry</span>
                  <span style="font-style: italic;">(use additional sheets as necessary)</span>
    
                </div>
              </div>

              <div nz-row>
                <div nz-col [nzSpan]="24" style="border: 1px solid gray;">

                  <div nz-row>
                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 10px;">
                      
                      <div nz-row>
                        <div nz-col [nzSpan]="15" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          19a. Health Service*
                        </div>
                        <div nz-col [nzSpan]="9" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          b. Date YYYY-MM-DD
                        </div>
                      </div>
                      
                      <div nz-row *ngFor="let data of generateHealthData; let i = index;">
                        <div class="healthserviceborder" nz-col [nzSpan]="15" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          <span style="font-weight: 400;"> {{i + 1}}. {{data}}</span>
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>

                    </div>

                    <div nz-col [nzSpan]="12" style="border: 1px solid gray; padding: 10px;">
                      
                      <div nz-row>
                        <div nz-col [nzSpan]="15" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          19a. Health Service*
                        </div>
                        <div nz-col [nzSpan]="9" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          b. Date YYYY-MM-DD
                        </div>
                      </div>

                      <div nz-row *ngFor="let data of generateHealthDataSecondColumn; let i = index;">
                        <div class="healthserviceborder" nz-col [nzSpan]="15" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          <span style="font-weight: 400;"> {{i + 25}}. {{data}}</span>
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div nz-row>
                <div nz-col [nzSpan]="12" style="border: 1px solid gray;">
                  
                  <span style="font-weight: bold;">IV. Nutritional Status</span>&nbsp;
                  <span style="font-style: italic;">(use additional sheets as necessary)</span>

                  <div nz-row>
                    <div nz-col [nzSpan]="24" style="padding: 10px; padding-top: 2px;">

                      <div nz-row>
                        <div nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Nutritional Log
                        </div>
                        <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Date YYYY-MM-DD
                        </div>
                        <div nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Age
                        </div>
                        <div nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Height <br>(cm)
                        </div>  
                        <div nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Weight <br>(kg)
                        </div>  
                        <div nz-col [nzSpan]="4"  style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Nutritional Status
                        </div>  
                      </div>

                      <div nz-row *ngFor="let data of generateNutritionalStatus; let i = index;">
                        <div class="healthserviceborder" nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          <span style="font-weight: 400;"> {{i + 1}}. {{data}}</span>
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="1" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="1" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>  
                        <div class="healthserviceborder" nz-col [nzSpan]="4" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>  
                        <div class="healthserviceborder" nz-col [nzSpan]="4"  style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>  
                      </div>
                    </div>
                  </div>

                  <div style="padding: 10px;">Nutritional Status <span style="font-style: italic;">(e.g. overweight, underweight, normal, malnourished)</span></div>
    
                </div>

                <div nz-col [nzSpan]="12" style="border: 1px solid gray;">
                  
                  <span style="font-weight: bold;">V. Developmental Status (Using the ECCD Checklist)</span>&nbsp;
    
                  <div nz-row>
                    <div nz-col [nzSpan]="24" style="padding: 10px; padding-top: 2px;">

                      <div nz-row>
                        <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Evaluation*
                        </div>
                        <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          1<sup>st</sup> Evaluation
                        </div>
                        <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          2<sup>nd</sup> Evaluation
                        </div>
                        <div nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          3<sup>rd</sup> Evaluation
                        </div>  
                      </div>

                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          Evaluation Date <br> (YYYY-MM-DD)
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="2" style="border: 1px solid gray; padding: 3px; text-align: center; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>

                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Domains
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Raw Score
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Scaled Score
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Raw Score
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Scaled Score
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Raw Score
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          Scaled Score
                        </div>
                      </div>

                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          a. Fine Motor Development
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          b. Gross Motor
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          c. Self Help
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          d. Receptive Language
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          e. Expressive Language
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          f. Cognitive
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          f. Cognitive
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>
                      <div nz-row>
                        <div class="healthserviceborder" nz-col [nzSpan]="6" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          g. Socio Emotional
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                        <div class="healthserviceborder" nz-col [nzSpan]="3" style="border: 1px solid gray; padding: 3px; font-weight: 500;">
                          &nbsp;
                        </div>
                      </div>

                      <div nz-row style="font-size: 11px; margin-top: 5px;">
                        <div nz-col [nzSpan]="12">
                          <span>Nutritional Status <br>Weight-for-Age</span>

                          <div nz-row>
                            <div nz-col [nzSpan]="2">1</div>
                            <div nz-col [nzSpan]="8"><-2SD</div>
                            <div nz-col [nzSpan]="6">Underweight</div>
                          </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="2">2</div>
                            <div nz-col [nzSpan]="8">-2SD to +2SD</div>
                            <div nz-col [nzSpan]="6">Normal</div>
                          </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="2">3</div>
                            <div nz-col [nzSpan]="8">>+2SD</div>
                            <div nz-col [nzSpan]="6">Overweight</div>
                          </div>

                        </div>
                        <div nz-col [nzSpan]="12">
                          <span>Developmental Status Interpretation</span>

                          <div nz-row>
                            <div nz-col [nzSpan]="2">1</div>
                            <div nz-col [nzSpan]="22">Highly Advanced</div>
                          </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="2">2</div>
                            <div nz-col [nzSpan]="22">Slightly Advanced</div>
                          </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="2">3</div>
                            <div nz-col [nzSpan]="22">Average Development</div>
                          </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="2">4</div>
                            <div nz-col [nzSpan]="22">Development to be mentioned after 6 months</div>
                          </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="2">5</div>
                            <div nz-col [nzSpan]="22">Development to be mentioned after 3 months</div>
                          </div>
                        </div>
                      </div>

                      <div>Reviewed By*</div>

                  <div nz-row style="margin-top: 2%;">
                    <div nz-col [nzSpan]="18">
              
                      <span>&nbsp;</span>
                      <div class="signatureLabel">
                        Name and Signature of ECCD Service Provider
                      </div>
              
                    </div>
              
                  </div>

                  <nz-descriptions style="margin-top: -20px;">
                    <nz-descriptions-item nzTitle="Date Accomplished*" [nzSpan]="3">
                      <div class="borderAll">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>

                    <nz-descriptions-item nzTitle="Encoder ID" [nzSpan]="3">
                      <div class="borderAll">
                        <!-- Age here -->
                        &nbsp;
                      </div>
                    </nz-descriptions-item>
                  </nz-descriptions>

                    </div>
                    
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</nz-spin>