<nz-tabset nzType="card" style="height: 100vh;">
  <nz-tab nzTitle="Family Composition">
    <div>
      <div style="background: #fff;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyRegistered" class="card-title-one">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  <h2>{{familyRegisteredNo}}</h2>
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyRegistered>
              <span class="title">Family Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyIntake" class="card-title-two">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  <h2>{{familyIntakeRegisteredNo}} </h2>
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="file-done" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyIntake>
              <span class="title">Family Intake</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="fourps" class="card-title-three">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  <h2>{{familyRegisteredFourpsNo}}</h2>
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="file-text" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #fourps>
              <span class="title">4P's Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="ips" class="card-title-four">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  <h2>{{familyRegisteredIPSNo}}</h2>
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="file-text" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #ips>
              <span class="title">IP's Registered</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisMonth" class="card-title-five">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisMonth>
              <span class="title">This Month</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisYear" class="card-title-six">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisYear>
              <span class="title">This Year</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-three">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Active"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Active><span class="title">Active Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-eight">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Deleted"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Deleted><span class="title">Deleted Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-one">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="intake"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #intake><span class="title">Intake/Walk-in</span></ng-template>
            </nz-card>
          </div>
        </div>
        
        
      </div>
    </div>
  </nz-tab>
  <!-- TAB 2 -->
  <nz-tab nzTitle="Evacuation">
    <div>
        <img src="../../assets/img/maintenance.png" alt="Maintenance" style="width: 100%;">
    </div>
  </nz-tab>
  <!-- TAB 3 -->
  <nz-tab nzTitle="DAFAC">
    <div>
      <div style="background: #fff;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="DAFACRegistered" class="card-title-one">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #DAFACRegistered>
              <span class="title">DAFAC Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="DAFACIntake" class="card-title-two">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #DAFACIntake>
              <span class="title">DAFAC Intake</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="fourps" class="card-title-three">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #fourps>
              <span class="title">4P's Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="ips" class="card-title-four">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #ips>
              <span class="title">IP's Registered</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-three">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Active"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Active><span class="title">Active Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-eight">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Deleted"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Deleted><span class="title">Deleted Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-one">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="intake"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #intake><span class="title">Intake/Walk-in</span></ng-template>
            </nz-card>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisMonth" class="card-title-five">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisMonth>
              <span class="title">This Month</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisYear" class="card-title-six">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisYear>
              <span class="title">This Year</span>
            </ng-template>
          </div>
        </div>
        
      </div>
    </div>
  </nz-tab>
  <!-- TAB 4 -->
  <nz-tab nzTitle="OSCA">
    <div>
      <div style="background: #fff;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyRegistered" class="card-title-one">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyRegistered>
              <span class="title">Family Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyIntake" class="card-title-two">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyIntake>
              <span class="title">Family Intake</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="fourps" class="card-title-three">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #fourps>
              <span class="title">4P's Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="ips" class="card-title-four">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #ips>
              <span class="title">IP's Registered</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-three">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Active"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Active><span class="title">Active Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-eight">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Deleted"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Deleted><span class="title">Deleted Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-one">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="intake"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #intake><span class="title">Intake/Walk-in</span></ng-template>
            </nz-card>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisMonth" class="card-title-five">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisMonth>
              <span class="title">This Month</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisYear" class="card-title-six">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisYear>
              <span class="title">This Year</span>
            </ng-template>
          </div>
        </div>
        
      </div>
    </div>
  </nz-tab>
  <!-- TAB 5 -->
  <nz-tab nzTitle="PWD">
    <div>
      <div style="background: #fff;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyRegistered" class="card-title-one">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyRegistered>
              <span class="title">Family Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyIntake" class="card-title-two">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyIntake>
              <span class="title">Family Intake</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="fourps" class="card-title-three">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #fourps>
              <span class="title">4P's Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="ips" class="card-title-four">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #ips>
              <span class="title">IP's Registered</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-three">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Active"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Active><span class="title">Active Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-eight">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Deleted"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Deleted><span class="title">Deleted Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-one">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="intake"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #intake><span class="title">Intake/Walk-in</span></ng-template>
            </nz-card>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisMonth" class="card-title-five">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisMonth>
              <span class="title">This Month</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisYear" class="card-title-six">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisYear>
              <span class="title">This Year</span>
            </ng-template>
          </div>
        </div>
        
      </div>
    </div>
  </nz-tab>
  <!-- TAB 6 -->
  <nz-tab nzTitle="Solo Parent">
    <div>
      <div style="background: #fff;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyRegistered" class="card-title-one">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyRegistered>
              <span class="title">Family Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyIntake" class="card-title-two">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyIntake>
              <span class="title">Family Intake</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="fourps" class="card-title-three">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #fourps>
              <span class="title">4P's Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="ips" class="card-title-four">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #ips>
              <span class="title">IP's Registered</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-three">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Active"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Active><span class="title">Active Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-eight">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Deleted"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Deleted><span class="title">Deleted Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-one">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="intake"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #intake><span class="title">Intake/Walk-in</span></ng-template>
            </nz-card>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisMonth" class="card-title-five">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisMonth>
              <span class="title">This Month</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisYear" class="card-title-six">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisYear>
              <span class="title">This Year</span>
            </ng-template>
          </div>
        </div>
        
      </div>
    </div>
  </nz-tab>
  <!-- TAB 7 -->
  <nz-tab nzTitle="AICS">
    <div>
      <div style="background: #fff;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyRegistered" class="card-title-one">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyRegistered>
              <span class="title">Family Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="FamilyIntake" class="card-title-two">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #FamilyIntake>
              <span class="title">Family Intake</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="fourps" class="card-title-three">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #fourps>
              <span class="title">4P's Registered</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-card [nzTitle]="ips" class="card-title-four">
              <div nz-row [nzGutter]="24"> 
                <div nz-col [nzSpan]="18">
                  asd
                </div>  
                <div nz-col [nzSpan]="6">
                  <span class="icon" nz-icon nzType="team" nzTheme="outline"></span>
                </div>
              </div>
            </nz-card>
            <ng-template #ips>
              <span class="title">IP's Registered</span>
            </ng-template>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-three">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Active"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Active><span class="title">Active Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-eight">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="Deleted"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #Deleted><span class="title">Deleted Family</span></ng-template>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card class="card-title-one">
              <nz-statistic
                [nzValue]="(11.28 | number: '1.0-2')!"
                [nzTitle]="intake"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#fff' }"
              ></nz-statistic>
              <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
              <ng-template #intake><span class="title">Intake/Walk-in</span></ng-template>
            </nz-card>
          </div>
        </div>
        <div nz-row [nzGutter]="8" style="padding-top: 25px;">
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisMonth" class="card-title-five">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisMonth>
              <span class="title">This Month</span>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-card [nzTitle]="qoutaThisYear" class="card-title-six">
              <span>Family Registered</span>
              <nz-progress [nzPercent]="30"></nz-progress>
              <span>Family Intake</span>
              <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
              <span>4P's</span>
              <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
              <span>IP's</span>
              <nz-progress [nzPercent]="100"></nz-progress>
            </nz-card>
            <ng-template #qoutaThisYear>
              <span class="title">This Year</span>
            </ng-template>
          </div>
        </div>
        
      </div>
    </div>
  </nz-tab>
  <!-- TAB 8 -->
  <nz-tab nzTitle="Women and Children Crisis Center">
    <div>
      <img src="../../assets/img/maintenance.png" alt="Maintenance" style="width: 100%;">
    </div>
  </nz-tab>
  <!-- TAB 9 -->
  <nz-tab nzTitle="Child Information">
    <div>
      <img src="../../assets/img/maintenance.png" alt="Maintenance" style="width: 100%;">
    </div>
  </nz-tab>
</nz-tabset>