nz-card {
    border: none !important;
}

h2 {
    color: white;
}

.icon {
    font-size: 30px !important;
}

.title {
    color: #fff;
}

.card-title-one {
    background-color: green; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-two {
    background-color: #1034a6; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-three {
    background-color: #108ee9; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-four {
    background-color: #2db7f5; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-five {
    background-color: purple; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-six {
    background-color: #1034a6; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-seven {
    background-color: orange; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.card-title-eight {
    background-color: red; color: #fff; 
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}