<h2>List of Case Conference</h2>
<br>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div style="text-align: center;" nz-col="24">
  </div>
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger>
    <thead>
      <tr>
        <th>Report No.</th>
        <th>Report Date</th>
        <th>Client's Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Case</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data; let i = index;">
        <tr>
          <td>{{data.form_trans_no}}</td>
          <td>{{data.report_date | date:'mediumDate'}}</td>
          <td>{{data.client_pname}}</td>
          <td>{{data.client_page}}</td>
          <td>{{data.client_paddress}}</td>
          <td>{{data.case_tittle}}</td>
          <td *ngIf="data.case_conference_status == '0'"><nz-tag [nzColor]="'#2799FF'">Pending</nz-tag></td>
          <td *ngIf="data.case_conference_status == '1'"><nz-tag [nzColor]="'#f50'">Approved</nz-tag></td>
          <td>
            <button nz-tooltip nzTooltipTitle="Select" nz-button nzType="primary" (click)="proceedToForm(data)">Select</button>
          </td>
        </tr>
      </ng-container>
    </tbody>

    <ng-template #dateFilter>
      <app-date-filter></app-date-filter>
    </ng-template>

  </nz-table>
</nz-spin>
