<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> AICS Form</h3>
  <button nz-button nzType="default" [useExistingCss]="true" printSectionId="report-section-empty" #print ngxPrint style="margin-right: 10px;">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT EMPTY SHEET
  </button>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button (click)="convertToPDF();" nzType="default" style="margin-right: 10px;">
    <span nz-icon nzType="file-pdf" nzTheme="outline" style="color: red;"></span>
    EXPORT TO PDF
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div id="content" #content>
      <div class="printContent">

        <div nz-row [nzGutter]="24">
  
          <div nz-col [nzSpan]="12">
            <app-header-print></app-header-print>
            <div>
              <nz-descriptions nzTitle="APPLICATION"></nz-descriptions>
  
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6">
                  <div class="box">
                    <span *ngIf="data?.application_id != 1">&nbsp;</span>
                    <i *ngIf="data?.application_id == 1" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box">
                    <span *ngIf="data?.application_id != 2">&nbsp;</span>
                    <i *ngIf="data?.application_id == 2" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box">
                    <span *ngIf="data?.application_id != 3">&nbsp;</span>
                    <i *ngIf="data?.application_id == 3" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box">
                    <span *ngIf="data?.application_id != 4">&nbsp;</span>
                    <i *ngIf="data?.application_id == 4" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box">
                    <span *ngIf="data?.application_id != 5">&nbsp;</span>
                    <i *ngIf="data?.application_id == 5" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                </div>
                <div nz-col [nzSpan]="6">
                  <div class="boxText">Resettled</div>
                  <div class="boxText">Returnees</div>
                  <div class="boxText">Squatter</div>
                  <div class="boxText">Repatriate</div>
                  <div class="boxText">Cultural Community</div>
                </div>
                <div nz-col [nzSpan]="3">
                  <div class="box2">
                    <span *ngIf="data?.application_id != 1">&nbsp;</span>
                    <i *ngIf="data?.application_id == 1" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box2">
                    <span *ngIf="data?.application_id != 2">&nbsp;</span>
                    <i *ngIf="data?.application_id == 2" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box2">
                    <span *ngIf="data?.application_id != 3">&nbsp;</span>
                    <i *ngIf="data?.application_id == 3" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box2">
                    <span *ngIf="data?.application_id != 4">&nbsp;</span>
                    <i *ngIf="data?.application_id == 4" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                  <div class="box2">
                    <span *ngIf="data?.application_id != 5">&nbsp;</span>
                    <i *ngIf="data?.application_id == 5" nz-icon nzType="check" nzTheme="outline"></i>
                  </div>
                </div>
                <div nz-col [nzSpan]="9">
                  <div class="boxText">Disaster</div>
                  <div class="boxText">Man-made</div>
                  <div class="boxText">Natural</div>
                  <div class="boxText">Refugees</div>
                  <div class="boxText">AICS</div>
                </div>
              </div>
  
              <nz-descriptions nzTitle="" style="margin-top: 20px;">
                <nz-descriptions-item nzTitle="Date of Occurence">
                  <div style="width: 30%; border-bottom: 1px solid gray; font-weight: bold;">
                    {{data?.date_occurence | date: 'mediumDate'}}
                  </div>
                </nz-descriptions-item>
              </nz-descriptions>
              <nz-descriptions nzTitle="">
                <nz-descriptions-item nzTitle="Family Head">
                  <div style="width: 100%; border-bottom: 1px solid gray; font-weight: bold;">
                    {{data?.prefix}} {{data?.first_name}} {{data?.middle_name}} {{data?.last_name}} {{data?.suffix}}
                  </div>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Age">
                  <div style="width: 30%; border-bottom: 1px solid gray; font-weight: bold;">
                    {{data?.age}}
                  </div>
                </nz-descriptions-item>
              </nz-descriptions>
              <nz-descriptions nzTitle="">
                <nz-descriptions-item nzTitle="Address">
                  <div style="width: 60%; border-bottom: 1px solid gray; font-weight: bold;">
                    {{data?.brgy_name}} {{data?.street}} , {{data?.city_mun_name}}, {{data?.province_name}}
                  </div>
                </nz-descriptions-item>
              </nz-descriptions>
  
            </div>
  
            <div nz-row [nzGutter]="24">
              <nz-descriptions nzTitle=""></nz-descriptions>
            </div>
  
          </div>
  
          <div nz-col [nzSpan]="12">
            <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>SERVICES EXTENDED</th>
                  <th>SIGNATURE</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of servicesArray; let i=index;">
                  <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
  
            <nz-descriptions [nzColon]="false" nzTitle="" style="margin-top: 20px;">
              <nz-descriptions-item [nzSpan]="1.5" nzTitle="RECOMMENDATIONS"></nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="1.5" nzTitle="Date:">
                <div style="width: 40%; font-weight: bold; border-bottom: 1px solid gray;">
                  {{data?.date_recommended | date: 'mediumDate'}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
  
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="4">
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 1">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 1" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 2">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 2" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 3">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 3" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 4">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 4" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 5">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 5" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 6">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 6" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 7">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 7" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box3">
                  <span *ngIf="data?.recommendation_id != 8">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 8" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div class="boxText">Closed</div>
                <div class="boxText">Restoration</div>
                <div class="boxText">Housing Assistance</div>
                <div class="boxText">Food for Work</div>
                <div class="boxText">Transportation Assistance</div>
                <div class="boxText">Medical</div>
                <div class="boxText">Burial for Senior Citizen</div>
                <div class="boxText">PWD Physical Restoration</div>
              </div>
              <div nz-col [nzSpan]="4">
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 9">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 9" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 10">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 10" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 11">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 11" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 12">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 12" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 13">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 13" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 14">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 14" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div class="box">
                  <span *ngIf="data?.recommendation_id != 15">&nbsp;</span>
                  <i *ngIf="data?.recommendation_id == 15" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div class="boxText">SEA/FY</div>
                <div class="boxText">Skills Training</div>
                <div class="boxText">Job Place</div>
                <div class="boxText">For Resettlement</div>
                <div class="boxText">Psychosocial</div>
                <div class="boxText">ESA</div>
                <div class="boxText">Educational Assistance</div>
              </div>
            </div>
  
          </div>
  
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
  
              <nz-descriptions nzTitle="FAMILY COMPOSITION" style="text-decoration: underline;"></nz-descriptions>
              <nz-table #basicTable [nzData]="familyDetails" [nzFrontPagination]="false" nzBordered nzSize="small">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>AGE</th>
                    <th>RELATION TO HEAD</th>
                    <th>EDUCATIONAL ATTAINMENT</th>
                    <th>REMARKS</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of familyDetails; let i=index;">
                      <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td> 
                      <td>{{data.age}}</td>
                      <td>{{data.relation}}</td>
                      <td>{{data.educational_name}}</td>
                      <td>{{data.remarks}}</td>
                    </tr>
                </tbody>
              </nz-table>
  
            </div>
          </div>
  
          <div nz-row [nzGutter]="24">
  
            <div nz-col [nzSpan]="12">
  
              <nz-descriptions [nzColon]="false" nzTitle="">
                <nz-descriptions-item [nzSpan]="1.5" nzTitle="House Owner: / House Renter:">
                  <div style="width: 100%; border-bottom: 1px solid gray;">
                    &nbsp;
                  </div>
                </nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="1" nzTitle="Estimated"></nz-descriptions-item>
              </nz-descriptions>
  
              <nz-table #basicTable [nzData]="casualtiesDetails" [nzFrontPagination]="false" nzSize="small">
                <thead>
                  <tr>
                    <th>Casualties</th>
                    <th>Name</th>
                    <th>Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of casualtiesDetails; let i=index;">
                    <td></td>
                    <td style="text-align: center;">{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
                    <td style="text-align: center;">{{data.age}}</td>
                    </tr>
                </tbody>
              </nz-table>
  
              <nz-descriptions [nzColon]="false" nzTitle="">
                <nz-descriptions-item nzTitle="Signature of Client or Thumbmark">
                  <div style="width: 50%; border-bottom: 1px solid gray;">
                    &nbsp;
                  </div>
                </nz-descriptions-item>
              </nz-descriptions>
  
            </div>
  
            <div nz-col [nzSpan]="12">
  
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12" style="text-align: center;">
                  
                </div>
                <div nz-col [nzSpan]="12" style="text-align: center;">
                  <span style="font-weight: bold;">&nbsp;</span>
                  <div class="signatureLabel">
                    SOCIAL WORKER
                  </div>
                </div>
              </div>
      
              <nz-descriptions [nzColon]="false" nzTitle="">
                <nz-descriptions-item nzTitle="Date Registered"> {{data.application_date | date:'mediumDate'}}</nz-descriptions-item>
              </nz-descriptions>
              
            </div>
          </div>
  
        </div>
  
        <!-- <app-header-print></app-header-print>
          <div class="content">
          </div> -->
      </div>
    </div>
    
  </div>

  <div style="display: none;" class="printLayout" id="report-section-empty">
    <div class="printContent">

      <div nz-row [nzGutter]="24">

        <div nz-col [nzSpan]="12">
          <app-header-print></app-header-print>
          <div>
            <nz-descriptions nzTitle="APPLICATION"></nz-descriptions>

            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="6">
                <div class="box">
                  <span>&nbsp;</span>
                </div>
                <div class="box">
                  <span>&nbsp;</span>
                </div>
                <div class="box">
                  <span>&nbsp;</span>
                </div>
                <div class="box">
                  <span>&nbsp;</span>
                </div>
                <div class="box">
                  <span>&nbsp;</span>
                </div>
              </div>
              <div nz-col [nzSpan]="6">
                <div class="boxText">Resettled</div>
                <div class="boxText">Returnees</div>
                <div class="boxText">Squatter</div>
                <div class="boxText">Repatriate</div>
                <div class="boxText">Cultural Community</div>
              </div>
              <div nz-col [nzSpan]="3">
                <div class="box2">
                  <span>&nbsp;</span>
                </div>
                <div class="box2">
                  <span>&nbsp;</span>
                </div>
                <div class="box2">
                  <span>&nbsp;</span>
                </div>
                <div class="box2">
                  <span>&nbsp;</span>
                </div>
                <div class="box2">
                  <span>&nbsp;</span>
                </div>
              </div>
              <div nz-col [nzSpan]="9">
                <div class="boxText">Disaster</div>
                <div class="boxText">Man-made</div>
                <div class="boxText">Natural</div>
                <div class="boxText">Refugees</div>
                <div class="boxText">AICS</div>
              </div>
            </div>

            <nz-descriptions nzTitle="" style="margin-top: 20px;">
              <nz-descriptions-item nzTitle="Date of Occurence">
                <div style="width: 30%; border-bottom: 1px solid gray; font-weight: bold;">
                  &nbsp;
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions nzTitle="">
              <nz-descriptions-item nzTitle="Family Head">
                <div style="width: 100%; border-bottom: 1px solid gray; font-weight: bold;">
                  &nbsp;
                </div>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Age">
                <div style="width: 30%; border-bottom: 1px solid gray; font-weight: bold;">
                  &nbsp;
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions nzTitle="">
              <nz-descriptions-item nzTitle="Address">
                <div style="width: 60%; border-bottom: 1px solid gray; font-weight: bold;">
                  &nbsp;
                </div>
              </nz-descriptions-item>
            </nz-descriptions>

          </div>

          <div nz-row [nzGutter]="24">
            <nz-descriptions nzTitle=""></nz-descriptions>
          </div>

        </div>

        <div nz-col [nzSpan]="12">
          <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
            <thead>
              <tr>
                <th>DATE</th>
                <th>SERVICES EXTENDED</th>
                <th>SIGNATURE</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of servicesArray; let i=index;">
                <tr>
                  <td>&nbsp;</td>
                  <td></td>
                  <td></td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>

          <nz-descriptions [nzColon]="false" nzTitle="" style="margin-top: 20px;">
            <nz-descriptions-item [nzSpan]="1.5" nzTitle="RECOMMENDATIONS"></nz-descriptions-item>
            <nz-descriptions-item [nzSpan]="1.5" nzTitle="Date:">
              <div style="width: 40%; font-weight: bold; border-bottom: 1px solid gray;">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>

          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="4">
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
              <div class="box3">
                <span>&nbsp;</span>
              </div>
            </div>
            <div nz-col [nzSpan]="8">
              <div class="boxText">Closed</div>
              <div class="boxText">Restoration</div>
              <div class="boxText">Housing Assistance</div>
              <div class="boxText">Food for Work</div>
              <div class="boxText">Transportation Assistance</div>
              <div class="boxText">Medical</div>
              <div class="boxText">Burial for Senior Citizen</div>
              <div class="boxText">PWD Physical Restoration</div>
            </div>
            <div nz-col [nzSpan]="4">
              <div class="box">
                <span>&nbsp;</span>
              </div>
              <div class="box">
                <span>&nbsp;</span>
              </div>
              <div class="box">
                <span>&nbsp;</span>
              </div>
              <div class="box">
                <span>&nbsp;</span>
              </div>
              <div class="box">
                <span>&nbsp;</span>
              </div>
              <div class="box">
                <span>&nbsp;</span>
              </div>
              <div class="box">
                <span>&nbsp;</span>
              </div>
            </div>
            <div nz-col [nzSpan]="8">
              <div class="boxText">SEA/FY</div>
              <div class="boxText">Skills Training</div>
              <div class="boxText">Job Place</div>
              <div class="boxText">For Resettlement</div>
              <div class="boxText">Psychosocial</div>
              <div class="boxText">ESA</div>
              <div class="boxText">Educational Assistance</div>
            </div>
          </div>

        </div>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">

            <nz-descriptions nzTitle="FAMILY COMPOSITION" style="text-decoration: underline;"></nz-descriptions>
            <nz-table #basicTable [nzData]="familyDetails" [nzFrontPagination]="false" nzBordered nzSize="small">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>AGE</th>
                  <th>RELATION TO HEAD</th>
                  <th>EDUCATIONAL ATTAINMENT</th>
                  <th>REMARKS</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of familyDetails; let i=index;">
                    <td>&nbsp;</td> 
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
              </tbody>
            </nz-table>

          </div>
        </div>

        <div nz-row [nzGutter]="24">

          <div nz-col [nzSpan]="12">

            <nz-descriptions [nzColon]="false" nzTitle="">
              <nz-descriptions-item [nzSpan]="1.5" nzTitle="House Owner: / House Renter:">
                <div style="width: 100%; border-bottom: 1px solid gray;">
                  &nbsp;
                </div>
              </nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="1" nzTitle="Estimated"></nz-descriptions-item>
            </nz-descriptions>

            <nz-table #basicTable [nzData]="casualtiesDetails" [nzFrontPagination]="false" nzSize="small">
              <thead>
                <tr>
                  <th>Casualties</th>
                  <th>Name</th>
                  <th>Age</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of casualtiesDetails; let i=index;">
                  <td></td>
                  <td style="text-align: center;">&nbsp;</td>
                  <td style="text-align: center;">&nbsp;</td>
                  </tr>
              </tbody>
            </nz-table>

            <nz-descriptions [nzColon]="false" nzTitle="">
              <nz-descriptions-item nzTitle="Signature of Client or Thumbmark">
                <div style="width: 50%; border-bottom: 1px solid gray;">
                  &nbsp;
                </div>
              </nz-descriptions-item>
            </nz-descriptions>

          </div>

          <div nz-col [nzSpan]="12">

            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12" style="text-align: center;">
                
              </div>
              <div nz-col [nzSpan]="12" style="text-align: center;">
                <span style="font-weight: bold;">&nbsp;</span>
                <div class="signatureLabel">
                  SOCIAL WORKER
                </div>
              </div>
            </div>
    
            <nz-descriptions [nzColon]="false" nzTitle="">
              <nz-descriptions-item nzTitle="Date Registered"> &nbsp;</nz-descriptions-item>
            </nz-descriptions>
            
          </div>
        </div>

      </div>

      <!-- <app-header-print></app-header-print>
        <div class="content">
        </div> -->
    </div>
  </div>
</nz-spin>