

nz-layout {
  // height: 100%;

  .logo {
    height: 50px;
    margin: 16px;
    cursor: pointer;
  }

  #logo-image {
    height: 320px;
    background-image: url("../../assets/img/MunicipalLogo.png");
    background-size: 100%;
    background-size: cover;
    transform: scale(0.8);
    cursor: pointer;
  }

  nz-content {
    margin: 0;
    // background: #fff;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 20px 10px 20px 10px;
    margin: 25px;
    margin-bottom: 50px !important;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
  }


}

.light {
  background-color: #fff;
}

.dark {
  background-color: #001529;
}

.active{
  background-color: #03045e !important;
  // color: #fff !important;
}

.active-link {
  background-color: #03045e !important;
  // color: #fff !important;
}

li {
  line-height: 20px !important;
}

.description {
  display: flow-root !important;
}
.tops{
  background-color: #fff;
  margin-left: -2px;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 320px;
}
