.printLayout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 2px 2px 4px 2px #888888;
  }
  
  .printContent {
    padding: 40px;
    transform: scale(0.9);
  }
  
  
  @media print {
    .content-table-head {
      font-size: 12px !important;
    }
    .content-table-body {
      font-size: 12px !important;
    }
    .printContent {
      padding-top: 0 !important;
      padding-left: 40px;
      padding-right: 40px;
      transform: scale(0.9);
      font-size: 12px;
    }
    ::ng-deep .ant-descriptions-row > td{
      padding-bottom: 8px !important;
    }
    .label {
        font-size: 18px !important;
    }
  
  }
  
  .headerActions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .border {
    width: 100%;
    border-bottom: 1px solid gray;
  }
  
  .signatureLabel {
    border-top: 1px solid gray;
    font-weight: bold;
    height: 50px;
    text-align: center;
  }
  
  .box {
    border: 1px solid gray;
    width: 3%;
    text-align: center;
  }
  
  th {
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    text-align: center !important;
    border-right: 1px solid black !important;
  }
  
  td {
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
  }
  
  tr:last-child td {
    border-bottom: 1px solid black !important;
  }