<div nz-row>
  <div nz-col nzSpan="11" class="footer">
    <ng-container>
      <div><span>{{data?.footer1}}</span></div>
      <div><span>{{data?.footer2}}</span></div>
    </ng-container>
  </div>
  <div nz-col nzSpan="2">

  </div>
  <div nz-col nzSpan="11" class="footer">
    <ng-container>
          <div style="text-align: right;"><span>{{data?.footer3}}</span></div>
          <div style="text-align: right;"><span>{{printDate | date:'MMMM d, y, h:mm:ss a'}}</span></div>
    </ng-container>
  </div>
</div>