<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline"></i> Sanitary Permit - Sanitary Certification</h3>
  <!-- <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline"></i>
    EXPORT TO EXCEL
  </button> -->
   <!-- <button nz-button nzType="primary" (click)="print(); $event.preventDefault();">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button> -->
  <button nz-button nzType="primary" (click)="$event.preventDefault();" [useExistingCss]="true"
        printSectionId="print-section"
        ngxPrint>
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          PRINT
        </button>
</div>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <br><br>
  <div class="printLayout printContent" id="print-section" >
  <!-- <div class="printLayout" id="print-section"> -->
    <div class="content" id="report-section" nzAlign="bottom">
      <br><br>
      <app-header-print>
      </app-header-print>
      <div style="text-align: center;"><h2>MUNICIPAL HEALTH OFFICE</h2></div>
      <div style="text-align: center;"><h2>SANITARY PERMIT</h2></div>
      <div style="text-align: center;"><h4></h4></div>
      <div class="content">
        <div style="text-align: center;" nz-row nzJustify="center">
          <p class="text-bordered" style="text-transform:uppercase;"><b><i>{{line_of_bsn}}</i></b></p>
        </div>
        <br>
        <div nz-row>

          <div nz-col nzSpan="20" nzOffset="1">
            <div nz-row [nzGutter]="24">
              <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                  <p>Issued to</p>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="1">
                <div class="inner-box">
                  <h3>:</h3>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="15">
                <div class="inner-box">
                  <p><b><i>{{issued_to}}</i></b></p>
                </div>
              </div>
            </div>

            <div nz-row [nzGutter]="24">
              <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                  <p>To operate</p>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="1">
                <div class="inner-box">
                  <h3>:</h3>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="15">
                <div class="inner-box">
                  <p><b>{{to_operate}}{{busi_type == 'none' ? " " : busi_type}}</b></p>
                </div>
              </div>
            </div>

            <div nz-row [nzGutter]="24">
              <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                  <p>Address</p>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="1">
                <div class="inner-box">
                  <h3>:</h3>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="15">
                <div class="inner-box">
                  <p><b>{{address}}</b></p>
                </div>
              </div>
            </div>

            <div nz-row [nzGutter]="24">
              <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                  <p>Date Issued</p>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="1">
                <div class="inner-box">
                  <h3>:</h3>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="15">
                <div class="inner-box">
                  <p><b>{{date_issued | date:'mediumDate'}}</b></p>
                </div>
              </div>
            </div>

            <div nz-row [nzGutter]="24">
              <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                  <p>Date of Expiration</p>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="1">
                <div class="inner-box">
                  <h3>:</h3>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="15">
                <div class="inner-box">
                  <p><b>{{Date_of_expiration | date:'mediumDate'}}</b></p>
                </div>
              </div>
            </div>

            <br>
          </div>

        </div>
        <br>
        <div style="text-align: center;">
          <p>{{foot_note}}</p>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
          <p>Sanitary Permit No. <i class="text-bordered">{{permit_no}}</i></p>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
          <h2><b>{{dept_head}}</b></h2>
          <h3>{{dept_}}</h3>
        </div>


      </div>

      <div class="footDiv">
        <app-footer-print></app-footer-print>
      </div>
    </div>
  </div>
</nz-spin>
