<nz-spin nzTip="Loading list..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered nzSize="small">
    <thead>
      <tr>
        <th>Date Slaughtered</th>
        <th>Client</th>
        <th>Animal</th>
        <th>Weight(kg)</th>
        <th>Purpose(kg)</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td >{{data.date_slaughtered | date: 'MM/dd/yyyy'}}</td>
        <td >{{data.client_name}}</td>
        <td >{{data.animal}}</td>
        <td >{{data.kilos}}</td>
        <td >{{data.purpose}}</td>
        <td >
          <nz-tag   *ngIf="data.status === 'Active'" [nzColor]="'#87d068'">{{data.status}}</nz-tag>
          <nz-tag   *ngIf="data.status !== 'Active'" [nzColor]="'#f50'">{{data.status}}</nz-tag>
        </td>
        <td style="width: 5%; text-align: center;">
          <button [disabled]="control.edit" class="actionEdit" nz-button nzType="text" (click)="edit(data)"><i nz-icon nzType="form" nzTheme="outline"></i></button>
          <button [disabled]="control.delete" nz-button nzType="text" class="actionDelete" (click)="delete(data)"><i nz-icon  nzType="delete" nzTheme="outline"></i></button>
         
        
        </td>
      </tr>
    </tbody>
    </nz-table>
    </nz-spin>
