<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div style="height:100%;">
    <form nz-form [formGroup]="wccForm" (ngSubmit)="saveData(wccForm.value);$event.preventDefault()">
      <nz-anchor [nzShowInkInFixed]="false" >
        <nz-page-header>
          <nz-page-header-title>Women & Child Crisis Center - Summary Intake</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel
            </button>
            <button nz-button nzType="primary"
            [disabled]="!wccForm.valid"
            >
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>
      <nz-tabset nzType="card">
        <nz-tab nzTitle="Case Details">
          <div nz-row [nzGutter]="24">
            <!-- <div nz-col [nzSpan]="24">
              <h3><b>Case Number: </b><span nz-typography nzType="success"><i>Ant Design (success)</i></span></h3>
            </div>
            <div nz-col [nzSpan]="24">
              <h3><b>Case: </b><span nz-typography nzType="success"><i>Ant Design (success)</i></span></h3>
            </div> -->
          </div>
            <div nz-row [nzGutter]="5">
              <div nz-col [nzSpan]="10">
                <nz-card nzTitle="I. Identifying Data" style="height: 100%;">
                  <h3><b>4P's Member? </b><span nz-typography nzType="success"><i>{{forPsMember == '1' ? "Yes" : "No"}}</i></span></h3>
                  <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                    <nz-descriptions-item nzTitle="Name of Client/Referring Party" [nzSpan]="1">
                      {{clientData?.last_name}},
                      {{clientData?.first_name}} {{clientData?.middle_name == null ? "" : clientData?.middle_name}}{{clientData?.prefix == null ? "" : clientData?.prefix}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                      {{clientData?.age}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Home Address" [nzSpan]="1">
                      {{clientData?.street == null ? "" : clientData?.street+","}}
                      {{clientData?.brgy_name == null ? "" : clientData?.brgy_name}},
                      {{clientData?.city_mun_name == null ? "" : clientData?.city_mun_name}},
                      {{clientData?.province_name == null ? "" : clientData?.province_name}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
                      {{clientData?.profession == null ? "none" : clientData?.profession}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
                      {{clientData?.educational_name == null ? "n/a" : clientData?.educational_name}}
                    </nz-descriptions-item>
                    </nz-descriptions>
                </nz-card>

              </div>

              <div nz-col [nzSpan]="14">
                <nz-card nzTitle="II. Family Memebers" style="height: 100%;">

                  <nz-table #basicTable nzBordered [nzData]="familyData"  nzSize="small"
                  nzFrontPagination="false">
                    <thead>
                      <tr>
                        <th class="th-a">Fullname</th>
                        <th class="th-a">Age</th>
                        <th class="th-a">Relationship</th>
                        <th class="th-a">Occupation</th>
                      </tr>
                    </thead>
                    <tbody>

                      <ng-container *ngFor="let data of basicTable.data; let i = index;">
                        <tr>
                          <td>
                            {{data.last_name}},
                            {{data.first_name}} {{data.middle_name == null ? "" : data.middle_name}}{{data.prefix == null ? "" : data.prefix}}
                          </td>
                          <td>
                            {{data.age}}
                          </td>
                          <td>
                            {{data.relation}}
                          </td>
                          <td>
                            {{data.profession == null ? "none" : data.profession}}
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </nz-table>
                </nz-card>
              </div>
            </div>
            <br>
            <div nz-col [nzSpan]="24">
              <nz-card nzTitle="III. Background of the case">
                <nz-collapse nz-card  style="height: 100%;">
                  <nz-collapse-panel nzHeader="Incident Report" nzActive>
                    <nz-descriptions nzTitle="Case">
                      <nz-descriptions-item>{{reportData?.case_tittle}}</nz-descriptions-item>
                    </nz-descriptions>
                    <nz-descriptions nzTitle="Type of Incident and summary of incident">
                      <nz-descriptions-item>{{reportData?.case_summary}}</nz-descriptions-item>
                    </nz-descriptions>
                    <nz-descriptions nzTitle="Action Taken">
                      <nz-descriptions-item>{{reportData?.case_action_taken}}</nz-descriptions-item>
                    </nz-descriptions>
                    <nz-descriptions nzTitle="Recommendations/ Suggestions">
                      <nz-descriptions-item>{{reportData?.case_recommendation}}</nz-descriptions-item>
                    </nz-descriptions>

                  </nz-collapse-panel>
                  <nz-collapse-panel nzHeader="Case Conference">
                    <div nz-col class="gutter-row" [nzSpan]="24">
                      <ng-container *ngIf="caseDtlData.length === 0">
                        <nz-empty></nz-empty>
                      </ng-container>
                      <ng-container *ngIf="caseDtlData.length !== 0" >
                        <nz-timeline>
                          <ng-container *ngFor="let data_trans of caseDtlData; let en = index">
                            <nz-timeline-item *ngIf="data_trans != null">
                            <!-- <h4><span nz-typography nzType="secondary">{{data_trans.case_pod}}</span></h4> -->
                            <nz-descriptions nzTitle="Point of Discussion">
                              <nz-descriptions-item>{{data_trans.case_pod}}</nz-descriptions-item>
                            </nz-descriptions>
                            <nz-descriptions nzTitle="Findings/Issued/Concerns">
                              <nz-descriptions-item>{{data_trans.case_fic}}</nz-descriptions-item>
                            </nz-descriptions>
                            <nz-descriptions nzTitle="Time Frame">
                              <nz-descriptions-item>{{data_trans.case_time_frame}} <span><i>{{data_trans.case_time_type != 0 ? "Hour/s" : "Minute/s"}}</i>
                              </span></nz-descriptions-item>
                            </nz-descriptions>
                            <nz-descriptions nzTitle="Office & Personel Resposible">
                              <nz-descriptions-item>{{data_trans.case_per_responsible_name}}
                                <span><i>&nbsp;- of {{data_trans.case_ofc_responsible}}</i></span></nz-descriptions-item>
                            </nz-descriptions>
                            <nz-descriptions nzTitle="Agreements Reached">
                              <nz-descriptions-item>{{data_trans.case_agreement}}</nz-descriptions-item>
                            </nz-descriptions>
                            <nz-divider [nzText]="text" nzOrientation="right">
                              <ng-template #text>
                                <!-- <button class="actionDelete" nz-button nzType="text"><i nz-icon nzType="edit" nzTheme="outline"></i></button> -->
                              </ng-template>
                            </nz-divider>
                            </nz-timeline-item>
                          </ng-container>
                          </nz-timeline>
                      </ng-container>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
              </nz-card>
            </div>
        </nz-tab>

        <nz-tab nzTitle="Summary Intake Form">
          <!-- <div style="background: #ECECEC;padding:10px;"> -->
            <div nz-col [nzSpan]="23">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24">
                  <nz-card nzTitle="IV. Assesment">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please write something...">
                        <nz-input-group>
                          <textarea style="width: 100%;"
                          nz-input
                          rows="4"
                          formControlName="wcc_si_assesment"
                          ></textarea>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </nz-card>
                </div>

                <div nz-col [nzSpan]="24">
                  <nz-card nzTitle="V. Reccomendation">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please write something...">
                        <nz-input-group >
                          <textarea style="width: 100%;"
                          nz-input
                          rows="4"
                          formControlName="wcc_si_recommendation"
                          ></textarea>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </nz-card>
                </div>

                <div nz-col [nzSpan]="24">
                  <nz-card nzTitle="VI. Action Taken">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please write something...">
                        <nz-input-group formControlName="wcc_si_actiontaken">
                          <textarea style="width: 100%;"
                          nz-input
                          rows="4"
                          formControlName="wcc_si_actiontaken"
                          ></textarea>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </nz-card>
                </div>
              </div>
            </div>
        </nz-tab>
      </nz-tabset>
    </form>

  </div>
</nz-spin>

