
<nz-spin nzTip="Gathering Informations..." [nzSpinning]="isLoading">
  <div style="height:100%;">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="saveData(validateForm.value);$event.preventDefault()">
      <nz-anchor [nzShowInkInFixed]="false" >
        <nz-page-header>
          <nz-page-header-title>Women & Child Crisis Center - Acknowledgement Receipt</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel
            </button>
            <button nz-button nzType="primary"
            [disabled]="!validateForm.valid"
            >
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>
      <nz-tabset nzType="card">
        <nz-tab nzTitle="Acknowledgement Receipt Form">
            <div nz-col="24">
              <div nz-row [nzGutter]="5">
                <div nz-col [nzSpan]="10">
                  <nz-card nzTitle="Client/Referring Party's Details">
                    <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                      <nz-descriptions-item nzTitle="Name of Client/Referring Party" [nzSpan]="1">
                        {{clientData?.last_name}},
                        {{clientData?.first_name}} {{clientData?.middle_name == null ? "" : clientData?.middle_name}}{{clientData?.prefix == null ? "" : clientData?.prefix}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                        {{clientData?.age}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Home Address" [nzSpan]="1">
                        {{clientData?.street == null ? "" : clientData?.street+","}}
                        {{clientData?.brgy_name == null ? "" : clientData?.brgy_name}},
                        {{clientData?.city_mun_name == null ? "" : clientData?.city_mun_name}},
                        {{clientData?.province_name == null ? "" : clientData?.province_name}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
                        {{clientData?.profession == null ? "none" : clientData?.profession}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
                        {{clientData?.educational_name == null ? "n/a" : clientData?.educational_name}}
                      </nz-descriptions-item>
                      </nz-descriptions>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="14">
                  <div nz-row>
                    <div nz-col [nzSpan]="24">
                      <nz-card nzTitle="Selected Recipient/s" [nzExtra]="extraTemplate">
                          <div nz-col [nzSpan]="24">
                            <nz-table #basicTable nzSize="small" [nzData]="['']" nzShowPagination="false">
                              <thead>
                                <tr>
                                  <th>Fullname</th>
                                  <th>Address</th>
                                  <!-- <th>Relation</th> -->
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let wtns_data of this.recipientArray().controls; let en = index">
                                  <tr>
                                    <td>{{wtns_data.value.wcc_ar_recipient_name}}</td>
                                    <td>{{wtns_data.value.wcc_ar_recipient_address}}</td>
                                    <td>
                                      <button class="actionDelete" nz-button nzType="text" (click)="deleteRecepient($event,en)"><span nz-icon nzType="delete" nzTheme="twotone"></span></button>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </nz-table>
                          </div>
                      </nz-card>
                    </div>

                    <div style="padding-top: 6px;" nz-col [nzSpan]="24">

                      <nz-card nzTitle="Selected Witness" [nzExtra]="witnessselection">
                          <div nz-col [nzSpan]="24">
                            <nz-table nzSize="small" nzShowPagination="false" [nzData]="['']">
                              <thead>
                                <tr>
                                  <th>Fullname</th>
                                  <th>Address</th>

                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let wtns_data of this.witnessArray().controls; let en = index">
                                  <tr>
                                    <td>{{wtns_data.value.wcc_ar_witness_name}}</td>
                                    <td>{{wtns_data.value.wcc_ar_witness_address}}</td>
                                    <td>
                                      <button class="actionDelete" nz-button nzType="text" (click)="deleteWitness($event,en)"><span nz-icon nzType="delete" nzTheme="twotone"></span></button>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </nz-table>

                          </div>
                      </nz-card>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </nz-tab>
      </nz-tabset>
    </form>

  </div>
</nz-spin>

<ng-template #extraTemplate>

  <div nz-row [nzGutter]="5">
    <ng-container *ngIf="famCtrl">
      <div nz-col>
        <button nz-button nzType="primary" (click)="loadFamilyList($event); $event.preventDefault();" nzGhost>Add Family Member</button>
      </div>
    </ng-container>
    <ng-container *ngIf="this.recipientArray().length != 2">
      <div nz-col>
            <button nz-button nzType="primary" nzGhost (click)="rcptArrayChecker($event);$event.preventDefault();">Add Non Family Member</button>
      </div>
    </ng-container>

  </div>

</ng-template>
<ng-template #witnessselection>

  <ng-container *ngIf="this.witnessArray().length != 2">
  <div nz-row [nzGutter]="5">
    <div nz-col>
      <button nz-button nzShape="round" (click)="witnessArrayChecker($event); $event.preventDefault();">Add Witness</button>
    </div>
  </div>
</ng-container>
</ng-template>


<!-- FAMILY SELECT DRAWER -->
<nz-drawer
nzMaskClosable="false"
[nzWidth]="800"
[nzClosable]="false"
[nzVisible]="openFamilyList"
nzPlacement="right"
nzTitle="Family Member List"
(nzOnClose)="closeFamilyDrawer()"
[nzFooter]="footerTpl"
>
<ng-container *nzDrawerContent>
  <nz-table #rowSelectionTable [nzData]="familyBrowse" nzSize="small">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>

      <tbody>

        <ng-container *ngFor="let data of rowSelectionTable.data; let i =index">
         <tr >
           <td>{{ data.last_name+", "+data.first_name+" "+data.middle_name }}</td>
           <td>{{ data.relation }}</td>
           <td>{{ data.age }}</td>
           <td>
            {{data.street != null ? data.street+", ": ""}}
                {{data.brgy_name+", "}}{{data.city_mun_name+", "}}{{data.province_name}}

           </td>
           <td>
             <button nz-button nzType="default" (click)="selectRecipient(data, $event)">
               <i nz-icon nzType="check" nzTheme="outline"></i>
               Select
             </button>
           </td>
         </tr>

        </ng-container>

       </tbody>

  </nz-table>
</ng-container>
</nz-drawer>
<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button nzType="primary" nzDanger style="margin-right: 8px;" (click)="cancelFamilyDrawer()">Cancel</button>
  </div>
</ng-template>
