.actionEdit {
  color: #1582E7;
}

.actionDelete {
  color: #f50;
}

.disbaled {
  color: gray;
}

.actionEdit:hover {
  color: #1582E7;
}

.actionDelete:hover {
  color: #1582E7;
}

.actionPrint {
  color: #1582E7;
}

.rowHover:hover {
  cursor: pointer;
}

.rowHover {
  letter-spacing: 1px;
}


.rowHover:hover {
  cursor: pointer;
}

th {
  border-top: 1px solid #e1dbd6 !important;
  border-left: 1px solid #e1dbd6 !important;
  // text-align: center !important;
  border-right: 1px solid #e1dbd6 !important;
}

td {
  border-top: 1px solid #e1dbd6 !important;
  border-left: 1px solid #e1dbd6 !important;
  border-right: 1px solid #e1dbd6 !important;
  padding-left: 5px !important;
}

tr:last-child td {
  border-bottom: 1px solid #e1dbd6 !important;
}

.ant-table-content {
border: 1px solid #e1dbd6 !important;
}

.thClass {
  background-color: #1034a6 !important; 
  color: white; 
  letter-spacing: 1px;
}