
.e{
  border-style: solid;
  border-color: 2px solid hsl(119, 32%, 38%);
  border-radius: 5px;
}
#print-section{
  border-style: solid;
  border-color: 2px solid hsl(118, 33%, 32%);
  border-radius: 5px;
}
nz-page-header {
  background-color: #fff;
  margin-left: -2px;
}
