.firstColumn {
  height: 100vh;
  // background-image: url("../../../assets/img/prosperidad.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}

.backgroundSlider {
  height: 100vh;
  width: 83vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondColumn {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  overflow: auto;
}

img {
  height: auto;
  width: 230px;
}

.formLogo {
  height: auto;
  width: 140px;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

form {
  margin: auto;
}

[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  width: 100%;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
