<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> OSCA Registration Form</h3>
  <button nz-button nzType="default" [useExistingCss]="true" printSectionId="report-section-empty" #print ngxPrint style="margin-right: 10px;">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT EMPTY SHEET
  </button>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button (click)="convertToPDF();" nzType="default" style="margin-right: 10px;">
    <span nz-icon nzType="file-pdf" nzTheme="outline" style="color: red;"></span>
    EXPORT TO PDF
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div id="content" #content>
      <div class="printContent">
        <app-header-print></app-header-print>
        <div style="text-align: center;"><h2>OFFICE OF THE SENIOR CITIZEN AFFAIRS</h2></div>
  
        <div style="text-align: center; margin-top: 2%;">
          <h2 style="font-weight: bold;">SENIOR CITIZEN REGISTRATION FORM</h2>
        </div>
  
        <nz-descriptions nzTitle="Identifying Information:">
          <nz-descriptions-item nzTitle="Name" [nzSpan]="1.5">
            <div class="border">
              <!-- Applicant here -->
              {{data?.last_name}} {{data?.suffix}}, {{data?.prefix}} {{data?.first_name}} {{data?.middle_name}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="16" style="text-align: center; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">(Last Name, First Name, Middle Name)</span>
          </div>
        </div>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
            <div class="border">
              <!-- Present Address/Residence here -->
              {{data?.brgy_name}} {{data?.street}} , {{data?.city_mun_name}}, {{data?.province_name}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Region" [nzSpan]="1">
            <div class="border">
              <!-- Present Address/Residence here -->
              {{data?.reg_name}} - {{data?.reg_code}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">(House No. &nbsp;&nbsp;&nbsp; Street</span>
          </div>
          <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">Barangay</span>
          </div>
          <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">City/Municipality</span>
          </div>
          <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">Province)</span>
          </div>
        </div>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Date of Birth" [nzSpan]="2">
            <div class="border">
              <!-- Birthdate here -->
              {{data?.birth_date | date: 'mediumDate'}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Age" [nzSpan]="0.2">
            <div class="border">
              <!-- Age here -->
              {{data?.age}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Sex" [nzSpan]="0.2">
            <div class="border">
              <!-- Age here -->
              {{data?.gender_name}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Civil Status" [nzSpan]="1">
            <div class="border">
              <!-- Age here -->
              {{data?.civil_status_name}}
            </div>
          </nz-descriptions-item>
          
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="10" style="text-align: center; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">(Month, Date, Year)</span>
          </div>
        </div>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Birthplace" [nzSpan]="1.5">
            <div class="border">
              <!-- Birthplace here -->
              {{data?.place_of_birth == '' || data?.place_of_birth == null ? '&nbsp;' : data?.place_of_birth}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Religion" [nzSpan]="1.5">
            <div class="border">
              <!-- Birthplace here -->
              {{data?.religion == '' || data?.religion == null ? '&nbsp;' : data?.religion}}
            </div>
          </nz-descriptions-item>
  
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="11">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="3">
                <div class="border">
                  <!-- Educational Attainment here -->
                  {{data?.educational_name == '' || data?.educational_name == null ? '&nbsp;' : data?.educational_name}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="9">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Occupation">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.profession == '' || data?.profession == null ? '&nbsp;' : data?.profession}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="4">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Blood Type">
                <div class="border">
                  <!-- Birthplace here -->
                  {{data?.blood_type_name == '' || data?.blood_type_name == null ? '&nbsp;' : data?.blood_type_name}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row>
          <div nz-col [nzSpan]="6">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Phone No.">
                <div class="border">
                  <!-- Educational Attainment here -->
                  {{data?.phone_no == '' || data?.phone_no == null ? '&nbsp;' : data?.phone_no}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Telephone No.">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.telephone_no == '' || data?.telephone_no == null ? '&nbsp;' : data?.telephone_no}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Email Address">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.email_address == '' || data?.email_address == null ? '&nbsp;' : data?.email_address}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Employment Status" [nzSpan]="1">
            <div class="border">
              <!-- Educational Attainment here -->
              {{data?.employment_status_name}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Classification" [nzSpan]="1">
            <div class="border">
              <!-- Present Occupation here -->
              {{data?.classification_name}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Annual Income" [nzSpan]="1">
            <div class="border">
              <!-- Educational Attainment here -->
              &#8369; {{data?.annual_income | number: '1.1-2'}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Other Source of Income" [nzSpan]="1">
            <div class="border">
              <!-- Present Occupation here -->
              {{data?.other_source_of_income ? data?.other_source_of_income : '&nbsp;'}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
              <thead>
                <tr class="content-table-head">
                  <th>FAMILY MEMBER</th>
                  <th>RELATIONSHIP</th>
                  <th>AGE</th>
                  <th>CIVIL STATUS</th>
                  <th>OCCUPATION</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of data?.family_details; let i=index;">
                  <tr class="content-table-body">
                    <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
                    <td>{{data.relation == null ? '&nbsp;' : data.relation}}</td>
                    <td>{{data.age}}</td>
                    <td>{{data.civil_status_name}}</td>
                    <td>{{data.occupational_skills}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-descriptions  nzTitle="Affiliation:">
              <nz-descriptions-item nzTitle="Name of Association" [nzSpan]="3">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.name_of_association ? data?.name_of_association : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="Address of Association" [nzSpan]="3">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.address_of_association ? data?.address_of_association : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="Date of Membership" [nzSpan]="3">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.date_of_membership === '' ? '&nbsp;' : data?.date_of_membership | date:'mediumDate'}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="If an Officer/Date Elected" [nzSpan]="3">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.date_elected === '' ? '&nbsp;' : data?.date_elected | date:'mediumDate'}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="6">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Living Arrangement" [nzSpan]="3">
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="20">
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item [nzSpan]="3">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 1"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <span></span><i *ngIf="data?.living_arrangement_id == 1" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 20%;">Owned</div>
  
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 2"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 2" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 30%;">Living Alone</div>
  
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 3"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 3" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500;">Living w/ Relatives</div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item [nzSpan]="1">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 4"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 4" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 11.5%; width: 20%;">Rent</div>
  
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 5"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 5" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; width: 30%;">Others, Please specify</div>
                <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                  {{data?.specify_others === null ? '&nbsp;' : data?.specify_others}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-descriptions  nzTitle="Government Pensioner:">
              <nz-descriptions-item nzTitle="GSIS Pensioner" [nzSpan]="1">
                <nz-input-group [nzSize]="'small'">
                  <div nz-row>
                    <div nz-col nzSpan="2">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.gsis_pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.gsis_pensioner == 'false'">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col nzSpan="1">
                      <span style="font-weight: 500;">Yes</span>
                    </div>
                    <div nz-col nzSpan="2">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.gsis_pensioner == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.gsis_pensioner == 'true'">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col nzSpan="4">
                      <span style="font-weight: 500;">No.</span>
                    </div>
                  </div>
                </nz-input-group>
              </nz-descriptions-item>
            </nz-descriptions>
  
            <nz-descriptions>
              <nz-descriptions-item nzTitle="GSIS No" [nzSpan]="1">
                <div class="border">
                  <!-- Present Occupation here -->
                  {{data?.gsis_no ? data?.gsis_no : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
      
              <nz-descriptions-item nzTitle="GSIS Monthly Pension" [nzSpan]="1">
                <div class="border">
                  <!-- Present Occupation here -->
                  &#8369; {{data?.gsis_monthly_pension === null ? '&nbsp;' : data?.gsis_monthly_pension | number:'1.2-2'}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="TIN No" [nzSpan]="1">
                <div class="border">
                  {{data?.tin_no ? data?.tin_no : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
  
            <nz-descriptions>
              <nz-descriptions-item nzTitle="SSS Pensioner" [nzSpan]="1">
                <nz-input-group [nzSize]="'small'">
                  <div nz-row>
                    <div nz-col nzSpan="2">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.sss_pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.sss_pensioner == 'false'">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col nzSpan="1">
                      <span style="font-weight: 500;">Yes</span>
                    </div>
                    <div nz-col nzSpan="2">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.sss_pensioner == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.sss_pensioner == 'true'">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col nzSpan="4">
                      <span style="font-weight: 500;">No.</span>
                    </div>
                  </div>
                </nz-input-group>
              </nz-descriptions-item>
            </nz-descriptions>
      
            <nz-descriptions>
              <nz-descriptions-item nzTitle="SSS No" [nzSpan]="1">
                <div class="border">
                  {{data?.sss_no ? data?.sss_no : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
      
              <nz-descriptions-item nzTitle="SSS Monthly Pension" [nzSpan]="1">
                <div class="border">
                  &#8369; {{data?.sss_monthly_pension === null ? '&nbsp;' : data?.sss_monthly_pension | number:'1.2-2'}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="Household ID No" [nzSpan]="1">
                <div class="border">
                  {{data?.household_id_no ? data?.household_id_no : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row>
          <div nz-col [nzSpan]="24">
  
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Philhealth Membership">
                <nz-input-group [nzSize]="'small'">
                  <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.philhealth_membership_id == 1" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.pvao_pensioner != 1">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">Member</span>
                    </div>
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.pvao_pensioner == 2" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.pvao_pensioner != 2">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">Non-member</span>
                    </div>
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.pvao_pensioner == 3" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.pvao_pensioner != 3">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">Dependent of Philhealth Member</span>
                    </div>
                  </div>
                </nz-input-group>
              </nz-descriptions-item>
            </nz-descriptions>
  
          </div>
        </div>
  
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Pantawid Beneficiary">
                <nz-input-group [nzSize]="'small'">
                  <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.fourps_beneficiary == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.fourps_beneficiary == 'false' || data?.fourps_beneficiary == null">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">Yes</span>
                    </div>
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.fourps_beneficiary == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.fourps_beneficiary == 'true' || data?.fourps_beneficiary == null">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">No.</span>
                    </div>
                  </div>
                </nz-input-group>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
        
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-descriptions [nzColon]="false" style="margin-left: 11%;">
              <nz-descriptions-item>
                <nz-input-group [nzSize]="'small'">
                  <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.fourps_beneficiary_type == 'Grantee'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.fourps_beneficiary_type != 'Grantee'">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">Grantee</span>
                    </div>
                    <div nz-col nzSpan="3">
                      <div class="border" style="text-align: center;">
                        <i *ngIf="data?.fourps_beneficiary_type == 'Member'" nz-icon nzType="check" nzTheme="outline"></i>
                        <span *ngIf="data?.fourps_beneficiary_type != 'Member'">&nbsp;</span>
                      </div>
                    </div>
                    <div nz-col>
                      <span style="font-weight: 500;">Member</span>
                    </div>
                  </div>
                </nz-input-group>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24" class="incaseEmer">
          <div nz-col [nzSpan]="24">
            <nz-descriptions  nzTitle="In Case of Emergency:" [nzColon]="false" class="incaseEmer">
              <nz-descriptions-item nzTitle="Contact" [nzSpan]="3"></nz-descriptions-item>
              <nz-descriptions-item nzTitle="Person:" [nzSpan]="3">
                <div class="border">
                  {{data?.incase_of_emergency ? data?.incase_of_emergency : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="Contact No:" [nzSpan]="3">
                <div class="border">
                  {{data?.contact ? data?.contact : '&nbsp;'}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
         </div> 
  
        <p style="font-weight: 500; margin-top: 20px;">I certify that the above information are true and correct to the best of my knowledge and belief.</p>
  
        <div nz-row [nzGutter]="10" style="margin-top: 20px;">
          <div nz-col [nzSpan]="9">
  
            <span>&nbsp;</span>
            <div class="signatureLabel">
              Signature/Thumbmark over printed name
            </div>
  
          </div>
        </div>
  
        <app-footer-print></app-footer-print>
  
      </div>
    </div>
  </div>

  <div style="display: none;" class="printLayout" id="report-section-empty">
    <div class="printContent">
      <app-header-print></app-header-print>
      <div style="text-align: center;"><h2>OFFICE OF THE SENIOR CITIZEN AFFAIRS</h2></div>

      <div style="text-align: center; margin-top: 2%;">
        <h2 style="font-weight: bold;">SENIOR CITIZEN REGISTRATION FORM</h2>
      </div>

      <nz-descriptions nzTitle="Identifying Information:">
        <nz-descriptions-item nzTitle="Name" [nzSpan]="1.5">
          <div class="border">
            <!-- Applicant here -->
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="16" style="text-align: center; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">(Last Name, First Name, Middle Name)</span>
        </div>
      </div>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
          <div class="border">
            <!-- Present Address/Residence here -->
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Region" [nzSpan]="1">
          <div class="border">
            <!-- Present Address/Residence here -->
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">(House No. &nbsp;&nbsp;&nbsp; Street</span>
        </div>
        <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">Barangay</span>
        </div>
        <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">City/Municipality</span>
        </div>
        <div nz-col [nzSpan]="4" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">Province)</span>
        </div>
      </div>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Date of Birth" [nzSpan]="2">
          <div class="border">
            <!-- Birthdate here -->
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Age" [nzSpan]="0.2">
          <div class="border">
            <!-- Age here -->
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Sex" [nzSpan]="0.2">
          <div class="border">
            <!-- Age here -->
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Civil Status" [nzSpan]="1">
          <div class="border">
            <!-- Age here -->
            &nbsp;
          </div>
        </nz-descriptions-item>
        
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="10" style="text-align: center; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">(Month, Date, Year)</span>
        </div>
      </div>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Birthplace" [nzSpan]="1.5">
          <div class="border">
            <!-- Birthplace here -->
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Religion" [nzSpan]="1.5">
          <div class="border">
            <!-- Birthplace here -->
            &nbsp;
          </div>
        </nz-descriptions-item>

      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="11">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="3">
              <div class="border">
                <!-- Educational Attainment here -->
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="9">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Occupation">
              <div class="border">
                <!-- Present Occupation here -->
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Blood Type">
              <div class="border">
                <!-- Birthplace here -->
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row>
        <div nz-col [nzSpan]="6">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Phone No.">
              <div class="border">
                <!-- Educational Attainment here -->
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Telephone No.">
              <div class="border">
                <!-- Present Occupation here -->
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Email Address">
              <div class="border">
                <!-- Present Occupation here -->
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Employment Status" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Classification" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Annual Income" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Other Source of Income" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
            <thead>
              <tr class="content-table-head">
                <th>FAMILY MEMBER</th>
                <th>RELATIONSHIP</th>
                <th>AGE</th>
                <th>CIVIL STATUS</th>
                <th>OCCUPATION</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of data?.family_details; let i=index;">
                <tr class="content-table-body">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-descriptions  nzTitle="Affiliation:">
            <nz-descriptions-item nzTitle="Name of Association" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Address of Association" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Date of Membership" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="If an Officer/Date Elected" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Living Arrangement" [nzSpan]="3">
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="20">
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item [nzSpan]="3">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 20%;">Owned</div>

              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 30%;">Living Alone</div>

              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500;">Living w/ Relatives</div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item [nzSpan]="1">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 11.5%; width: 20%;">Rent</div>

              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; width: 30%;">Others, Please specify</div>
              <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-descriptions  nzTitle="Government Pensioner:">
            <nz-descriptions-item nzTitle="GSIS Pensioner" [nzSpan]="1">
              <nz-input-group [nzSize]="'small'">
                <div nz-row>
                  <div nz-col nzSpan="2">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col nzSpan="1">
                    <span style="font-weight: 500;">Yes</span>
                  </div>
                  <div nz-col nzSpan="2">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col nzSpan="4">
                    <span style="font-weight: 500;">No.</span>
                  </div>
                </div>
              </nz-input-group>
            </nz-descriptions-item>
          </nz-descriptions>

          <nz-descriptions>
            <nz-descriptions-item nzTitle="GSIS No" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
    
            <nz-descriptions-item nzTitle="GSIS Monthly Pension" [nzSpan]="1">
              <div class="border">
                <!-- Present Occupation here -->
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="TIN No" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>

          <nz-descriptions>
            <nz-descriptions-item nzTitle="SSS Pensioner" [nzSpan]="1">
              <nz-input-group [nzSize]="'small'">
                <div nz-row>
                  <div nz-col nzSpan="2">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col nzSpan="1">
                    <span style="font-weight: 500;">Yes</span>
                  </div>
                  <div nz-col nzSpan="2">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col nzSpan="4">
                    <span style="font-weight: 500;">No.</span>
                  </div>
                </div>
              </nz-input-group>
            </nz-descriptions-item>
          </nz-descriptions>
    
          <nz-descriptions>
            <nz-descriptions-item nzTitle="SSS No" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
    
            <nz-descriptions-item nzTitle="SSS Monthly Pension" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Household ID No" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row>
        <div nz-col [nzSpan]="24">

          <nz-descriptions>
            <nz-descriptions-item nzTitle="Philhealth Membership">
              <nz-input-group [nzSize]="'small'">
                <div nz-row [nzGutter]="8">
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">Member</span>
                  </div>
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">Non-member</span>
                  </div>
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">Dependent of Philhealth Member</span>
                  </div>
                </div>
              </nz-input-group>
            </nz-descriptions-item>
          </nz-descriptions>

        </div>
      </div>

      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Pantawid Beneficiary">
              <nz-input-group [nzSize]="'small'">
                <div nz-row [nzGutter]="8">
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">Yes</span>
                  </div>
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">No.</span>
                  </div>
                </div>
              </nz-input-group>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
      
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-descriptions [nzColon]="false" style="margin-left: 11%;">
            <nz-descriptions-item>
              <nz-input-group [nzSize]="'small'">
                <div nz-row [nzGutter]="8">
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">Grantee</span>
                  </div>
                  <div nz-col nzSpan="3">
                    <div class="border" style="text-align: center;">
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div nz-col>
                    <span style="font-weight: 500;">Member</span>
                  </div>
                </div>
              </nz-input-group>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24" class="incaseEmer">
        <div nz-col [nzSpan]="24">
          <nz-descriptions  nzTitle="In Case of Emergency:" [nzColon]="false" class="incaseEmer">
            <nz-descriptions-item nzTitle="Contact" [nzSpan]="3"></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Person:" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Contact No:" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
       </div> 

      <p style="font-weight: 500; margin-top: 20px;">I certify that the above information are true and correct to the best of my knowledge and belief.</p>

      <div nz-row [nzGutter]="10" style="margin-top: 20px;">
        <div nz-col [nzSpan]="9">

          <span>&nbsp;</span>
          <div class="signatureLabel">
            Signature/Thumbmark over printed name
          </div>

        </div>
      </div>

      <app-footer-print></app-footer-print>

    </div>
  </div>
</nz-spin>