<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>Schedule of Fees</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid || validateForm.value.details.length == 0">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">
          <nz-tab [nzTitle]="TransactionForm">

            <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1;" formArrayName="details" [nzData]="['']" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
              <thead>
                <tr>
                  <th rowspan="2" style="text-align: center;" nzWidth="12%">TYPE OF FEE</th>
                  <th colspan="2">CATTLE/HORSE</th>
                  <th colspan="2">HOGS</th>
                  <th colspan="2">GOAT/SHEEP</th>
                  <th colspan="1" style="text-align: center;">POULTRY</th>
                </tr>
                <tr>
                  <th style="text-align: center;">200kg & Above (Php)</th>
                  <th style="text-align: center;">Below 200kg (Php)</th>
                  <th style="text-align: center;">50kg & Above (Php)</th>
                  <th style="text-align: center;">Below 50kg (Php)</th>
                  <th style="text-align: center;">30kg & Above (Php)</th>
                  <th style="text-align: center;">Below 30kg (Php)</th>
                  <th style="text-align: center;">Regard Less of Weight (Php)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                  <td><input formControlName="type_of_fee" nz-input nzBorderless style="font-weight: 500;" /></td>
                  <td><input (ngModelChange)="total200kgAbove()" [id]="cattle_horses_above[i]" style="text-align: right;" formControlName="cattle_horses_200kg_above" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <td><input (ngModelChange)="total200kgBelow()" [id]="cattle_horses_below[i]" style="text-align: right;" formControlName="cattle_horses_200kg_below" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <td><input (ngModelChange)="total50kgAbove()" [id]="hogs_above[i]" style="text-align: right;" formControlName="hogs_50kg_above" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <td><input (ngModelChange)="total50kgBelow()" [id]="hogs_below[i]" style="text-align: right;" formControlName="hogs_50kg_below" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <td><input (ngModelChange)="total30kgAbove()" [id]="goat_sheep_above[i]" style="text-align: right;" formControlName="goat_sheep_30kg_above" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <td><input (ngModelChange)="total30kgBelow()" [id]="goat_sheep_below[i]" style="text-align: right;" formControlName="goat_sheep_30kg_below" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <td><input (ngModelChange)="totalLessOfWeight()" [id]="regard_less_of_weight[i]" style="text-align: right;" formControlName="regard_less_of_weight" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" nz-input placeholder="0"/></td>
                  <!-- <td>
                    <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantity(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                  </td> -->
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td><b>Total Fee/Head:</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_200kg_Above | number: '1.2-2'}}</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_200kg_Below | number: '1.2-2'}}</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_50kg_Above | number: '1.2-2'}}</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_50kg_Below | number: '1.2-2'}}</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_30kg_Above | number: '1.2-2'}}</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_30kg_Below | number: '1.2-2'}}</b></td>
                  <td style="text-align: right;"><b>&#8369; {{total_Less_Of_Weight | number: '1.2-2'}}</b></td>
                  <td></td>
                </tr>
              </tfoot>
              
            </nz-table>

          </nz-tab>
        </nz-tabset>

      </form>
    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>