<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> Family Composition Form</h3>
  <button nz-button nzType="default" [useExistingCss]="true" printSectionId="report-section-empty" #print ngxPrint style="margin-right: 10px;">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT EMPTY SHEET
  </button>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button (click)="convertToPDF();" nzType="default" style="margin-right: 10px;">
    <span nz-icon nzType="file-pdf" nzTheme="outline" style="color: red;"></span>
    EXPORT TO PDF
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div id="content" #content>
      <div class="printContent">
        <app-header-print></app-header-print>
        <div style="text-align: center;"><h2>DAY CARE CENTER REGISTRATION FORM</h2></div>
  
  
        <nz-descriptions [nzColon]="false" style="margin-top: 5%;">
          <nz-descriptions-item nzTitle="Name of Child" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Middle Name" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Age of Months" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Birth Date" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Birth Place" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Sex" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Height" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Weight" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Religion" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Rank in the Family" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Mother's Name" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Father's Name" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div class="border">
              &nbsp;
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="4P's Family" [nzSpan]="1">
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
            <div style="width: 100%">
              <span>Yes(
                <span style="text-decoration: underline; white-space: pre-line">
                  &nbsp;
                </span> )
              </span>
              <span style="padding-left: 5%;">No(
                <span style="text-decoration: underline; white-space: pre-line">
                  &nbsp;
                </span> )
              </span>
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
      </div>
    </div>
    

    <app-footer-print></app-footer-print>

  </div>

  <div style="display: none;" class="printLayout" id="report-section-empty">
    <div class="printContent">
      <app-header-print></app-header-print>
      <div style="text-align: center;"><h2>DAY CARE CENTER REGISTRATION FORM</h2></div>


      <nz-descriptions [nzColon]="false" style="margin-top: 5%;">
        <nz-descriptions-item nzTitle="Name of Child" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Middle Name" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Age of Months" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Birth Date" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Birth Place" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Sex" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Height" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Weight" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Religion" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Rank in the Family" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Mother's Name" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Father's Name" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="4P's Family" [nzSpan]="1">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=":"  [nzSpan]="2">
          <div style="width: 100%">
            <span>Yes(
              <span style="text-decoration: underline; white-space: pre-line">
                &nbsp;
              </span> )
            </span>
            <span style="padding-left: 5%;">No(
              <span style="text-decoration: underline; white-space: pre-line">
                &nbsp;
              </span> )
            </span>
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

    </div>

    <app-footer-print></app-footer-print>

  </div>
</nz-spin>