<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger [nzPageSize]="15" nzShowQuickJumper>
    <thead>
      <tr class="content-table-head">
        <th class="thClass">Trans No.</th>
        <th class="thClass">Trans Date</th>
        <th class="thClass">Name</th>
        <th class="thClass">Address</th>
        <th class="thClass">Status</th>
        <th class="thClass">Action</th>
      </tr>
    </thead>
    <tbody class="content-table-body">
      <ng-container *ngFor="let data of basicTable.data; let i = index;">
        <tr (click)="rowClick(data.aics_letter_guid, valueClick = !valueClick, i);" class="rowHover">
          <td>{{data.form_trans_no}}</td>
          <td>{{data.application_date | date:'mediumDate'}}</td>
          <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
          <td>{{data.brgy_name}} , {{data.city_mun_name}}, {{data.province_name}}</td>
          <td *ngIf="data.status == 'Active'"><nz-tag [nzColor]="'#2799FF'">{{data.status}}</nz-tag></td>
          <td *ngIf="data.status == 'Deleted'"><nz-tag [nzColor]="'#f50'">{{data.status}}</nz-tag></td>
          <td>
            <!-- <button [disabled]="control.edit" nz-tooltip nzTooltipTitle="Edit" [class]="editCss" nz-button nzType="text" (click)="edit(data.aics_letter_guid); $event.stopPropagation()"><i nz-icon nzType="form" nzTheme="outline"></i></button> -->
            <button [disabled]="control.delete" nz-tooltip nzTooltipTitle="Delete" [class]="deleteCss" nz-button nzType="text" (click)="delete(data.aics_letter_guid, data); $event.stopPropagation()"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            <button nz-tooltip nzTooltipTitle="Print" class="actionPrint" nz-button nzType="text" (click)="print(data.aics_letter_guid); $event.stopPropagation()"><i nz-icon nzType="printer" nzTheme="outline"></i></button>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.aics_letter_guid)">
          <nz-card nzTitle="Family Head Information">
            <!-- <nz-descriptions nzTitle="{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}">
              <nz-descriptions-item nzTitle="Application Date">{{data.application_date | date:'mediumDate'}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Mother's Maiden Name">{{data.mothers_maiden_name}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Monthly Family Income">{{data.monthly_family_income}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="ID Card Presented">{{data.id_card_presented}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="ID Card Number">{{data.id_card_number}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Primary Contact">{{data.primary_contact}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Alternate Contact">{{data.alternate_contact}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="4P's Beneficiary">{{data.fourps_beneficiary}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="IP's">{{data.ips}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Type of Ethnicity">{{data.type_of_ethnicity}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="No. of Older">{{data.no_of_older}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="No. of Pregnant or Lactating">{{data.no_of_pregnant_or_lactating}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="No. of PWDS & Conditions">{{data.no_of_pwds_and_conditions}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="House Ownership">{{data.house_ownership}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="House Conditioning">{{data.housing_conditioning}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Region Name">{{data.reg_name}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Region Code">{{data.reg_code}}</nz-descriptions-item>
            </nz-descriptions> -->

            <!-- <nz-table [nzShowPagination]="false" #basicTable [nzData]="listOfDataDetails[i]" nzBordered [nzTitle]="FamilymMembers">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Relation To Family Head</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Educational Attainment</th>
                  <th>Occupational Skills</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let dataDetails of basicTable.data; let iDetails = index">
                  <tr (click)="rowClickDetails(dataDetails.person_guid, valueClickDetails = !valueClickDetails, iDetails);" class="rowHover">
                    <td>{{dataDetails.prefix}} {{dataDetails.first_name}} {{dataDetails.middle_name}} {{dataDetails.last_name}} {{dataDetails.suffix}}</td>
                    <td>{{dataDetails.relation}}</td>
                    <td>{{dataDetails.age}}</td>
                    <td>{{dataDetails.gender_name}}</td>
                    <td>{{dataDetails.educational_attainment}}</td>
                    <td>{{dataDetails.occupational_skills}}</td>
                    <td>{{dataDetails.remarks}}</td>
                  </tr>
                  <tr [nzExpand]="expandSetDetails.has(dataDetails.person_guid)">
                    <nz-card nzTitle="Family Member Information">
                      <nz-descriptions nzTitle="{{dataDetails.prefix}} {{dataDetails.first_name}} {{dataDetails.middle_name}} {{dataDetails.last_name}} {{dataDetails.suffix}}">
                        <nz-descriptions-item nzTitle="Application Date">{{dataDetails.application_date | date:'mediumDate'}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Sex">{{dataDetails.gender_name}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Age"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Birth Date">{{dataDetails.birth_date | date:'mediumDate'}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Birth Place">{{dataDetails.place_of_birth}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Province">{{dataDetails.province_name}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="City/Municipality">{{dataDetails.city_mun_name}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Barangay">{{dataDetails.brgy_name}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Street">{{dataDetails.street}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Civil Status">{{dataDetails.civil_status_name}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Educational Attainment"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Religion">{{dataDetails.religion}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Occupation">{{dataDetails.profession}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Monthly Income"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Primary Contact">{{dataDetails.contact_no}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Secondary Contact"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="4P's Member"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="IP's"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Status of House Occupancy"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Estimated Cost of Property"></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Total Family Income"></nz-descriptions-item>
                      </nz-descriptions>
                    </nz-card>
                  </tr>
                </ng-container>
              </tbody>
              <ng-template #FamilymMembers>
                <h4>Family Members</h4>
              </ng-template>
              
            </nz-table> -->

          </nz-card>
        </tr>
      </ng-container>
    </tbody>

    <ng-template #dateFilter>

      <nz-input-group nzAllowClear style="width: 50%;"  nzSize="large" [nzSuffix]="suffixIconSearch">
        <input 
        type="text" 
        [(ngModel)]="searchModel"
        (ngModelChange)="beginSearch($event)" 
        nz-input 
        placeholder="Search Name/Barangay"
        [nzAutocomplete]="auto" />
        <!-- <nz-autocomplete [nzDataSource]="filteredOptions" nzBackfill="true" #auto (click)="triggerSearch($event)"></nz-autocomplete> -->
        <nz-autocomplete #auto>
          <nz-auto-option (click)="triggerSearch(option)" *ngFor="let option of filteredOptions" [nzValue]="option.val">{{ option.val }}</nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i *ngIf="searchModel == ''" nz-icon nzType="search"></i>
        <a *ngIf="searchModel != ''" (click)="clearSearch()"><i nz-icon nzType="close"></i></a>
      </ng-template>
      
      <label nz-checkbox  style="padding-left: 2%;" [(ngModel)]="statusSwitch" (ngModelChange)="statusFilter()">Show Active Only</label>

      <label nz-checkbox  style="padding-left: 2%; font-weight: 500;" [(ngModel)]="statusSwitchDeleted" (ngModelChange)="statusFilterDeleted()">Deleted</label>

      <!-- <app-person-filter (valueChange)="search($event)" (clearChange)="clear($event)" (selectChange)="select($event)"></app-person-filter> -->
      <div style="margin-top: 10px;">
        <app-date-filter *ngIf="formOptions?.default_filter_id" (generate)="generate($event)"  [formOptions]="formOptions?.default_filter_id"></app-date-filter>
        <div style="text-align: end; font-weight: 500;">Total Count: {{listOfData[0]?.count == null ? '0' : listOfData[0]?.count}}</div>
      </div>
    </ng-template>
    
  </nz-table>
</nz-spin>