<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> Billing Statement Form</h3>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div class="printContent">
      <app-header-print></app-header-print>
      <div style="text-align: center;"><h2>Billing Statement</h2></div>

      <div nz-row style="margin-top: 5%;">
        <div nz-col [nzSpan]="24" style="text-align: center; border: 1px solid black;">
          <h3 style="font-weight: bold; padding: 10px;">STATEMENT OF ACCOUNT</h3>
        </div>
        <div nz-col [nzSpan]="24" style="border: 1px solid black; border-top: none;">
          
          <div nz-row style="font-weight: 500; margin-top: 5%; margin-bottom: 5%;">
            <div nz-col [nzSpan]="16">
              <div>
                <p>BILL TO :  (to who)</p>
              </div>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-descriptions>
                <nz-descriptions-item nzTitle="DATE " [nzSpan]="3">
                  <div class="border">
                    <!-- Present Address/Residence here -->
                    &nbsp;
                  </div>
                </nz-descriptions-item>
              </nz-descriptions>

              <nz-descriptions>
                <nz-descriptions-item nzTitle="SOA NO. " [nzSpan]="3">
                  <div class="border">
                    <!-- Present Address/Residence here -->
                    &nbsp;
                  </div>
                </nz-descriptions-item>
              </nz-descriptions>
            </div>
          </div>

        </div>
        <div nz-col [nzSpan]="18" style="text-align: center; border: 1px solid black; border-top: none;">
          <span style="font-weight: bold;">PARTICULARS</span>
        </div>
        <div nz-col [nzSpan]="6" style="text-align: center; border: 1px solid black; border-top: none; border-left: none;">
          <span style="font-weight: bold;">AMOUNT</span>
        </div>

        <div nz-col [nzSpan]="18" style="border: 1px solid black; border-top: none; padding: 10px; height: 200px;">
          <span style="font-weight: bold;">THIS IS TO BILL YOUR (Particular Type)</span>
        
          <div style="margin-top: 15%; font-weight: bold">
            NOTE: PLEASE MAKE CHECKS PAYABLE TO (to whom)
          </div>
        
        </div>
        <div nz-col [nzSpan]="6" style="text-align: right; border: 1px solid black; border-top: none; border-left: none; border-top: none; padding: 10px;">
          <span style="font-weight: bold; font-weight: 500;">3,532.74</span>
        </div>

        <div nz-col [nzSpan]="18" style="text-align: center; font-weight: bold; border: 1px solid black; border-top: none;">
          <span>*** &nbsp; ***</span>
        </div>
        <div nz-col [nzSpan]="6" style="text-align: right; font-weight: 500; border: 1px solid black; border-left: none; border-top: none; padding-right: 3px;">
          <span>3,532.74</span>
        </div>

      </div>

      <div nz-row style="margin-top: 5%;">
        <div nz-col [nzSpan]="8">
          <span>Prepared by:</span>

          <div>&nbsp;</div>
          <div class="signatureLabel">
            <span class="subSignLabel">(prepared by who)</span>
          </div>

        </div>
        <div nz-col [nzSpan]="8">
          <span>Certified by:</span>

          <div>&nbsp;</div>
          <div class="signatureLabel">
            <span class="subSignLabel">(certified correct by who)</span>
          </div>

        </div>
        <div nz-col [nzSpan]="8">
          <span>Approved by:</span>

          <div>&nbsp;</div>
          <div class="signatureLabel">
            <span class="subSignLabel">(approved by who)</span>
          </div>

        </div>
      </div>

      <!-- <app-footer-print></app-footer-print> -->
    </div>
  </div>
</nz-spin>