<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> SC Indigent Intake Form</h3>
  <button nz-button nzType="default" [useExistingCss]="true" printSectionId="report-section-empty" #print ngxPrint style="margin-right: 10px;">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT EMPTY SHEET
  </button>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button (click)="convertToPDF();" nzType="default" style="margin-right: 10px;">
    <span nz-icon nzType="file-pdf" nzTheme="outline" style="color: red;"></span>
    EXPORT TO PDF
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div id="content" #content>
      <div class="printContent">
        <app-header-print></app-header-print>
        <div style="text-align: center;"><h2>SOCIAL PENSION FOR INDIGENT SENIOR CITIZENS</h2></div>
        
        <div style="text-align: center; margin-top: 3%;">
          <h2 style="font-weight: bold;">GENERAL INTAKE</h2>
        </div>
  
        <nz-descriptions nzTitle="I. IDENTIFYING INFORMATION:">
          <nz-descriptions-item nzTitle="Name" [nzSpan]="2">
            <div class="border">
              <!-- Applicant here -->
              {{data?.last_name}} {{data?.suffix}}, {{data?.prefix}} {{data?.first_name}} {{data?.middle_name}}
            </div>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Citizenship" [nzSpan]="1">
            <div class="border">
              <!-- Citizenship here -->
              {{data?.citizenship == '' || data?.citizenship == null ? '&nbsp;' : data?.citizenship}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="16" style="text-align: center; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">(Last Name, First Name, Middle Name)</span>
          </div>
        </div>
        <!-- <nz-descriptions>
          <nz-descriptions-item nzTitle="Present Address" [nzSpan]="3">
            <span>(asd asd, asd)</span>
          </nz-descriptions-item>
        </nz-descriptions> -->
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Present Address" [nzSpan]="3">
            <div class="border">
              <!-- Present Address/Residence here -->
              {{data?.brgy_name}} {{data?.street}} , {{data?.city_mun_name}}, {{data?.province_name}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">(House No. &nbsp;&nbsp;&nbsp; Street</span>
          </div>
          <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">Barangay</span>
          </div>
          <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">City/Municipality</span>
          </div>
          <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">Province)</span>
          </div>
        </div>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Age" [nzSpan]="0.7">
            <div class="border">
              <!-- Age here -->
              {{data?.age}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Sex" [nzSpan]="0.7">
            <div class="border">
              <!-- Gender here -->
              {{data?.gender_name}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Civil Status" [nzSpan]="0.7">
            <div class="border">
              <!-- civil status here -->
              {{data?.civil_status_name}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Religion" [nzSpan]="0.7">
            <div class="border">
              <!-- religion here -->
              {{data?.religion == '' || data?.religion == null ? '&nbsp;' : data?.religion}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Birth Date" [nzSpan]="1.5">
            <div class="border">
              {{data?.birth_date | date:'mediumDate'}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Birth Place" [nzSpan]="1.5">
            <div class="border">
              {{data?.place_of_birth == '' || data?.place_of_birth == null ? '&nbsp;' : data?.place_of_birth}}
            </div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="14" style="text-align: center; margin-top: -12px;">
            <span style="font-style: italic; font-size: 12px;">(Month, Date, Year)</span>
          </div>
        </div>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1.5">
            <div class="border">
              {{data?.educational_name == '' || data?.educational_name == null ? '&nbsp;' : data?.educational_name}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item [nzTitle]="Occupation" [nzSpan]="1.5">
            <div class="border">
              {{data?.profession == '' || data?.profession == null ? '&nbsp;' : data?.profession}}
            </div>
          </nz-descriptions-item>
          <ng-template #Occupation>
            <div style="color: red;">Occupation</div>
          </ng-template>
        </nz-descriptions>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Affiliation/Group" [nzSpan]="3"></nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="" [nzSpan]="3">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.listahanan == 'false' || data?.listahanan == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.listahanan == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Listahan (Please specify household number)</div>
                <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                {{data?.specify_listahanan == '' || data?.specify_listahanan == null ? '&nbsp;' : data?.specify_listahanan}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="" [nzSpan]="3">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.fourps_beneficiary == 'false' || data?.fourps_beneficiary == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.fourps_beneficiary == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500;  padding-right: 10%;">Pantawid Beneficiary</div>
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.senior_citizen_organization == 'false' || data?.senior_citizen_organization == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.senior_citizen_organization == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500;">Senior Citizen Organization</div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="" [nzSpan]="3">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.ip == 'false' || data?.ip == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.ip == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Indigenous People (Please specify)</div>
                <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                  {{data?.specify_ip == null ? '&nbsp;' : data?.specify_ip}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="" [nzSpan]="3">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.other == 'false' || data?.other == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.other == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Other (Please specify)</div>
                <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                {{data?.specify_other == null ? '&nbsp;' : data?.specify_other}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="ID Number" [nzSpan]="3"></nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="OSCA" [nzSpan]="1">
                <div class="border">
                  {{data?.osca_no == null ? '&nbsp;' : data?.osca_no}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="TIN" [nzSpan]="1">
                <div class="border">
                  {{data?.tin_no == null ? '&nbsp;' : data?.tin_no}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="GSIS" [nzSpan]="1">
                <div class="border">
                  {{data?.gsis_no == null ? '&nbsp;' : data?.gsis_no}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="SSS" [nzSpan]="1">
                <div class="border">
                  {{data?.sss_no == null ? '&nbsp;' : data?.sss_no}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="PhilHealth" [nzSpan]="1">
                <div class="border">
                  {{data?.philhealth_no == null ? '&nbsp;' : data?.philhealth_no}}
                </div>
              </nz-descriptions-item>
  
              <nz-descriptions-item nzTitle="Others" [nzSpan]="1">
                <div class="border">
                  {{data?.others_no == null ? '&nbsp;' : data?.others_no}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-descriptions>
              <nz-descriptions-item [nzTitle]="Father" [nzSpan]="3">
                <div class="border">
                  {{data?.fathers_name == null ? '&nbsp;' : data?.fathers_name}}
                </div>
              </nz-descriptions-item>
              <ng-template #Father>
                <div style="color: red;">Father's Name</div>
              </ng-template>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-descriptions>
              <nz-descriptions-item [nzTitle]="Mother" [nzSpan]="3">
                <div class="border">
                  {{data?.mothers_name == null ? '&nbsp;' : data?.mothers_name}}
                </div>
              </nz-descriptions-item>
              <ng-template #Mother>
                <div style="color: red;">Mother's Maiden Name</div>
              </ng-template>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-descriptions nzTitle="II. FAMILY COMPOSITION">
  
            </nz-descriptions>
            <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
              <thead>
                <tr class="content-table-head">
                  <th>Name</th>
                  <th>Relationship</th>
                  <th>Age</th>
                  <th>Civil Status</th>
                  <th>Occupation</th>
                  <th>Income</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of data?.details; let i=index;">
                  <tr class="content-table-body">
                    <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
                    <td>{{data.relation == null ? '&nbsp;' : data.relation}}</td>
                    <td>{{data.age}}</td>
                    <td>{{data.civil_status_name}}</td>
                    <td>{{data.occupation}}</td>
                    <td><span *ngIf="data.occupation_income">&#8369;</span> {{data.occupation_income | number: '1.2-2'}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24" style="margin-top: 20px;">
          <div nz-col [nzSpan]="6">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Living Arrangement" [nzSpan]="3">
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-col [nzSpan]="20">
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item [nzSpan]="1">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 1"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 1" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 20%;">Owned</div>
  
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 2"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 2" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 30%;">Living Alone</div>
  
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 3"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 3" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500;">Living w/ Relatives</div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="4"></div>
          <div nz-col [nzSpan]="20">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item [nzSpan]="1">
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 4"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 4" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 11.5%; width: 20%;">Rent</div>
  
                <div class="box" style="display: inline;">
                  <span *ngIf="data?.living_arrangement_id != 5"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
                  <i *ngIf="data?.living_arrangement_id == 5" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px; width: 30%;">Others, Please specify</div>
                <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                  {{data?.specify_living_others == null ? '&nbsp;' : data?.specify_living_others}}
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
  
        <nz-descriptions nzTitle="III. ECONOMIC STATUS">
          <nz-descriptions-item nzTitle="Pensioner?" [nzSpan]="3">
            <div class="box" style="display: inline;">
              <span *ngIf="data?.pensioner == 'false' || data?.pensioner == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.pensioner == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 10%;">Yes</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.pensioner == 'true' || data?.pensioner == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.pensioner == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 10%;">No</div>
  
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">If yes, how much?</div>
            <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
              <span *ngIf="data?.pensioner_amount == null">&nbsp;</span>
              <span *ngIf="data?.pensioner_amount != null">&#8369; {{data?.pensioner_amount | number:'1.2-2'}}</span>
            </div>
  
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Source" [nzSpan]="3">
            <div class="box" style="display: inline;">
              <span *ngIf="data?.source_gsis == 'false'"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.source_gsis == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">GSIS</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.source_sss == 'false'"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.source_sss == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">SSS</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.source_afpslai == 'false'"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.source_afpslai == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">AFPSLAI</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.source_others == 'false'"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.source_others == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Others</div>
            <div style="display: inline; border-bottom: 1px solid gray; width: 30%;">
              {{data?.specify_other_source == null ? '&nbsp;' : data?.specify_other_source}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Has permanent source of income?" [nzSpan]="3">
            <div class="box" style="display: inline;">
              <span *ngIf="data?.permanent_source == 'false' || data?.permanent_source== null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.permanent_source == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">Yes</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.permanent_source == 'true' || data?.permanent_source == null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.permanent_source == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">No</div>
  
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">If yes, from what source?</div>
            <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
              {{data?.what_source == null ? '&nbsp;' : data?.what_source}}
            </div>
  
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="Regular Support from Family?" [nzSpan]="3">
            <div class="box" style="display: inline;">
              <span *ngIf="data?.family_support == 'false' || data?.family_support== null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.family_support == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">Yes</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.family_support == 'true' || data?.family_support== null"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.family_support == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">No</div>
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions [nzColon]="false">
          <nz-descriptions-item nzTitle="Type of Support?" [nzSpan]="1">
            <div class="border">
              {{data?.support_type == null ? '&nbsp;' : data?.support_type}}
            </div>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="cash" [nzSpan]="2">
            <div class="border">
              <span *ngIf="data?.how_much == null">&nbsp;</span>
              <span *ngIf="data?.how_much != null">
                &#8369; {{data?.how_much | number:'1.2-2'}}
              </span>
              <span *ngIf="data?.how_often == null">&nbsp;</span>
              <span *ngIf="data?.how_often != null">/ {{data?.how_often}}</span>
            </div>
          </nz-descriptions-item>
          <ng-template #cash>
            <div>Cash <span style="font-style: italic;">(How much and how often)</span></div>
          </ng-template>
          <nz-descriptions-item [nzTitle]="inkind" [nzSpan]="1">
            <div class="border">
              {{data?.in_kind == null ? '&nbsp;' : data?.in_kind}}
            </div>
          </nz-descriptions-item>
          <ng-template #inkind>
            <div>In kind <span style="font-style: italic;">(specify)</span></div>
          </ng-template>
  
        </nz-descriptions>
  
        <nz-descriptions nzTitle="IV. HEALTH CONDITION">
          <nz-descriptions-item nzTitle="Condition / Illness" [nzSpan]="3">
            <div class="border">
              {{data?.condition == null ? '&nbsp;' : data?.condition}}
            </div>
          </nz-descriptions-item>
  
          <nz-descriptions-item nzTitle="With maintenance" [nzSpan]="3">
            <div class="box" style="display: inline;">
              <span *ngIf="data?.with_maintenance == 'false'"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.with_maintenance == 'true'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">Yes</div>
  
            <div class="box" style="display: inline;">
              <span *ngIf="data?.with_maintenance == 'true'"><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              <i *ngIf="data?.with_maintenance == 'false'" nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">No</div>
  
            <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">If yes, please specify?</div>
            <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
              {{data?.specify_maintenance == null ? '&nbsp;' : data?.specify_maintenance}}
            </div>
  
          </nz-descriptions-item>
        </nz-descriptions>
  
        <nz-descriptions nzTitle="V. ASSESSMENT"></nz-descriptions>
  
        <div class="border">
          {{data?.assessment_description}}
        </div>
        <div class="border">
          &nbsp;
        </div>
        <div class="border">
          &nbsp;
        </div>
  
        <p style="text-align: center; font-weight: 500; margin-top: 20px;">
          I hereby certify that the above mentioned information are true and correct to the best of my knowledge.
        </p>
  
        <nz-descriptions>
          <nz-descriptions-item nzTitle="Interviewed by"></nz-descriptions-item>
        </nz-descriptions>
  
        <div nz-row>
          <div nz-col [nzSpan]="12">
  
            <span>&nbsp;</span>
            <div class="signatureLabel">
              C/MSWDO Social Worker/Officer
            </div>
            <div style="text-align: center; font-style: italic; margin-top: -20px; width: 90%;">
              (Signature over Printed Name)
            </div>
  
          </div>
  
          <div nz-col [nzSpan]="12">
            <nz-descriptions [nzColon]="false">
              <nz-descriptions-item nzTitle="" [nzSpan]="1">
              </nz-descriptions-item>
              <nz-descriptions-item [nzTitle]="dateInterview" [nzSpan]="2">
                <div class="border">
                  &nbsp;
                </div>
              </nz-descriptions-item>
              <ng-template #dateInterview>
                <div style="font-weight: bold;">
                  Date of Interview:
                </div>
              </ng-template>
            </nz-descriptions>
          </div>
        </div>
  
        <app-footer-print></app-footer-print>
      </div>
    </div>
    
  </div>

  <div style="display: none;" class="printLayout" id="report-section-empty">
    <div class="printContent">
      <app-header-print></app-header-print>
      <div style="text-align: center;"><h2>SOCIAL PENSION FOR INDIGENT SENIOR CITIZENS</h2></div>
      
      <div style="text-align: center; margin-top: 3%;">
        <h2 style="font-weight: bold;">GENERAL INTAKE</h2>
      </div>

      <nz-descriptions nzTitle="I. IDENTIFYING INFORMATION:">
        <nz-descriptions-item nzTitle="Name" [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Citizenship" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="16" style="text-align: center; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">(Last Name, First Name, Middle Name)</span>
        </div>
      </div>
      <!-- <nz-descriptions>
        <nz-descriptions-item nzTitle="Present Address" [nzSpan]="3">
          <span>(asd asd, asd)</span>
        </nz-descriptions-item>
      </nz-descriptions> -->

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Present Address" [nzSpan]="3">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">(House No. &nbsp;&nbsp;&nbsp; Street</span>
        </div>
        <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">Barangay</span>
        </div>
        <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">City/Municipality</span>
        </div>
        <div nz-col [nzSpan]="6" style="text-align: right; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">Province)</span>
        </div>
      </div>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Age" [nzSpan]="0.7">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Sex" [nzSpan]="0.7">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Civil Status" [nzSpan]="0.7">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Religion" [nzSpan]="0.7">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Birth Date" [nzSpan]="1.5">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Birth Place" [nzSpan]="1.5">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="14" style="text-align: center; margin-top: -12px;">
          <span style="font-style: italic; font-size: 12px;">(Month, Date, Year)</span>
        </div>
      </div>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1.5">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="Occupation" [nzSpan]="1.5">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
        <ng-template #Occupation>
          <div style="color: red;">Occupation</div>
        </ng-template>
      </nz-descriptions>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Affiliation/Group" [nzSpan]="3"></nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="" [nzSpan]="3">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Listahan (Please specify household number)</div>
              <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="" [nzSpan]="3">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500;  padding-right: 10%;">Pantawid Beneficiary</div>
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500;">Senior Citizen Organization</div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="" [nzSpan]="3">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Indigenous People (Please specify)</div>
              <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="" [nzSpan]="3">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Other (Please specify)</div>
              <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="ID Number" [nzSpan]="3"></nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="OSCA" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="TIN" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="GSIS" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="SSS" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="PhilHealth" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Others" [nzSpan]="1">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item [nzTitle]="Father" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
            <ng-template #Father>
              <div style="color: red;">Father's Name</div>
            </ng-template>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item [nzTitle]="Mother" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
            <ng-template #Mother>
              <div style="color: red;">Mother's Maiden Name</div>
            </ng-template>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-descriptions nzTitle="II. FAMILY COMPOSITION">

          </nz-descriptions>
          <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
            <thead>
              <tr class="content-table-head">
                <th>Name</th>
                <th>Relationship</th>
                <th>Age</th>
                <th>Civil Status</th>
                <th>Occupation</th>
                <th>Income</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of data?.details; let i=index;">
                <tr class="content-table-body">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>

      <div nz-row [nzGutter]="24" style="margin-top: 20px;">
        <div nz-col [nzSpan]="6">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Living Arrangement" [nzSpan]="3">
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="20">
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item [nzSpan]="1">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 20%;">Owned</div>

              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 10%; width: 30%;">Living Alone</div>

              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500;">Living w/ Relatives</div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item [nzSpan]="1">
              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 11.5%; width: 20%;">Rent</div>

              <div class="box" style="display: inline;">
                <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
              </div>
              <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px; width: 30%;">Others, Please specify</div>
              <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <nz-descriptions nzTitle="III. ECONOMIC STATUS">
        <nz-descriptions-item nzTitle="Pensioner?" [nzSpan]="3">
          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 10%;">Yes</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 10%;">No</div>

          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">If yes, how much?</div>
          <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
            &nbsp;
          </div>

        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Source" [nzSpan]="3">
          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">GSIS</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">SSS</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">AFPSLAI</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">Others</div>
          <div style="display: inline; border-bottom: 1px solid gray; width: 30%;">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Has permanent source of income?" [nzSpan]="3">
          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">Yes</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">No</div>

          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">If yes, from what source?</div>
          <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
            &nbsp;
          </div>

        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Regular Support from Family?" [nzSpan]="3">
          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">Yes</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">No</div>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzColon]="false">
        <nz-descriptions-item nzTitle="Type of Support?" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="cash" [nzSpan]="2">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
        <ng-template #cash>
          <div>Cash <span style="font-style: italic;">(How much and how often)</span></div>
        </ng-template>
        <nz-descriptions-item [nzTitle]="inkind" [nzSpan]="1">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>
        <ng-template #inkind>
          <div>In kind <span style="font-style: italic;">(specify)</span></div>
        </ng-template>

      </nz-descriptions>

      <nz-descriptions nzTitle="IV. HEALTH CONDITION">
        <nz-descriptions-item nzTitle="Condition / Illness" [nzSpan]="3">
          <div class="border">
            &nbsp;
          </div>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="With maintenance" [nzSpan]="3">
          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">Yes</div>

          <div class="box" style="display: inline;">
            <span><i style="color: white;" nz-icon nzType="check" nzTheme="outline"></i></span>
          </div>
          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5%; width: 15%;">No</div>

          <div style="display: inline; padding-left: 10px; font-weight: 500; padding-right: 5px;">If yes, please specify?</div>
          <div style="display: inline; border-bottom: 1px solid gray; width: 50%;">
            &nbsp;
          </div>

        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions nzTitle="V. ASSESSMENT"></nz-descriptions>

      <div class="border">
        &nbsp;
      </div>
      <div class="border">
        &nbsp;
      </div>
      <div class="border">
        &nbsp;
      </div>

      <p style="text-align: center; font-weight: 500; margin-top: 20px;">
        I hereby certify that the above mentioned information are true and correct to the best of my knowledge.
      </p>

      <nz-descriptions>
        <nz-descriptions-item nzTitle="Interviewed by"></nz-descriptions-item>
      </nz-descriptions>

      <div nz-row>
        <div nz-col [nzSpan]="12">

          <span>&nbsp;</span>
          <div class="signatureLabel">
            C/MSWDO Social Worker/Officer
          </div>
          <div style="text-align: center; font-style: italic; margin-top: -20px; width: 90%;">
            (Signature over Printed Name)
          </div>

        </div>

        <div nz-col [nzSpan]="12">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="" [nzSpan]="1">
            </nz-descriptions-item>
            <nz-descriptions-item [nzTitle]="dateInterview" [nzSpan]="2">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
            <ng-template #dateInterview>
              <div style="font-weight: bold;">
                Date of Interview:
              </div>
            </ng-template>
          </nz-descriptions>
        </div>
      </div>

      <app-footer-print></app-footer-print>
    </div>
  </div>
</nz-spin>