<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline"></i>Medical Abstract</h3>
  <!-- <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline"></i>
    EXPORT TO EXCEL
  </button> -->
   <!-- <button nz-button nzType="primary" (click)="print(); $event.preventDefault();">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button> -->
  <button nz-button nzType="primary" (click)="$event.preventDefault();" [useExistingCss]="true"
        printSectionId="print-section"
        ngxPrint>
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          PRINT
        </button>
</div>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">

  <div class="printLayout printContent" id="print-section">
  <!-- <div class="printLayout" id="print-section"> -->
    <div class="" nzAlign="bottom" id="report-serction">
      <br><br>
      <app-header-print></app-header-print>
      <!-- <div style="text-align: center;"><h2>MUNICIPAL HEALTH OFFICE</h2></div> -->
      <div style="text-align: center;"><h2>MEDICAL ABSTRACT</h2></div>
      <br>
      <div class="content">
        <div nz-row>

          <div nz-col nzSpan="20" nzOffset="2">
            <div nz-row nzJustify="space-between">

              <div nz-row nzJustify="start">
                  <p>I, the undersigned {{dept_head}} Doctor of Medicine, certify that the examination of:</p>
              </div>

            </div>
            <div nz-row>
              <div nz-col nzSpan="5">
                <div nz-row nzJustify="start">
                    <p>Name</p>
                </div>
              </div>
              <div nz-col nzSpan="1"><h3>:</h3></div>
              <div nz-col nzSpan="10"><p><b><i>{{issued_to}}</i></b></p></div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="5">
                <div nz-row nzJustify="start">
                    <p>Date of birth</p>
                </div>
              </div>
              <div nz-col nzSpan="1"><h3>:</h3></div>
              <div nz-col nzSpan="10"><p>{{date_of_birth | date: 'MM/dd/yyyy'}}</p></div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="5">
                <div nz-row nzJustify="start">
                    <p>Age</p>
                </div>
              </div>
              <div nz-col nzSpan="1"><h3>:</h3></div>
              <div nz-col nzSpan="10"><p>{{age}}</p></div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="5">
                <div nz-row nzJustify="start">
                    <p>Address</p>
                </div>
              </div>
              <div nz-col nzSpan="1"><h3>:</h3></div>
              <div nz-col nzSpan="10"><p>{{address}}</p></div>
            </div>
            <div nz-row nzJustify="start">
              <div nz-col nzSpan="24">
                <nz-divider nzText="HPI" nzOrientation="left"></nz-divider>
              </div>
              <div nz-col nzSpan="24">
                <div nz-col class="gutter-row" [nzSpan]="24">
                      <ng-container *ngFor="let data_trans of listHpiData[0]">
                        {{data_trans.ma_hpi_details != '' ? data_trans.ma_hpi_details : 'N/A'}}
                      </ng-container>
                </div>
              </div>
            </div>

            <div nz-row nzJustify="start">
              <div nz-col nzSpan="24">
                <nz-divider nzText="PE" nzOrientation="left"></nz-divider>
              </div>
              <div nz-col nzSpan="24">
                <div nz-col class="gutter-row" [nzSpan]="24">
                      <ng-container *ngFor="let data_trans of listPeData[0]">
                        <nz-descriptions>
                          <nz-descriptions-item nzTitle="Examination">{{data_trans.ma_pe_lab_exam_name}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Examiner">{{data_trans.ma_pe_examiner_name}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Date">{{data_trans.ma_pe_lab_exam_date}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Result">{{data_trans.ma_pe_lab_exam_result}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Cause">
                            {{data_trans.ma_pe_lab_exam_cause}}
                          </nz-descriptions-item>
                        </nz-descriptions>
                      </ng-container>
                </div>
              </div>
            </div>

            <div nz-row nzJustify="start">
              <div nz-col nzSpan="24">
                <nz-divider nzText="Diagnosis" nzOrientation="left"></nz-divider>
              </div>
              <div nz-col nzSpan="24">
                <div nz-col class="gutter-row" [nzSpan]="24">
                      <ng-container *ngFor="let data_trans of listDxData[0]">

                        <nz-descriptions>
                          <nz-descriptions-item nzTitle="Details">
                            {{data_trans.ma_dx_details != '' ? data_trans.ma_dx_details : 'N/A'}}
                          </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions>
                          <nz-descriptions-item nzTitle="Treatment">
                            {{data_trans.ma_dx_treatment != '' ? data_trans.ma_dx_treatment : 'N/A'}}
                          </nz-descriptions-item>
                        </nz-descriptions>
                      </ng-container>
                </div>
              </div>
            </div>
            <div nz-row nzJustify="start">
              <div nz-col nzSpan="24">
                <nz-divider nzText="Medication" nzOrientation="left"></nz-divider>
              </div>
              <div nz-col nzSpan="24">
                <div nz-col class="gutter-row" [nzSpan]="24">
                      <ng-container *ngFor="let data_trans of listMedsData[0]">

                        <nz-descriptions>
                          <nz-descriptions-item nzTitle="Type Of Medicine">
                            {{data_trans.ma_meds_type != '' ? data_trans.ma_meds_type : 'N/A'}}
                          </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions>
                          <nz-descriptions-item nzTitle="Details">
                            {{data_trans.ma_meds_details != '' ? data_trans.ma_meds_details : 'N/A'}}
                          </nz-descriptions-item>
                        </nz-descriptions>
                      </ng-container>
                </div>
              </div>
            </div>

            <br>



          </div>

        </div>
        <br>
        <div nz-col nzSpan="20" nzOffset="2">
          <div nz-row nzJustify="start">
            <p>{{foot_note}},Prosperidad, Agusan Del Sur.</p>
          </div>
        </div>
        <br>
        <div nz-row nzJustify="space-between" style="padding: 40px;">
          <div nz-col nzSpan="8">
            <h3>Date :{{date_now}}</h3>
          </div>
        </div>
        <div nz-row nzJustify="space-between">
          <div nz-col nzSpan="9">
            <div style="text-align: center;">
            <!-- <span style="text-decoration: underline; white-space: pre-line; text-transform:uppercase;"><b><i>{{mun_doc}}</i></b></span><br>
            {{mun_doc_tittle}} -->
           </div>
          </div>
          <div nz-col nzSpan="9"><div style="text-align: center;">
            <span style="text-decoration: underline; white-space: pre-line; text-transform:uppercase;"><b><i>{{person_data[0]?.doctorfname_in_charge}}</i></b></span><br>
            {{person_data[0]?.doctorposition_in_charge}}
           </div>
          </div>

        </div>




      </div>
    </div>
    <div class="footDiv">
      <app-footer-print  *ngIf="formSetting.show_footer == 'true'"></app-footer-print>
    </div>

    <div class="footDivPrint">
      <app-footer-print  *ngIf="formSetting.show_footer == 'true'"></app-footer-print>
    </div>
</div>
</nz-spin>
