<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzExtra="(First Name)*">
      <nz-input-group>
        <input class="capital" formControlName="first_name" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzExtra="(Middle Name)*">
      <nz-input-group>
        <input class="capital" formControlName="middle_name" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzExtra="(Last Name)*">
      <nz-input-group>
        <input class="capital" formControlName="last_name" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzExtra="(Suffix)">
      <nz-input-group>
        <input class="capital" formControlName="suffix" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzExtra="(Date of Birth)">
      <nz-input-group>
        <nz-date-picker formControlName="birth_date" [(ngModel)]="date"></nz-date-picker>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        <i nz-icon nzType="search" nzTheme="outline"></i>
        Search
      </button>
      <button nz-button nzType="default" (click)="clear(); $event.preventDefault();" style="margin-left: 10px;">
        <i nz-icon nzType="reload" nzTheme="outline"></i>
        Reload
      </button>
      <label style="padding-left: 20px;" formControlName="statusCheckbox" (ngModelChange)="selected($event)" nz-checkbox [(ngModel)]="checked">All Status</label>
    </nz-form-control>
  </nz-form-item>
</form>