
<h2>Cumulative Data - Business</h2>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered nzFooter="Footer" [nzTitle]="dateFilter" nzSize="small">
    <thead>
    <tr>
        <th>Trade Name</th>
        <th>Business Name</th>
        <th>Owner</th>
        <th>Address</th>
        <th>Contact #</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.trade_name}}</td>
        <td>{{data.business_name}}</td>
        <td>{{data.owner_name}}</td>
        <td style="font-size: small;">{{data.building}}, {{data.street}}, {{data.brgy_name}}</td>
        <td style="font-size: small;">(Tel){{data.tel_no}} | (Moblie){{data.mobile_no}}  </td>

        <td>
          <button nz-button nzType="primary" (click)="checkBusiness(data)">Select</button>

        </td>
      </tr>
    </tbody>

    <ng-template #dateFilter>
      <app-date-filter></app-date-filter>
    </ng-template>

  </nz-table>
</nz-spin>
