
<nz-spin [nzSpinning]="loading">
<div style="height: 100%; width: 100%;">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
      <nz-anchor [nzShowInkInFixed]="false">
        <nz-page-header>
          <nz-page-header-title>Form Setup</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button  (click)="cancel($event)">
              <i nz-icon nzType="folder-open"></i>
              Save as Draft
            </button>
            <button (click)="cancel($event)" nz-button nzType="primary" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel
            </button>
            <button nz-button nzType="primary">
              <i nz-icon nzType="save"></i>
              Save & Exit
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>
      
    
      <nz-card nzType="inner" [nzTitle]="title" style="width: 100%;">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
              <nz-steps  [nzCurrent]="selectedIndex">
                <nz-step nzTitle="Main"   nzDescription="Assign Form Name and Domain"></nz-step>
                <nz-step *ngIf="radioValue == 'Form'"   nzTitle="Settings" nzDescription="Form Preferences and Form Number Setting"></nz-step> 
              <nz-step *ngIf="radioValue == 'Form'"   nzTitle="Activity"nzDescription="Form Activity Configuration" ></nz-step>
              </nz-steps>
                <nz-tabset [(nzSelectedIndex)]="selectedIndex" >
                    <nz-tab  *ngIf="selectedIndex == 0">
                        
                        <nz-form-item>
                            <nz-form-label [nzSm]="4" [nzXs]="12"nzRequired>Type</nz-form-label>
                            <nz-form-control  [nzSm]="4" [nzXs]="12" >
                                <nz-radio-group formControlName="form_type" [(ngModel)]="radioValue" (ngModelChange)="typeSelect($event)">
                                    <label nz-radio nzValue="Folder">Folder</label>
                                    <label nz-radio nzValue="Form">Form</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
        
                        <nz-form-item>
                            <nz-form-label [nzSm]="4" [nzXs]="12" nzFor="DomainID" nzRequired>Domain</nz-form-label>
                            <nz-form-control [nzSm]="4" [nzXs]="12" nzErrorTip="Please select domain!">
                              <nz-select
                                nzShowSearch
                                (ngModelChange)="domainSelect($event)"
                                id="DomainID"
                                formControlName="domain_guid"
                                nzPlaceHolder="Select a domain">
                                <nz-option *ngFor="let list of domainList" nzValue="{{list.domain_guid}}" nzLabel="{{list.domain_name}}"></nz-option>
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
        
                          <nz-form-item>
                            <nz-form-label [nzSm]="4" [nzXs]="12" nzFor="domainName">Parent Node</nz-form-label>
                            <nz-form-control  [nzSm]="4" [nzXs]="12"  >
                            <nz-select formControlName="parent_guid" nzPlaceHolder="Select Parent Folder (Optional)" [nzAllowClear]="true" (ngModelChange)="parentSelect($event)">
                              <nz-option *ngFor="let list of parentFolderList" nzValue="{{list.form_guid}}" nzLabel="{{list.form_name}}"></nz-option>
                            </nz-select>
                            </nz-form-control>
                          </nz-form-item>
        
                          <nz-form-item>
                            <nz-form-label [nzSm]="4" [nzXs]="12" nzRequired>{{labelName}}</nz-form-label>
                            <nz-form-control  [nzSm]="4" [nzXs]="12"  [nzErrorTip]="userErrorTpl">
                              <input nz-input formControlName="form_name" [(ngModel)]="form_Name" (ngModelChange)="nameChange()" placeholder="Enter Form/Folder Name" />
                              <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  Please input form name!
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>

                          <nz-form-item>
                            <nz-form-label [nzSm]="4" [nzXs]="12">Alias</nz-form-label>
                            <nz-form-control  [nzSm]="4" [nzXs]="12"  [nzErrorTip]="userErrorTpl">
                              <input nz-input formControlName="form_alias" [(ngModel)]="formAlias" placeholder="Enter Form/Folder Name" />
                              <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  Please input form name!
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>

                          <nz-form-item>
                          <nz-form-label [nzSm]="4" [nzXs]="12">Icon</nz-form-label>
                          <nz-form-control  [nzSm]="4" [nzXs]="12"  >
                            <input nz-input formControlName="form_icon" placeholder="Enter Icon Name" />
                          </nz-form-control>
                        </nz-form-item>
                    </nz-tab>

                    <nz-tab *ngIf="selectedIndex == 1">

                      <div nz-row  [nzGutter]="32">
                        <div nz-col nz-col nzSpan="12">

                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24">Form Number Preview</nz-form-label>
                            <nz-form-control  [nzSm]="8" [nzXs]="12" [nzErrorTip]="userErrorTpl">
                              <input [readonly]="true" nz-input formControlName="series_ref_no"/>
                              <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  Please input form name!
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>


                       <nz-divider></nz-divider>
                       <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" >Series Reset</nz-form-label>
                        <nz-form-control  [nzSm]="24" [nzXs]="24" >
                            <nz-radio-group formControlName="series_reset" [(ngModel)]="resetValue">
                                <label nz-radio nzValue="Yearly">Yearly</label>
                                <label nz-radio nzValue="Monthly">Monthly</label>
                            </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                       
                        <div nz-row [nzGutter]="30">
                          <div nz-col nzSpan="6">
                              <nz-form-item>
                                  <nz-form-control  [nzSm]="18" [nzXs]="12" [nzErrorTip]="userErrorTpl"  nzExtra="Series Length"> 
                                    <input nz-input formControlName="series_length" [(ngModel)]="seriesLength" (ngModelChange)="pad()"/>
                                    <ng-template #userErrorTpl let-control>
                                      <ng-container *ngIf="control.hasError('required')">
                                        Please input form name!
                                      </ng-container>
                                    </ng-template>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                              
                          <div nz-col nzSpan="6">
                                <nz-form-item>
                                  <nz-form-control  [nzSm]="18" [nzXs]="12" [nzErrorTip]="userErrorTpl" nzExtra="Series Start"> 
                                    <input nz-input formControlName="series_start"   [(ngModel)]="seriesStart"  (ngModelChange)="pad()" />
                                    <ng-template #userErrorTpl let-control>
                                      <ng-container *ngIf="control.hasError('required')">
                                        Please input form name!
                                      </ng-container>
                                    </ng-template>
                                  </nz-form-control>
                                </nz-form-item>
                          </div>
                          
                          <div nz-col nzSpan="6">
                                <nz-form-item>
                                  <nz-form-control  [nzSm]="16" [nzXs]="12" [nzErrorTip]="userErrorTpl"  nzExtra="Series Separator"> 
                                    <input maxlength="1" nz-input formControlName="series_separator" [(ngModel)]="seriesSeparator" (ngModelChange)="separatorChange($event.value)"/>
                                    <ng-template #userErrorTpl let-control>
                                      <ng-container *ngIf="control.hasError('required')">
                                        Please input form name!
                                      </ng-container>
                                    </ng-template>
                                  </nz-form-control>
                                </nz-form-item>
                          </div>
                        </div>



                              <ng-container formArrayName="form_series">
                                <div *ngFor="let data of seriesArray().controls; let i = index" [formGroupName]="i">
                                    <div nz-row [nzGutter]="32">
                                        <div nz-col nzSpan="6">
                                            <nz-form-item> 
                                            <nz-form-control  [nzSm]="12" [nzXs]="12" [nzErrorTip]="userErrorTpl">
                                                <label nz-checkbox formControlName="checked" (ngModelChange)="seriesChange(i)">Include</label>
                                            </nz-form-control>
                                            </nz-form-item>
                                        </div>
    
                                        <div nz-col nzSpan="6">
                                            <nz-form-label [nzSm]="12" [nzXs]="12">{{data.value.series_type}}</nz-form-label>
                                        </div>
                                        
                                        <div nz-col nzSpan="6">
                                        <nz-form-item>
                                            <nz-form-control [nzSm]="16" [nzXs]="12">
                                              <input *ngIf="data.value.series_type != 'Series'" nz-input formControlName="series_format" (ngModelChange)="seriesChange(i)" />
                                              <input *ngIf="data.value.series_type === 'Series'" maxlength="{{seriesLength}}" nz-input formControlName="series_format" (ngModelChange)="seriesChange(i)" />
                                            </nz-form-control>
                                          </nz-form-item>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                              
                            <div style="height: 3%;"></div>
                         
                            </div>

                            <div nz-col [nzSpan]="12">
                              <label style="font-size: 24px;" class="label">Form Preferences </label>
                              <nz-divider></nz-divider>
                              <div nz-row [nzGutter]="32">
                                <div nz-col nzSpan="12">
                                  <div style="padding-left: 10px;">
                                    <nz-form-control  [nzSm]="24" [nzXs]="24">
                                      <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="genFormNum">Generate Form Number</label>
                                      </nz-form-control>
                                     
                                      <nz-form-control  [nzSm]="24" [nzXs]="24">
                                          <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="withFees" (ngModelChange)="feesChange()">With Fees</label>
                                      </nz-form-control>
                                      <nz-form-control  [nzSm]="24" [nzXs]="24">
                                        <label nz-checkbox [ngModelOptions]="{standalone: true}"  [(ngModel)]="allowPrint" (ngModelChange)="allow()">Allow Print</label>
                                      </nz-form-control>
                                      <div *ngIf="allowPrint">
                                        <div class="print-config" style="padding-left: 20px;">
                                          <nz-form-item>
                                          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DomainID">Print When</nz-form-label>
                                          <nz-form-control  [nzSm]="12" [nzXs]="24">
                                            <nz-select  formControlName="print_option"  [(ngModel)]="printOpt">
                                            <nz-option *ngFor="let list of printOptions" nzValue="{{list}}" nzLabel="{{list}}"></nz-option>
                                            </nz-select>
                                          </nz-form-control>
                                          </nz-form-item>
                                          <nz-form-control  [nzSm]="24" [nzXs]="24">
                                            <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="showHeader">Show Header</label>
                                            </nz-form-control>
                                            <nz-form-control  [nzSm]="24" [nzXs]="24">
                                                <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="showFooter">Show Footer</label>
                                            </nz-form-control>
                                            <nz-form-control  [nzSm]="24" [nzXs]="24">
                                              <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="showSignatory">Show Signatory</label>
                                            </nz-form-control>
                                        
                                        </div>
                                      </div> 
                                  </div>
                                </div>
                                
                                <div nz-col nzSpan="12">
                                  <ng-container>
                                    <nz-form-item>
                                      <nz-form-label [nzSm]="8" [nzXs]="24">Default Filter</nz-form-label>
                                      <nz-form-control>
                                          <nz-radio-group class="filterRadio" formControlName="default_filter_id" [(ngModel)]="filterValue" >
                                            <ng-container *ngFor="let data of filterList; let i = index" >
                                              <label nz-radio [nzValue]="data.form_filter_id">{{data.form_filter_name}}</label>
                                            </ng-container>
                                          </nz-radio-group>
                                      </nz-form-control>
                                  </nz-form-item>
                                  </ng-container>
                                </div>
                              </div>
                         
                            </div>
                          </div>
                    </nz-tab>

                    <nz-tab *ngIf="selectedIndex == 2">
                      <div nz-row [nzGutter]="32">
                      <div nz-col nzSpan="14">
                        <nz-table style="table-layout:fixed !important" nzSize="small" [nzTitle]="add" formArrayName="routes" [nzShowPagination]="false" [nzFrontPagination]="false" [nzPageSize]="5" nzSize="small" #editRowTable nzBordered [nzData]="['']">
                          <thead>
                            <tr>
                              <th style="width: 200px ">Type</th>
                              <th>Name</th>
                              <th>URL</th>
                              <th style="width: 100px ">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of activity().controls; let i=index" [formGroupName]="i">
                              <td > 
                                <nz-form-control >
                                  <nz-select style="width: 200px " nzShowSearch formControlName="action_type_id" nzPlaceHolder="Select" >
                                    <nz-option *ngFor="let list of actionTypeList" nzValue="{{list.action_type_id}}" nzLabel="{{list.action_name}}"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </td>
                              <td>
                                <nz-form-control >
                                <input formControlName="activity_name"  type="text" nz-input placeholder="e.g. Domain List View">
                                </nz-form-control>
                              </td>
                              <td>
                                <nz-form-control [nzSm]="36" >
                                <input formControlName="executable_path" type="text" nz-input placeholder="e.g. /main/admin-console/domain" >
                                </nz-form-control>
                              </td>
                              <td>
                                <div>
                                  <button style="transform: scale(0.8); width: 100%;" nz-button nzType="primary" (click)="delete(i)" nzDanger>Remove</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                      <div nz-col nzSpan="2">
                      </div>
                      <div nz-col nzSpan="8">
                     
                  

                     
                      </div>
                    </div>
                    </nz-tab>
                  </nz-tabset>
                 
            </div>
        </div>    
      </nz-card>

      <div *ngIf="radioValue == 'Form'" style="position: fixed;" nz-row [nzGutter]="32"> 
        <div nz-col [nzSpan]="8">
        <a *ngIf="showBackBtn" nz-button nzSize="large" nzType="link" (click)="back()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Back</a>
        </div>
        <div nz-col [nzSpan]="6">
        <a *ngIf="showNextBtn" [disabled]="!validateForm.valid"  nz-button nzSize="large" nzType="link" (click)="nextTab()">Next <i nz-icon nzType="arrow-right" nzTheme="outline"></i></a>
        </div>
      </div>
    </form>
</div>
</nz-spin>
<ng-template #mainTitle>
    <i nz-icon nzType="form" nzTheme="outline"></i>
    Main
  </ng-template>
<ng-template #configTitle>
    <i nz-icon nzType="setting" nzTheme="outline"></i>
    Setting
  </ng-template>
  <ng-template #activityTitle>
    <i nz-icon nzType="control" nzTheme="outline"></i>
   Activity Configuration
  </ng-template>

  <ng-template #add>
    <div style="padding-left: 40vw;">
      <button nz-button (click)="addRow();$event.preventDefault()" style="transform: scale(0.9); background: #1890ff; color: white;"><i nz-icon nzType="plus-square" nzTheme="outline"></i> Add Row</button>
    </div>
    
  </ng-template>

