
<nz-spin [nzSpinning]="loading">
  <div style="height: 100%;">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
      <nz-anchor [nzShowInkInFixed]="false">
        <nz-page-header>
          <nz-page-header-title>Employee</nz-page-header-title>
          <nz-page-header-extra>
           
            <!-- <button nz-button (click)="$event.preventDefault()" >
              <i nz-icon nzType="folder-open"></i>
              Save as Draft
            </button> -->
            <button nz-button (click)="cancel($event);" nzType="primary" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel            </button>
            <button  nz-button nzType="primary" [nzLoading]="loading" class="button-form" [disabled]="!validateForm.valid">
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>

      <nz-tabset nzType="card">
        <nz-tab [nzTitle]="TransactionForm">

          <div nz-row>
            <div nz-col nzSpan="24">

              <nz-card nzType="inner" nzTitle="Employee Setup">
                <div nz-row [nzGutter]="32" style="width: 100%;">
                  <div nz-col nzSpan="10">
                    <!-- <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Application Type</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24" >
                          <nz-select
                            formControlName="application_type_id"
                            nzPlaceHolder="Select Tenant Type"
                            [(ngModel)]="defaultType"
                            (ngModelChange)="selectType($event)">
                          <nz-option *ngFor="let list of applicationTypeList" nzValue="{{list.application_type_id}}" nzLabel="{{list.name}}" >
                          </nz-option>
                          </nz-select>
                         </nz-form-control>
                      </nz-form-item> -->
                      
                      <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired>Employee</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                          <nz-input-group nzSearch  [nzAddOnAfter]="browseButton">
                            <input type="text" [readonly]="true" nz-input formControlName="employee_name" style="text-transform: uppercase;" placeholder=""  />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                      
                      <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="12">Employee No.</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                          <nz-input-group>
                            <input type="text" nz-input formControlName="emp_account_no" placeholder="e.g. 01-10-0112-2019"/>
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
        
        
                      <ng-container formGroupName="person_dept">
                      <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Assigned Department</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24" >
                          <nz-select
                            nzShowSearch 
                            nzAllowClear 
                            formControlName="dept_id"
                            nzPlaceHolder="Select Department"
                            (ngModelChange)="selectDept($event)">
                          <nz-option *ngFor="let list of deptList" nzValue="{{list.dept_id}}" nzLabel="{{list.short_desc}}" >
                          </nz-option>
                          </nz-select>
                         </nz-form-control>
                      </nz-form-item> 
                    </ng-container>
        
                    <ng-container formGroupName="person_position">
                      <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Assigned Position</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24" >
                          <nz-select
                            nzShowSearch 
                            nzAllowClear 
                            formControlName="position_id"
                            nzPlaceHolder="Select Position">
                          <nz-option *ngFor="let list of posList" nzValue="{{list.position_id}}" nzLabel="{{list.position_name}}" >
                          </nz-option>
                          </nz-select>
                         </nz-form-control>
                      </nz-form-item> 
                    </ng-container>
                    
                    <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12"  [nzNoColon]="true"></nz-form-label>
                    <nz-form-control  [nzSm]="16" [nzXs]="24" >
                    <label nz-checkbox [nzDisabled]="validateForm.value.person_position.position_id == '' || validateForm.value.person_dept.dept_id == ''"  [ngModelOptions]="{standalone:true}" [(ngModel)]="checkSame" (ngModelChange)="checkChange($event)">Same with Assigned Department and Position</label> 
                    </nz-form-control>
                  </nz-form-item> 
        
                    <ng-container formGroupName="person_payroll_dept">
                      <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Payroll Department</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24" >
                          <nz-select
                            nzShowSearch 
                            nzAllowClear 
                            formControlName="dept_id"
                            nzPlaceHolder="Select Payroll Department"
                           >
                          <nz-option *ngFor="let list of deptList" nzValue="{{list.dept_id}}" nzLabel="{{list.short_desc}}" >
                          </nz-option>
                          </nz-select>
                         </nz-form-control>
                      </nz-form-item> 
                    </ng-container>
        
                    <ng-container formGroupName="person_payroll_position">
                      <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Payroll Position</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24" >
                          <nz-select
                            nzShowSearch 
                            nzAllowClear 
                            formControlName="position_id"
                            nzPlaceHolder="Select Payroll Position">
                          <nz-option *ngFor="let list of posList" nzValue="{{list.position_id}}" nzLabel="{{list.position_name}}" >
                          </nz-option>
                          </nz-select>
                         </nz-form-control>
                      </nz-form-item> 
                    </ng-container>
        
                      <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Employment Type</nz-form-label>
                        <nz-form-control  [nzSm]="16" [nzXs]="24" >
                          <nz-select
                            formControlName="employee_type_id"
                            nzPlaceHolder="Select Type">
                          <nz-option *ngFor="let list of empTypeList" nzValue="{{list.emp_type_id}}" nzLabel="{{list.emp_type}}" >
                          </nz-option>
                          </nz-select>
                         </nz-form-control>
                      </nz-form-item> 
        
                    <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired>Date Hired</nz-form-label>
                      <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                        <nz-date-picker style="width: 100%;" [nzFormat]="'MM/dd/yyyy'" formControlName="date_hired" nz-input ></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
        
                  <div nz-col nzSpan="2">
        
                  </div>
                  <div nz-col nzSpan="12"> 
                    <ng-container *ngIf="validateForm.value.person_guid != ''">
                    <nz-card nzTitle="Person Information">
                     
                        <nz-descriptions nzTitle="{{personData.prefix}} {{personData.first_name}} {{personData.middle_name}} {{personData.last_name}} {{personData.suffix}}">
                          
                          <nz-descriptions-item nzTitle="Birth Date">{{personData.birth_date | date:'mediumDate'}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Contact No">{{personData.phone_no}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Blood Type">{{personData.blood_type_name}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Age">{{personData.age}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Citizenship">{{personData.citizenship}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Civil Status">{{personData.civil_status_name}}</nz-descriptions-item>
                          
                          <nz-descriptions-item nzTitle="Address">Brgy. {{personData.brgy_name}}, {{personData.city_mun_name}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Religion">{{personData.religion}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Contact No">{{personData.phone_no}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Gender">{{personData.gender_name}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Weight">{{personData.weight}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Height">{{personData.height}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Place of Birth">{{personData.place_of_birth}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="T.I.N">{{personData.tin}}</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Region">{{personData.reg_name}} - {{personData.reg_code}}</nz-descriptions-item>
                        </nz-descriptions>
                    </nz-card>
                   </ng-container>
                  </div>
          
                </div>
               
               </nz-card>

            </div>
          </div>

        </nz-tab>
      </nz-tabset>
  
    </form>
  </div>
</nz-spin>

<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>

<ng-template #browseButton>
  <button nz-button nzType="primary" nzSearch (click)="openPersonBrowse();$event.preventDefault()">Browse</button>
</ng-template>
