<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div style="text-align: center;" nz-col="24">
  </div>
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger [nzPageSize]="15" nzShowQuickJumper>
    <thead>
      <tr class="content-table-head">
        <th class="thClass">Form No.</th>
        <th class="thClass">Intake Date</th>
        <th class="thClass">Client's Name</th>
        <th class="thClass">Address</th>
        <th class="thClass">Case Title</th>
        <th class="thClass">Status</th>
        <th class="thClass">Action</th>
      </tr>
    </thead>
    <tbody class="content-table-body">
      <ng-container *ngFor="let data of basicTable.data; let i = index;">
        <tr (click)="rowClick(data.main_pk_id, valueClick = !valueClick, i);" class="rowHover">
          <td>{{data.form_trans_no}}</td>
          <td>{{data.wcc_summ_intake_date | date:'mediumDate'}}</td>
          <td>{{data.client_pname}}</td>
          <td>{{data.client_address}}</td>
          <td>{{data.case_tittle}}</td>
          <td *ngIf="data.status == '0'"><nz-tag [nzColor]="'#2799FF'">Pending</nz-tag></td>
          <td *ngIf="data.status == '1'"><nz-tag [nzColor]="'#f50'">Approved</nz-tag></td>
          <td>
            <button nz-tooltip nzTooltipTitle="Edit" class="actionEdit" nz-button nzType="text" (click)="edit(data); $event.stopPropagation()"><i nz-icon nzType="form" nzTheme="outline"></i></button>
            <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" nz-button nzType="text" (click)="delete(data.aics_guid, data); $event.stopPropagation()"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            <button nz-tooltip nzTooltipTitle="Print" class="actionPrint" nz-button nzType="text" (click)="print(data); $event.stopPropagation()"><i nz-icon nzType="printer" nzTheme="outline"></i></button>
          </td>
        </tr>
     <tr [nzExpand]="expandSet.has(i)">
      <div class="card-container">
            <nz-card nzTitle="I. Identifying Data" style="height: 100%;">
              <!-- <h3><b>4P's Member? </b><span nz-typography nzType="success"><i>{{data.client_4ps == '1' ? "Yes" : "No"}}</i></span></h3> -->
              <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                <nz-descriptions-item nzTitle="Name of Client/Referring Party" [nzSpan]="1">
                  {{data.client_name}},
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                  {{data.client_age}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Home Address" [nzSpan]="1">
                  {{data.client_address == null ? "" : data.client_address}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
                  n/a
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
                  n/a
                </nz-descriptions-item>
                </nz-descriptions>
            </nz-card>

          <!-- <nz-tab nzTitle="II. Family Members">
            <nz-card nzTitle="II. Family Memebers" style="height: 100%;">

              <nz-table #basicTable nzBordered [nzData]="data.family_list"  nzSize="small"
              nzFrontPagination="false">
                <thead>
                  <tr>
                    <th class="th-a">Fullname</th>
                    <th class="th-a">Age</th>
                    <th class="th-a">Relationship</th>
                    <th class="th-a">Occupation</th>
                    <th class="th-a">Contact Number</th>
                  </tr>
                </thead>
                <tbody>

                  <ng-container *ngFor="let data of basicTable.data; let i = index;">
                    <tr>
                      <td>
                        {{data.last_name}},
                        {{data.first_name}} {{data.middle_name == null ? "" : data.middle_name}}{{data.prefix == null ? "" : data.prefix}}
                      </td>
                      <td>
                        {{data.age}}
                      </td>
                      <td>
                        {{data.relation}}
                      </td>
                      <td>
                        {{data.profession == null ? "none" : data.profession}}
                      </td>
                      <td>
                        {{data.phone_no == null ? "none" : data.phone_no}}{{data.telephone_no == null ? " " : "/"+data.telephone_no}}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </nz-table>
            </nz-card>
          </nz-tab>
          <nz-tab nzTitle="III. Background of the case">
           <nz-card>
            <nz-tabset nzCentered>
              <nz-tab nzTitle="Incident Report">
                <nz-descriptions nzLayout="vertical">
                  <nz-descriptions-item nzTitle="Case Title">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{data.wcc_ir_dtl?.case_tittle}}</span>
                  </nz-descriptions-item>
                </nz-descriptions>
                <nz-descriptions nzLayout="vertical">
                  <nz-descriptions-item nzTitle="Type of Incident and summary of Incident">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{data.wcc_ir_dtl?.case_summary}}</span>
                  </nz-descriptions-item>
                </nz-descriptions>
                <nz-descriptions nzLayout="vertical">
                  <nz-descriptions-item nzTitle="Action Taken">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{data.wcc_ir_dtl?.case_action_taken}}</span>
                  </nz-descriptions-item>
                </nz-descriptions>
                <nz-descriptions nzLayout="vertical">
                  <nz-descriptions-item nzTitle="Recommendations/ Suggestions">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{data.wcc_ir_dtl?.case_recommendation}}</span>
                  </nz-descriptions-item>
                </nz-descriptions>
              </nz-tab>
              <nz-tab nzTitle="Case Conference">
                <nz-card>
                  <nz-table #basicTable nzBordered nzSize="small"
              nzFrontPagination="false"
              nzBordered >
                <thead>
                  <tr>
                    <th class="th-a">Point of Discussion</th>
                    <th class="th-a">Findings/Issued/Concerns</th>
                    <th class="th-a">Time Frame</th>
                    <th class="th-a">Office & Persone Resposible</th>
                    <th class="th-a">Agreements Reached</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let ccdata of ccData[i]; let i = index;">
                    <tr>
                      <td>{{ccdata.case_pod}}</td>
                      <td>{{ccdata.case_fic}}</td>
                      <td>{{ccdata.case_time_frame}}
                        <span><i>{{ccdata.case_time_type != 0 ? "Hour/s" : "Minute/s"}}</i>
                        </span>
                      </td>
                      <td>{{ccdata.case_per_responsible_name}}
                        <span><i>of {{ccdata.case_ofc_responsible}}</i></span>
                      </td>
                      <td>{{ccdata.case_agreement}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </nz-table>
                </nz-card>
              </nz-tab>
              <nz-tab nzTitle="Summary Intake">
                <nz-timeline>
                  <ng-container *ngFor="let si_data of siData[i]; let en = index">
                    <nz-timeline-item>
                    <nz-descriptions nzLayout="vertical">
                      <nz-descriptions-item nzTitle="Assesment">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;{{si_data.wcc_si_assesment}}</span>
                      </nz-descriptions-item>
                    </nz-descriptions>
                    <nz-descriptions nzLayout="vertical">
                      <nz-descriptions-item nzTitle="Recommendations">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;{{si_data.wcc_si_recommendation}}</span>
                      </nz-descriptions-item>
                    </nz-descriptions>
                    <nz-descriptions nzLayout="vertical">
                      <nz-descriptions-item nzTitle="Action Taken">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;{{si_data.wcc_si_actiontaken}}</span>
                      </nz-descriptions-item>
                    </nz-descriptions>
                    </nz-timeline-item>
                  </ng-container>
                  </nz-timeline>
              </nz-tab>
            </nz-tabset>
           </nz-card>
          </nz-tab> -->

      </div>
        </tr>
      </ng-container>
    </tbody>

    <ng-template #dateFilter>
      <app-date-filter></app-date-filter>
    </ng-template>

  </nz-table>
</nz-spin>
