<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">

  <h2>Cumulative Data - Water Potability Permit</h2>

  <nz-table #basicTable [nzData]="listOfData" nzBordered nzFooter=": : :" [nzTitle]="dateFilter" nzSize="small">

    <thead>
      <tr>
        <th>Transaction #</th>
        <th>Date</th>
        <th>Applicant's Name</th>
        <th>Barangay</th>
        <th>Status</th>
        <th>Fees</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data;  let i = index">
        <tr>

          <td>{{data.form_trans_no}}</td>
          <td>{{data.wp_transaction_date | date:'mediumDate'}}</td>
          <td>{{data.wp_person_fullname}}</td>
          <td>{{data.wp_person_data.brgy_name}}</td>

          <td style="width: 5%;">
            <nz-tag   *ngIf="data.wp_transaction_status == '0'" [nzColor]="'#87d068'">Pending</nz-tag>
            <nz-tag   *ngIf="data.wp_transaction_status == '1'" [nzColor]="'blue'">Approved</nz-tag>
            <nz-tag   *ngIf="data.wp_transaction_status == '3'" >Canceled</nz-tag>

          </td>
          <td>{{data.wp_transaction_total_fee | currency:'PHP'}}</td>
          <td [nzExpand]="expandSet.has(data.person_id)" (nzExpandChange)="onExpandChange(data.wp_person_id, data.wp_pk_id, $event, i);" style="width: 8%;">
            <ng-container *ngIf="data.wp_transaction_status != '3'">
              <button class="actionEdit" *ngIf="data.payment_status == '0' " nz-button nzType="text" (click)="edit(data)"><i nz-icon nzType="form" nzTheme="outline"></i></button>
              <button class="actionDelete" *ngIf="data.payment_status == '0' " nz-button nzType="text" (click)="delete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            </ng-container>

            <button nz-button nzType="primary" *ngIf="data.payment_status == '1' " nzShape="circle"
              (click)="showConfirm(data.wp_pk_id)"
              >
                <i nz-icon nzType="printer" nzTheme="outline"></i></button>

          </td>
        </tr>
        <tr class="dtl" [nzExpand]="expandSet.has(i)">
          <div nz-row>
            <div nz-col nzFlex="2">
              <nz-collapse nzAccordion nz-card  style="height: 100%;">
                <nz-collapse-panel nzHeader="Transaction Info." >

                  <nz-comment nzAuthor="Transaction Type:">
                    <nz-comment-content>
                      <span> {{data.wp_transaction_type}}</span>
                    </nz-comment-content>
                  </nz-comment>
                  <nz-comment nzAuthor="Issued Date:">
                    <nz-comment-content>
                      <span> {{data.wp_transaction_date | date:'mediumDate'}}</span>
                    </nz-comment-content>
                  </nz-comment>
                  <nz-comment nzAuthor="Payment:">
                    <nz-comment-content>
                      <span> {{data.amount_paid}}</span>
                    </nz-comment-content>
                  </nz-comment>
                  <nz-comment nzAuthor="Proccessed By:">
                    <nz-comment-content>

                      <span> {{data.wp_department_head}}</span>
                    </nz-comment-content>
                  </nz-comment>

                </nz-collapse-panel>

                <nz-collapse-panel nzHeader="Applicant Info.">
                  <nz-divider nzText="Business Info." nzOrientation="left"></nz-divider>
                  <div nz-row nzGutter="5">
                    <nz-comment nzAuthor="Business Name">
                      <nz-comment-content>
                        <p>
                          {{data.wp_business_data.business_name}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Trade Name">
                      <nz-comment-content>
                        <p>
                          {{data.wp_business_data.trade_name}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                  </div>
                  <div nz-row nzGutter="5">
                    <nz-divider nzText="Owner's Info." nzOrientation="left"></nz-divider>
                    <nz-comment nzAuthor="Name">
                      <nz-comment-content>
                        <p>
                          {{data.wp_person_data.first_name+" "+data.wp_person_data.middle_name+" "+ data.wp_person_data.last_name}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Age">
                      <nz-comment-content>
                        <p>
                          {{data.wp_person_data.age}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Nationality">
                      <nz-comment-content>
                        <p>
                      {{data.wp_person_data.citizenship}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Gender">
                      <nz-comment-content>
                        <p>
                          {{data.wp_person_data.gender_name}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Civil Status">
                      <nz-comment-content>
                        <p>
                          {{data.wp_person_data.civil_status_name}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Occupation">
                      <nz-comment-content>
                        <p>
                          {{data.wp_person_data.profession}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="Address">
                      <nz-comment-content>
                        <p>
                          {{data.wp_person_data.brgy_name+" "+data.wp_person_data.city_mun_name+" "+ data.wp_person_data.province_name}}
                        </p>
                      </nz-comment-content>
                    </nz-comment>
                  </div>
                </nz-collapse-panel>
                <nz-collapse-panel nzHeader="Payment Info.">
                  <nz-comment nzAuthor="OR No:">
                    <nz-comment-content>
                      <span> {{data.wp_payment_data == null ? "None" :data.wp_payment_data.or_id}}</span>
                    </nz-comment-content>
                  </nz-comment>
                  <nz-comment nzAuthor="OR Date:">
                    <nz-comment-content>
                      <span> {{data.wp_payment_data == null ? "None" :data.wp_payment_data.or_date | date:'mediumDate'}}</span>
                    </nz-comment-content>
                  </nz-comment>
                  <nz-comment nzAuthor="OR Amount Paid:">
                    <nz-comment-content>
                      <span> {{data.wp_payment_data == null ? "None" :data.wp_payment_data.amount_paid | currency:'PHP'}}</span>
                    </nz-comment-content>
                  </nz-comment>
                  <nz-comment nzAuthor="Payment Status:">
                    <nz-comment-content>

                      <span> {{data.payment_status != 0  ? 'Paid' : 'Unpaid'}} {{data.payment_type != null ? "("+data.payment_type+")" : ' '}} </span>
                    </nz-comment-content>
                  </nz-comment>
                  <br>
                  <ng-container *ngIf="data.wp_transaction_status != '3'">
                    <button nz-button nzType="primary" *ngIf="data.payment_status == 0"
                                      (click)="showPayment(data.wp_pk_id, data.wp_transaction_total_fee) "
                                      >Add Payment</button>
                  </ng-container>

                </nz-collapse-panel>


              </nz-collapse>

            </div>
            <div nz-col nzFlex="3">
              <nz-card style="height: 100%;">
                <nz-tabset nzCentered>
                  <nz-tab nzTitle="Water Potability Permit">
                    <div nz-col class="gutter-row" [nzSpan]="24">
                      <nz-divider nzText="Details" nzOrientation="left"></nz-divider>

                          <nz-descriptions>
                            <nz-descriptions-item nzTitle="Inspector's Name">
                              {{data.employee_name}}
                            </nz-descriptions-item>
                          </nz-descriptions>

                          <nz-descriptions>
                            <nz-descriptions-item nzTitle="Water Source Location / Address">
                              {{data.wp_source_loc}}
                            </nz-descriptions-item>
                          </nz-descriptions>

                          <nz-descriptions>
                            <nz-descriptions-item nzTitle="Type of Water Source">
                              {{data.wp_source_type}}
                            </nz-descriptions-item>
                          </nz-descriptions>

                          <nz-descriptions>
                            <nz-descriptions-item nzTitle="Remarks">
                              {{data.wp_remarks == null ? "None" : data.wp_remarks}}
                            </nz-descriptions-item>
                          </nz-descriptions>

                          <ng-container>
                            <nz-divider [nzText]="text" nzOrientation="right">
                              <ng-template #text>
                                <ng-container *ngIf="data.wp_transaction_status != '3'">
                                  <button class="actionEdit" *ngIf="data.payment_status == '0' " nz-button nzType="text" (click)="edit(data)" nzType="text"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                                </ng-container>

                              </ng-template>
                            </nz-divider>
                          </ng-container>

                    </div>
                  </nz-tab>
                </nz-tabset>
              </nz-card>
            </div>
          </div>

        </tr>
      </ng-container>


    </tbody>

    <ng-template #dateFilter>
      <nz-space>
        <nz-select *nzSpaceItem [(ngModel)]="selectedValue" nzPlaceHolder="Select a filter range type" >
          <nz-option nzValue="date" nzLabel="Date"></nz-option>
          <nz-option nzValue="week" nzLabel="Week"></nz-option>
          <nz-option nzValue="month" nzLabel="Month"></nz-option>
          <nz-option nzValue="year" nzLabel="Year"></nz-option>
        </nz-select>
        <nz-date-picker
        *nzSpaceItem [nzMode]="selectedValue"
        [nzDisabledDate]="(disabledStartDate)"
        nzFormat="yyyy-MM-dd"
        [(ngModel)]="startDateValue"
        nzPlaceHolder="Start"

        ></nz-date-picker>
      </nz-space>
      <br />
        <!-- <app-person-filter></app-person-filter> -->
      </ng-template>

  </nz-table>
  </nz-spin>

  <nz-drawer
  nzMaskClosable =false
  [nzWidth]="500"
  [nzVisible]="paymentDrawer"
  nzPlacement="right"
  nzTitle="Cadaver Transfer Payment"
  (nzOnClose)="closePayment()"
  >
  <ng-container >
    <form *nzDrawerContent nz-form [formGroup]="paymentForm" (ngSubmit)="saveConfirm(paymentForm.value);$event.preventDefault()">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-card>

            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="8">OR NO</nz-form-label>
                <nz-form-control nzErrorTip="!">
                  <nz-input-group>
                    <input nz-input
                    type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    formControlName="or_id"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="8">OR Date</nz-form-label>
                <nz-form-control nzErrorTip="!">
                  <!-- <nz-input-group>
                    <input nz-input formControlName="or_date" [disabled]="true" />
                  </nz-input-group> -->
                  <nz-input-group>
                    <nz-date-picker style="width: 100%;" formControlName="or_date" [(ngModel)]="date"></nz-date-picker>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

            <nz-radio-group formControlName="payment_status">
              <label nz-radio nzValue="1"(click)="fullPayment($event)">Full Payment</label>
              <!-- <label nz-radio nzValue="2" (click)="overridePayment($event)">Override</label>
              <label nz-radio nzValue="3" (click)="waivedPayment($event)">Waived</label> -->
            </nz-radio-group>
            <br><br>
            <div nz-col [nzSpan]="12">

                  <nz-form-item>
                    <nz-form-label [nzSpan]="8">Payment</nz-form-label>
                    <nz-form-control nzErrorTip="!">
                      <nz-input-group>
                        <input
                        (keyup)="validateValue($event)"
                        localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" [value]="amount_inputed" (ngModelChange)="amountInputed($event)"
                        type="number"
                        formControlName="amount_paid" nz-input  />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>


            </div>
            <div nz-col [nzSpan]="24">
              <div nz-row nzJustify="end">
                <div nz-col>
                  <button nz-button nzType="primary"
                     [disabled]="chk_payment || !paymentForm.valid"
                       >
                     <i nz-icon nzType="save"></i>
                       Post Payment
                     </button>
                </div>
              </div>
            </div>

          </nz-card>
        </div>

      </div>
    </form>
  </ng-container>
  </nz-drawer>
