
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div style="height:100%;">
    <form nz-form [formGroup]="wccForm" (submit)="saveData(wccForm.value);$event.preventDefault();" >
      <nz-anchor [nzShowInkInFixed]="false" >
        <nz-page-header>
          <nz-page-header-title>Women & Child Crisis Center - Intervention Undertaken</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel
            </button>
            <button nz-button nzType="primary"
            [disabled]="wccIUArray().length == 0"
            >
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>
      <nz-tabset nzType="card">
        <nz-tab nzTitle="Intervention Undertaken Form">
            <div nz-col [nzSpan]="24">
              <div nz-row [nzGutter]="5">
                <div nz-col [nzSpan]="11">
                  <nz-card nzTitle="Client/Referring Party's Details">
                    <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                      <nz-descriptions-item nzTitle="Name of Client/Referring Party" [nzSpan]="1">
                        {{clientData?.last_name}},
                        {{clientData?.first_name}} {{clientData?.middle_name == null ? "" : clientData?.middle_name}}{{clientData?.prefix == null ? "" : clientData?.prefix}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                        {{clientData?.age}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Home Address" [nzSpan]="1">
                        {{clientData?.street == null ? "" : clientData?.street+","}}
                        {{clientData?.brgy_name == null ? "" : clientData?.brgy_name}},
                        {{clientData?.city_mun_name == null ? "" : clientData?.city_mun_name}},
                        {{clientData?.province_name == null ? "" : clientData?.province_name}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Occupation" [nzSpan]="1">
                        {{clientData?.profession == null ? "none" : clientData?.profession}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Educational Attainment" [nzSpan]="1">
                        {{clientData?.educational_name == null ? "n/a" : clientData?.educational_name}}
                      </nz-descriptions-item>
                      </nz-descriptions>
                  </nz-card>
                  <nz-divider></nz-divider>
                  <nz-card nzTitle="List of Intervention Undertaken">
                    <nz-tabset nzCentered>
                      <nz-tab nzTitle="List of Interventions">
                        <div class="ex3">
                          <nz-list nzItemLayout="vertical" nzSize="small" >
                            <nz-list-item *ngFor="let item of iuListSetup"
                            (click)="selectedIU($event, item)"
                            class="card-1"
                            >
                            <ul nz-list-item-actions>
                              <nz-list-item-action>
                                <a>Add</a>
                              </nz-list-item-action>
                            </ul>
                              {{ item?.iu_tittle }}
                            </nz-list-item>
                          </nz-list>
                        </div>
                      </nz-tab>
                      <nz-tab nzTitle="Others/ Specific Intervention/s">
                        <textarea rows="4" formControlName="other_intervention" nz-input></textarea>
                        <br><br>
                        <div nz-row nzJustify="end" >
                          <div nz-col [nzSpan]="8">
                            <button nz-button nzType="primary" (click)="_addOtherIU(wccForm.value.other_intervention);$event.preventDefault()" nzBlock [disabled]="!wccForm.valid">
                              <i nz-icon nzType="plus-square" nzTheme="outline" ></i>
                               Add
                            </button>
                          </div>
                        </div>
                      </nz-tab>
                    </nz-tabset>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="13">
                  <nz-card nzTitle="Selected Intervention Undertaken">
 
                          <nz-list nzItemLayout="vertical" nzSize="small">
                            <ng-container *ngIf="wccIUArray().length == 0">
                              <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </ng-container>
                            <ng-container *ngIf="wccIUArray().length != 0">
                              <nz-list-item *ngFor="let iuItems of wccForm.value?.wcc_iu_data; let i = index;"
                            (click)="_deleteIU($event, i, iuItems)"
                            >
                              <nz-list-item-meta>
                                <nz-list-item-meta-description>
                                </nz-list-item-meta-description>
                              </nz-list-item-meta>
                              {{ iuItems?.iu_id == 0 ? "Specific Intervension: "+iuItems?.iu_details
                              : iuItems?.iu_tittle }}
                              <ul nz-list-item-actions>
                              </ul>
                              <nz-list-item-extra>
                                <a><span nz-typography nzType="danger">Remove</span></a>
                              </nz-list-item-extra>
                            </nz-list-item>
                            </ng-container>
                          </nz-list>    
                          
                  </nz-card>
                </div>
              </div>
            </div>
        </nz-tab>
      </nz-tabset>
    </form>

  </div>
</nz-spin>

<nz-modal
[(nzVisible)]="isVisibleMiddle"
nzTitle="Add number of days"
nzCentered
(nzOnCancel)="handleCancelMiddle()"
(nzOnOk)="handleOkMiddle(iuForm.value)"
[nzOkDisabled]="!iuForm.valid"
>
<ng-container *nzModalContent>
  <form nz-form [formGroup]="iuForm">
    <nz-input-number formControlName="days" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
  </form>
</ng-container>
</nz-modal>