
<div style="height: 100%;">
  <nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-anchor [nzShowInkInFixed]="false">
      <nz-page-header>
        <nz-page-header-title>LGU Configuration</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button (click)="$event.preventDefault()">
            <i nz-icon nzType="folder-open"></i>
            Save as Draft
          </button>
          <button nz-button (click)="cancel($event);" nzType="primary" nzDanger>
            <i nz-icon nzType="close"></i>
            Cancel
          </button>
          <button nz-button nzType="primary" class="button-form" [disabled]="!validateForm.valid">
            <i nz-icon nzType="save"></i>
            Save & Exit
          </button>
        </nz-page-header-extra>
      </nz-page-header>
    </nz-anchor>
    
    <nz-card>
      <nz-tabset>
        <nz-tab nzTitle="Main">
          <div  id="print-section" nz-row [nzGutter]="32">
            <div nz-col nzSpan="8">
              <ng-container formGroupName="lgu_city_mun_config">
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24"  nzRequired>Region</nz-form-label>
                  <nz-form-control >
                    <nz-select
                      nzShowSearch
                      (ngModelChange)="regionSelect($event)"
                      formControlName="region_id"
                      nzPlaceHolder="Select Region">
                      <nz-option *ngFor="let list of regionList" nzValue="{{list.SysPK_region}}" nzLabel="{{list.reg_name}} ({{list.reg_code}})"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24"  nzRequired>Province</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      nzShowSearch
                      (ngModelChange)="provinceSelect($event)"
                      formControlName="province_id"
                      nzPlaceHolder="Select Province">
                      <nz-option *ngFor="let list of provinceListFiltered" nzValue="{{list.province_id}}" nzLabel="{{list.province_name}}"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24"  nzRequired>City/Municipality</nz-form-label>
                  <nz-form-control >
                    <nz-input-group nzCompact></nz-input-group>
                    <nz-select
                      style="width: 70%;"
                      nzShowSearch
                      (ngModelChange)="citMunSelect($event)"
                      formControlName="city_mun_id"
                      nzPlaceHolder="Select City/Municipality">
                      <nz-option *ngFor="let list of citMunListFiltered" nzValue="{{list.city_mun_id}}" nzLabel="{{list.city_mun_name}}"></nz-option>
                    </nz-select>
                    <input type="text" placeholder="Zip Code" nz-input formControlName="zip_code" style="width:30%;" />
                  </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24"  nzRequired>Barangay</nz-form-label>
                  <nz-form-control>
                    <nz-select
                            nzShowSearch
                            (ngModelChange)="brgySelect($event)"
                            formControlName="barangay_id"
                            nzPlaceHolder="Select Barangay">
                            <nz-option *ngFor="let list of barangayList" nzValue="{{list.brgy_id}}" nzLabel="{{list.brgy_name}}"></nz-option>
                          </nz-select>
                  </nz-form-control>
                </nz-form-item>
             
              </ng-container>
            
            
            </div>
            <div nz-col nzSpan="4">

            </div>

            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Project Title</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input type="text" nz-input formControlName="title_name" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Description</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input type="text" nz-input formControlName="description" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              
              <ng-container formGroupName="lgu_city_mun_config">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Code</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="text" nz-input formControlName="municipal_code" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Street Address</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="text" nz-input formControlName="street"   placeholder="e.g. Gen. Maxilom Ave." />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>

              
         
           
            </div>
            <div nz-col nzSpan="4">
                
            </div>
          </div>
          <nz-divider></nz-divider>
          <div nz-row [nzGutter]="32">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Telephone No.</nz-form-label>
                <nz-form-control >
                  <nz-input-group>
                    <input  type="text" mask="(000) 000-0000"  nz-input [dropSpecialCharacters]="false" formControlName="tel_no" placeholder="e.g. (123) 456-7890" />
                  </nz-input-group>
                  
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24">Mobile No.</nz-form-label>
                <nz-form-control >
                  <nz-input-group>
                    <input type="text" nz-input formControlName="mobile_no"  placeholder="e.g. 091234567890 (Optional)" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Email</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input type="text" nz-input formControlName="email_address" placeholder="e.g. example@example.com"  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24">Website</nz-form-label>
                <nz-form-control >
                  <nz-input-group nzAddOnBefore="https://">
                    <input type="text" nz-input formControlName="website" placeholder="e.g. example.com" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="4">

            </div>
            <div nz-col nzSpan="8">
            </div>
            
          </div>
          
        </nz-tab>
        <nz-tab nzTitle="Report Configuration" (nzClick)="reportConfig()">
          <div nz-row [nzGutter]="32">
            <div nz-col class="div-label" nzSpan="4">
              <div><label nz-label  class="report-config">HEADER</label></div>
            </div>
            <div nz-col nzSpan="4">
    
              <nz-upload
              class="avatar-uploader"
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              nzName="avatar"
              nzListType="picture-card"
              [nzShowUploadList]="false"
              [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleChange($event, 1)"
            >
              <ng-container *ngIf="!headerLogo1">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">Upload Logo</div>
              </ng-container>
              <img *ngIf="headerLogo1" [src]="headerLogo1" style="width: 100%" />
            </nz-upload>
    
            </div>
            <div formGroupName="report_config" nz-col nzSpan="8" style="padding-top: 3vh;">
                <nz-form-control>
                  <nz-input-group>
                    <input type="text" class ="header" nz-input formControlName="header1" placeholder="e.g. Republic of the Philippines" />
                  </nz-input-group>
                </nz-form-control>

                <nz-form-control>
                  <nz-input-group>
                    <input type="text" class ="header" nz-input formControlName="header2" placeholder="e.g. Province of Agusan del Sur" />
                  </nz-input-group>
                </nz-form-control>

                <nz-form-control>
                  <nz-input-group>
                    <input type="text" class ="header" nz-input formControlName="header3" placeholder="e.g. Municipality of Prosperidad" />
                  </nz-input-group>
                </nz-form-control>
            </div>
            <div nz-col nzSpan="4">
    
              <nz-upload
              class="avatar-uploader"
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              nzName="avatar"
              nzListType="picture-card"
              [nzShowUploadList]="false"
              [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleChange($event, 2)"
              style="padding-left: 30px;"
            >
              <ng-container *ngIf="!headerLogo2">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">Upload Logo</div>
              </ng-container>
              <img *ngIf="headerLogo2" [src]="headerLogo2" style="width: 100%" />
            </nz-upload>
            </div>
    
          </div>
          <nz-divider></nz-divider>
          <div nz-row style="height: 10vh;">
            <div nz-col class="div-label" nzSpan="4">
              <div><label nz-label class="report-config">BODY</label></div>
            </div>
            <div nz-col nzSpan="5">

            </div>
            <div nz-col nzSpan="8" style="align-items: center;">
             
            </div>
            <div nz-col nzSpan="6">
              
            </div>
          </div>
          <nz-divider></nz-divider>

          <ng-container formGroupName="report_config">
          <div nz-row [nzGutter]="32">
            <div nz-col class="div-label" nzSpan="4">
              <div><label nz-label class="report-config">FOOTER</label></div>
            </div>
            <div nz-col nzSpan="5">
              <div>
                <nz-form-control>
                  <nz-input-group>
                    <input type="text" class ="footer-left" nz-input formControlName="footer1"/>
                  </nz-input-group>
                </nz-form-control>

                <nz-form-control >
                  <nz-input-group>
                    <input type="text" class ="footer-left" nz-input formControlName="footer2"/>
                  </nz-input-group>
                </nz-form-control>
              </div>
            </div>
            <div nz-col nzSpan="6">
            
            </div>
            <div nz-col nzSpan="5">
              
              <div>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" class ="footer-right" nz-input formControlName="footer3" />
                </nz-input-group>
              </nz-form-control>
              <nz-form-control>
                <nz-input-group>
                  <!-- asd -->
                  <input type="text" [readonly]="true"  class ="footer-right" nz-input formControlName="footer4" />
                </nz-input-group>
              </nz-form-control>
            </div>
              
            </div>
            <div nz-col nzSpan="4">
            </div>
          </div>
        </ng-container>
        </nz-tab>
       
      </nz-tabset>
     

    </nz-card>
  </form>
</nz-spin>
</div>