.printLayout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  box-shadow: 2px 2px 4px 2px #888888;
}

.printContent {
  padding: 50px;
}

.content {
  margin-top: 30px;
}

.headerActions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

.border {
  width: 100%;
  border-bottom: 1px solid gray;
}

.border4ps {
  border: 1px solid gray !important;
  text-align: center;
  font-weight: 500;
}

.border4psdata {
  border: 1px solid gray !important;
  text-align: center;
}

.boxC {
  border-bottom: 1px solid gray;
  width: 12%;
  text-align: center;
}

.contentBack {
  margin-top: 30px;
}

.signatureLabel {
  border-top: 1px solid gray;
  font-weight: bold;
  height: 50px;
}