.printLayout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  box-shadow: 2px 2px 4px 2px #888888;
}

.printContent {
  padding: 40px;
}

.content {
  margin-top: 30px;
}

.headerActions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

th {
  border-top: 1px solid black !important;
  border-left: 1px solid black !important;
  // text-align: center !important;
  border-right: 1px solid black !important;
}

td {
  border-top: 1px solid black !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
}

tr:last-child td {
  border-bottom: 1px solid black !important;
}

.ant-table-content {
border: 1px solid black !important;
}

