<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>Child Intake Setup</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">
          <nz-tab [nzTitle]="TransactionForm">
            <nz-card nzType="inner" nzTitle="I. Identifying Information">

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="4">
                  <nz-upload
                  class="avatar-uploader"
                  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  nzName="avatar"
                  nzListType="picture-card"
                  [nzShowUploadList]="false"
                  [nzBeforeUpload]="beforeUpload"
                  (nzChange)="handleChange($event)"
                >
                  <ng-container *ngIf="!avatarUrl">
                    <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">Upload</div>
                  </ng-container>
                  <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
                </nz-upload>
                </div>
                <div nz-col [nzSpan]="20">
                  <nz-input-group>
                    <p class="label">Full Name :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="3">
                        
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input prefix!" nzExtra="(Prefix)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="prefix" nz-input placeholder="Prefix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your firstname!" nzExtra="(First Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="first_name" nz-input placeholder="First Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your middle name!" nzExtra="(Middle Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="middle_name" nz-input placeholder="Middle Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your last name!" nzExtra="(Last Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="last_name" nz-input placeholder="Last Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="3">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="suffix" nz-input placeholder="Suffix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <p class="label">Address :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="province_id" nzAllowClear nzPlaceHolder="Select a province">
                                <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="citmun_id" nzPlaceHolder="Select a city/municipality">
                                <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
                                <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="street" nz-input placeholder="Street" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>
                </div>
              </div>

              <nz-divider></nz-divider>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Date of Birth</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input date!">
                      <p class="label">Date of Birth :</p>
                      <nz-input-group>
                        <nz-date-picker style="width: 100%;" formControlName="birth_date" [(ngModel)]="date"></nz-date-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Birth Place</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input birth place!">
                      <p class="label">Birth Place :</p>
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="place_of_birth" nz-input placeholder="Place of Birth" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Civil Status</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select civil status!">
                      <p class="label">Civil Status :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="civil_status_id" nzPlaceHolder="Select a civil status">
                          <nz-option *ngFor="let list of civilStatusDropdown" nzLabel="{{list.civil_status_name}}" nzValue="{{list.civil_status_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select gender!">
                      <p class="label">Sex :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="gender_id" nzPlaceHolder="Select a gender">
                          <nz-option *ngFor="let list of genderDropdown" nzLabel="{{list.gender_name}}" nzValue="{{list.gender_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Age</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input age!">
                      <p class="label">Age :</p>
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="age" nz-input placeholder="Age" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Religion</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input religion!">
                      <p class="label">Religion :</p>
                      <nz-input-group>
                        <input class="readOnly" [readOnly]="true" formControlName="religion" nz-input placeholder="Religion" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input educational attainment!" nzExtra="(Educational Attainment)">
                      <p class="label">Education :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                          <nz-option *ngFor="let list of educationalTypeDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Occupation</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input occupation!">
                      <p class="label">Occupation :</p>
                      <nz-input-group>
                        <input formControlName="occupation" nz-input placeholder="Profession" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input monthly income!" nzExtra="(Monthly Income)">
                      <p class="label">Income :</p>
                      <nz-input-group>
                        <input formControlName="monthly_income" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" [value]="monthlyIncomeAmount" (ngModelChange)="updateMonthlyIncome($event)" nz-input placeholder="Monthly Income" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </nz-card>

            <nz-card nzType="inner" nzTitle="II. Details" style="margin-top: 10px;">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input status of house occupancy!">
                      <p class="label">Status of House Occupancy :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="house_ownership" nzAllowClear nzPlaceHolder="Status of House Occupancy">
                          <nz-option nzLabel="Owned" nzValue="Owned"></nz-option>
                          <nz-option nzLabel="Rented" nzValue="Rented"></nz-option>
                        </nz-select>
                        <!-- <input formControlName="house_occupancy" nz-input placeholder="Status of House Occupancy" /> -->
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input owner!">
                      <p class="label">Owner :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="owner" nzPlaceHolder="Owner">
                          <nz-option nzLabel="Yes" nzValue="Yes"></nz-option>
                          <nz-option nzLabel="No" nzValue="No"></nz-option>
                        </nz-select>
                        <!-- <input formControlName="owner" nz-input placeholder="Owner" /> -->
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input renter!">
                      <p class="label">Renter :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="renter" nzPlaceHolder="Renter">
                          <nz-option nzLabel="Yes" nzValue="Yes"></nz-option>
                          <nz-option nzLabel="No" nzValue="No"></nz-option>
                        </nz-select>
                        <!-- <input formControlName="renter" nz-input placeholder="Renter" /> -->
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input estimated damaged to property!">
                      <p class="label">Estimated damaged to property :</p>
                      <nz-input-group>
                        <input localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" formControlName="estimated_damaged" nz-input placeholder="Estimated damaged" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input if distressed!">
                      <p class="label">(if distressed)) :</p>
                      <nz-input-group>
                        <input formControlName="if_distressed" nz-input placeholder="if distressed" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input source of income!">
                      <p class="label">Source of Income :</p>
                      <nz-input-group>
                        <input formControlName="sources_of_income" nz-input placeholder="Input source of income" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select if applicant has disability!">
                      <p class="label">Is applicant/client has physical disability :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="physical_disability" nzAllowClear nzPlaceHolder="Status of House Occupancy">
                          <nz-option nzLabel="Yes" nzValue="Yes"></nz-option>
                          <nz-option nzLabel="No" nzValue="No"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select type of disability!">
                      <p class="label">Type of Disability :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="type_of_disability_id" nzAllowClear nzPlaceHolder="Type of Disability">
                          <nz-option *ngFor="let list of disabilityDropdown" nzLabel="{{list.disability_name}}" nzValue="{{list.id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>

              <nz-divider></nz-divider>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input hectares!">
                      <p class="label">Agricultural Land (No. of Hectares) :</p>
                      <nz-input-group>
                        <input type="number" formControlName="no_of_hectares" nz-input placeholder="Agricultural Land (No. of hectares)" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input crops planted!">
                      <p class="label">Crops Planted (Specify) :</p>
                      <nz-input-group>
                        <input formControlName="crops_planted" nz-input placeholder="Crops Planted" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input area of location!">
                      <p class="label">Area of Location :</p>
                      <nz-input-group>
                        <input formControlName="area_of_location" nz-input placeholder="Input Area of Location" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input other sources of income!">
                      <p class="label">Other Sources of Income :</p>
                      <nz-input-group>
                        <input formControlName="other_sources_of_income" nz-input placeholder="Other Sources of Income" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              
            </nz-card>
          </nz-tab>
          <nz-tab [nzTitle]="FamilymMembers">

            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="24">

                <nz-card nzType="inner" nzTitle="III. Family Members">
                  <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1;" formArrayName="details" [nzData]="dataDisplay" [nzTitle]="BrowsePerson" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                    <thead>
                      <tr>
                        <th nzWidth="3%">No</th>
                        <th>Name</th>
                        <th nzWidth="10%">Civil Status</th>
                        <th nzWidth="15%">Relation to Member</th>
                        <th>Educational Attainment</th>
                        <th>Occupation</th>
                        <th>Income</th>
                        <th nzWidth="3%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                        <td>{{i+1}}.</td>
                        <td><input class="readOnly" [readOnly]="true" formControlName="full_name" nz-input placeholder="Full Name" nzBorderless /></td>
                        <td><input class="readOnly" [readOnly]="true" formControlName="civil_status" nz-input placeholder="Civil Status" nzBorderless /></td>
                        <td>
                          <nz-select style="width: 100%;" formControlName="relation" nzPlaceHolder="Select relation to member">
                            <nz-option nzLabel="Father" nzValue="Father"></nz-option>
                            <nz-option nzLabel="Mother" nzValue="Mother"></nz-option>
                            <nz-option nzLabel="Brother" nzValue="Brother"></nz-option>
                            <nz-option nzLabel="Sister" nzValue="Sister"></nz-option>
                          </nz-select>
                        </td>
                        <td>
                          <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                            <nz-option *ngFor="let list of educationalTypeDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                          </nz-select>
                        </td>
                        <td><input formControlName="occupation" nz-input placeholder="Enter occupation" /></td>
                        <td><input [id]="incomeAmountDetails[i]" style="text-align: right;" formControlName="occupation_income" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" [value]="incomeAmount[i]" (ngModelChange)="updateIncome()" nz-input placeholder="Enter income" /></td>
                        <td>
                          <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantity(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="text-align: right;" colspan="6"><b>TOTAL FAMILY INCOME:</b></td>
                        <td style="text-align: right;"><b>&#8369; {{totalIncome | number: '1.2-2'}}</b></td>
                        <td></td>
                      </tr>
                    </tfoot>
                    <ng-template #BrowsePerson>
                      <div style="text-align-last: end;">
                        <button (click)="openBrowseDrawer(); $event.preventDefault()" nz-button nzType="default">
                          <i nz-icon nzType="user-add" nzTheme="outline"></i>
                          Browse Person
                        </button>
                      </div>
                    </ng-template>
                    
                  </nz-table>
                </nz-card>
                
              </div>
            </div>
            
          </nz-tab>
        </nz-tabset>

      </form>
    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>
<ng-template #FamilymMembers>
  <i nz-icon nzType="snippets" nzTheme="outline"></i>
  Transaction Details
</ng-template>