<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger [nzPageSize]="15" nzShowQuickJumper>
    <thead>
      <tr class="content-table-head">
        <th class="thClass">Region</th>
        <th class="thClass">Venue</th>
        <th class="thClass">Address</th>
        <th class="thClass">Condition</th>
        <th class="thClass">Capacity</th>
        <th class="thClass">Status</th>
        <th class="thClass">Action</th>
      </tr>
    </thead>
    <tbody class="content-table-body">
      <ng-container *ngFor="let data of basicTable.data; let i = index;">
        <tr (click)="rowClick(data.evacuation_center_guid, valueClick = !valueClick, i);" class="rowHover">
          <td>{{data.reg_code}}, {{data.reg_name}}</td>
          <td>{{data.venue}}</td>
          <td>{{data.brgy_name}} {{data.street}} , {{data.city_mun_name}}, {{data.province_name}}</td>
          <td>{{data.venue_condition}}</td>
          <td>{{data.capacity}}</td>
          <td *ngIf="data.status == 'Active'"><nz-tag [nzColor]="'#2799FF'">{{data.status}}</nz-tag></td>
          <td *ngIf="data.status == 'Deleted'"><nz-tag [nzColor]="'#f50'">{{data.status}}</nz-tag></td>
          <td>
            <button [disabled]="control.edit" nz-tooltip nzTooltipTitle="Edit" [class]="editCss" nz-button nzType="text" (click)="edit(data.evacuation_center_guid); $event.stopPropagation()"><i nz-icon nzType="form" nzTheme="outline"></i></button>
            <button [disabled]="control.delete" nz-tooltip nzTooltipTitle="Delete" [class]="deleteCss" nz-button nzType="text" (click)="delete(data.evacuation_center_guid, data); $event.stopPropagation()"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.evacuation_center_guid)">
          <nz-card style="font-style: italic;" nzTitle="Evacuation Center Information">
            <nz-descriptions nzTitle="{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}">
              <nz-descriptions-item nzTitle="Region">{{data.reg_name}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Address">{{data.brgy_name}} {{data.street}} , {{data.city_mun_name}}, {{data.province_name}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Condition">
                {{data.condition == null ? 'N/A' : data.condition}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Description">{{data.description}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Capacity">{{data.capacity}}</nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </tr>
      </ng-container>
    </tbody>

    <ng-template #dateFilter>

      <nz-input-group nzAllowClear style="width: 50%;"  nzSize="large" [nzSuffix]="suffixIconSearch">
        <input 
        type="text" 
        [(ngModel)]="searchModel"
        (ngModelChange)="beginSearch($event)" 
        nz-input 
        placeholder="Search Venue/Barangay"
        [nzAutocomplete]="auto" />
        <!-- <nz-autocomplete [nzDataSource]="filteredOptions" nzBackfill="true" #auto (click)="triggerSearch($event)"></nz-autocomplete> -->
        <nz-autocomplete #auto>
          <nz-auto-option (click)="triggerSearch(option)" *ngFor="let option of filteredOptions" [nzValue]="option.val">{{ option.val }}</nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i *ngIf="searchModel == ''" nz-icon nzType="search"></i>
        <a *ngIf="searchModel != ''" (click)="clearSearch()"><i nz-icon nzType="close"></i></a>
      </ng-template>
      
      <label nz-checkbox  style="padding-left: 2%;" [(ngModel)]="statusSwitch" (ngModelChange)="statusFilter()">Show Active Only</label>

      <label nz-checkbox  style="padding-left: 2%; font-weight: 500;" [(ngModel)]="statusSwitchDeleted" (ngModelChange)="statusFilterDeleted()">Deleted</label>

      <!-- <app-person-filter (valueChange)="search($event)" (clearChange)="clear($event)" (selectChange)="select($event)"></app-person-filter> -->
      <div style="margin-top: 10px;">
        <app-date-filter *ngIf="formOptions?.default_filter_id" (generate)="generate($event)"  [formOptions]="formOptions?.default_filter_id"></app-date-filter>
        <div style="text-align: end; font-weight: 500;">Total Count: {{listOfData[0]?.count == null ? '0' : listOfData[0]?.count}}</div>
      </div>
    </ng-template>
    
  </nz-table>
</nz-spin>