

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-tabset nzType="card">
    <nz-tab nzTitle="From Exhumated Cadaver List">
      <h2>Cumulative Data - Exhumated Cadaver</h2>
      <nz-table #basicTable [nzData]="listOfData_cadaver" nzBordered nzFooter="Footer" [nzTitle]="dateFilter" nzSize="small">
        <thead>
        <tr>
            <th>Control No.</th>
            <th>Exhumation Date</th>
            <th>Cadaver's Name</th>
            <th>Applicant</th>
            <th>Application Staus</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.form_trans_no}}</td>
            <td>{{data.exp_transaction_date | date:'mediumDate'}}</td>
            <td>{{data.exp_cadaver_name}}</td>
            <td>{{data.exp_person_fullname}}</td>
            <td>
              <nz-tag   *ngIf="data.payment_status == '0'" [nzColor]="'#87d068'">Active / In Progress</nz-tag>
                <nz-tag   *ngIf="data.payment_status != '0'" [nzColor]="'blue'">Approved</nz-tag>
            </td>
            <td>
              <button nz-button nzType="primary" *ngIf="data.payment_status != '0' " (click)="showConfirm(data.exp_pk_id)">Select</button>

            </td>
          </tr>
        </tbody>

        <ng-template #dateFilter>
          <app-person-filter (valueChange)="search($event)" (clearChange)="clear($event)" (selectChange)="select($event)"></app-person-filter>
          <!-- <app-date-filter></app-date-filter> -->
        </ng-template>

      </nz-table>
    </nz-tab>
    <nz-tab nzTitle="Non Exhumated Cadaver List">
      <h2>Cumulative Data - Person</h2>
      <nz-table [nzData]="['']" nzBordered [nzTitle]="dateFilter" nzSize="small" nzShowPagination nzShowSizeChanger>
        <thead>
          <tr>
            <th>Birth Date</th>
            <th>Name</th>
            <th>Address</th>
            <th>Civil Status</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let pdata of this.listOfData_person">
            <tr>
              <td>{{pdata.birth_date | date:'mediumDate'}}</td>
              <td>{{pdata.prefix}} {{pdata.first_name}} {{pdata.middle_name}} {{pdata.last_name}} {{pdata.suffix}}</td>
              <td>{{pdata.brgy_name}} {{pdata.street}} , {{pdata.city_mun_name}}, {{pdata.province_name}}</td>
              <td>{{pdata.civil_status_name}}</td>
              <td>{{pdata.gender_name}}</td>
              <td style="text-align: center;" *ngIf="pdata.status == 'Active'"><nz-tag [nzColor]="'#2799FF'">{{pdata.status}}</nz-tag></td>
              <td style="text-align: center;" *ngIf="pdata.status == 'Deleted'"><nz-tag [nzColor]="'red'">{{pdata.status}}</nz-tag></td>
              <td style="text-align: center;">
                <button nz-tooltip nzTooltipTitle="Select this Person" class="actionEdit" nz-button nzType="primary" (click)="showConfirm(pdata.person_guid)">Select</button>
              </td>
            </tr>
          </ng-container>
        </tbody>

        <ng-template #dateFilter>
          <app-person-filter (valueChange)="search($event)" (clearChange)="clear($event)" (selectChange)="select($event)"></app-person-filter>
          <!-- <app-date-filter></app-date-filter> -->
        </ng-template>

      </nz-table>
    </nz-tab>
  </nz-tabset>
</nz-spin>


<nz-drawer
      nzMaskClosable =false
      [nzWidth]="700"
      nzSize='large'
      nzSize="large"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Health Card Record"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
       <div nz-col nzSpan="24">
          <div nz-row>
            <nz-collapse nzCard nzAccordion nz-col nzSpan="24">
              <nz-collapse-panel
              *ngFor="let record of data_transs"
              nzHeader="{{record.transaction_date | date:'mediumDate'}}"
              [nzActive]="record.active">
              <nz-descriptions nzTitle="Health Card Details">
                <nz-descriptions-item nzTitle="Health-Card Id" [nzSpan]="3">{{record.form_trans_no}}</nz-descriptions-item>

              </nz-descriptions>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </div>
      </ng-container>
    </nz-drawer>
    <ng-template>
      <button nz-button nzType="default" (click)="close()">Cancel</button>
      &nbsp;
      <button nz-button nzType="primary" (click)="close()">OK</button>
    </ng-template>

