

<nz-spin nzTip="Loading list..." [nzSpinning]="isLoading">
<nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small">
  <thead>
    <tr class="content-table-head">
      <th class="thClass">Property</th>
      <th class="thClass">Tenant</th>
      <th class="thClass">Rental Amount</th>
      <th class="thClass">Building</th>
      <th class="thClass">Floor</th>
      <th class="thClass">Status</th>
      <th class="thClass">Action</th>
    </tr>
  </thead>
  <tbody class="content-table-body">
    <tr *ngFor="let data of basicTable.data">
      <td style="text-transform:uppercase;">{{data.property_name}}</td>
      <td>{{data.tenant}}</td>
      <td style="text-align:right">{{data.rental_amount | number: '1.2-2'}}</td>
      <td style="text-transform:uppercase;">{{data.bldg}}</td>
      <td style="text-transform:uppercase;">{{data.floor}}</td>
      <td style="width: 5%;text-align: center;">
        <nz-tag   *ngIf="data.status_rec === 'Active'" [nzColor]="'#87d068'">{{data.status_rec}}</nz-tag>
        <nz-tag   *ngIf="data.status_rec !== 'Active'" [nzColor]="'#f50'">{{data.status_rec}}</nz-tag>
      </td>
      <td style="width: 8%;">
        <button [disabled]="control.edit" class="actionEdit" nz-button nzType="text" (click)="edit(data)"><i nz-icon nzType="form" nzTheme="outline"></i></button>
        <button [disabled]="control.delete" class="actionDelete" nz-button nzType="text" (click)="delete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>

  <ng-template #dateFilter>
    <nz-input-group nzAllowClear style="width: 50%;"  nzSize="large" [nzSuffix]="suffixIconSearch">
      <input 
      type="text" 
      [(ngModel)]="searchModel" 
      (ngModelChange)="beginSearch($event)" 
      nz-input 
      placeholder="Search Property / Tenant"
      [nzAutocomplete]="auto" />
      <!-- <nz-autocomplete [nzDataSource]="filteredOptions" nzBackfill="true" #auto (click)="triggerSearch($event)"></nz-autocomplete> -->
      <nz-autocomplete #auto>
        <nz-auto-option (click)="triggerSearch(option)" *ngFor="let option of filteredOptions" [nzValue]="option.val">{{ option.val }}</nz-auto-option>
      </nz-autocomplete>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i *ngIf="searchModel == ''" nz-icon nzType="search"></i>
      <a *ngIf="searchModel != ''" (click)="clearSearch()"><i nz-icon nzType="close"></i></a>
    </ng-template>
    <label style="padding-left: 2%;" nz-checkbox [(ngModel)]="statusSwitch" (ngModelChange)="statusFilter()">Show Active Only</label>
  </ng-template>
  
</nz-table>
</nz-spin>

<nz-modal [(nzVisible)]="deleteModal" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <nz-textarea-count [nzMaxCharacterCount]="100">
      <textarea type="text" nz-input [(ngModel)]="remarks" placeholder="Remarks..." ></textarea>
    </nz-textarea-count>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel();$event.preventDefault()" nzDanger>Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk();$event.preventDefault()">OK</button>
  </div>
</nz-modal>
<ng-template #modalTitle>
  <span><i style="color: #faad14 !important; " nz-icon nzType="question-circle" nzTheme="outline"></i> Are you sure you want to delete this record?</span>
</ng-template>