<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>Evacuation Center Setup</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">
          <nz-tab [nzTitle]="TransactionForm">
            <nz-card nzType="inner" nzTitle="I. Evacuation Center Address">

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select region!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Region :</p>
                      <nz-input-group>
                        <nz-select [(ngModel)]="defaultRegion" style="width: 100%;" formControlName="region_id" nzPlaceHolder="Select a region">
                          <nz-option *ngFor="let list of regionList" nzLabel="{{list.reg_name}}" nzValue="{{list.SysPK_region}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select province!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Province :</p>
                      <nz-input-group>
                        <nz-select [(ngModel)]="defaultProvince" style="width: 100%;" formControlName="province_id" nzPlaceHolder="Select a province">
                          <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select city/municipality!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>City/Municipality :</p>
                      <nz-input-group>
                        <nz-select [(ngModel)]="defaultCityMun" style="width: 100%;" formControlName="citmun_id" nzPlaceHolder="Select a city/municipality">
                          <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select barangay!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Barangay :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
                          <nz-option *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input street!">
                      <p class="label" style="font-style: normal !important;">Street :</p>
                      <nz-input-group>
                        <input formControlName="street" nz-input placeholder="Enter Street" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>

            </nz-card>

            <nz-card nzType="inner" nzTitle="II. Evacuation Center Details" style="margin-top: 10px;">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input venue!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Venue :</p>
                      <nz-input-group>
                        <input formControlName="venue" nz-input placeholder="Enter Venue" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select venue condition!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Venue Condition :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="venue_condition" nzPlaceHolder="Select a venue condition">
                          <nz-option nzLabel="Good" nzValue="Good"></nz-option>
                          <nz-option nzLabel="Not Good" nzValue="Not Good"></nz-option>
                          <nz-option nzLabel="Damaged" nzValue="Damaged"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <!-- <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select venue status!">
                      <p class="label"><span style="color: red;">* </span>Venue Status :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="venue_status" nzPlaceHolder="Select a venue status">
                          <nz-option nzLabel="Full" nzValue="Full"></nz-option>
                          <nz-option nzLabel="Not Full" nzValue="Not Full"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div> -->

                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input capacity!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Capacity :</p>
                      <nz-input-group>
                        <input type="number" formControlName="capacity" nz-input placeholder="Enter Capacity" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input description!">
                      <p class="label" style="font-style: normal !important;">Description :</p>
                      <nz-input-group>
                        <textarea rows="4" formControlName="description" nz-input placeholder="Enter description"></textarea>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </nz-card>

          </nz-tab>
        </nz-tabset>

      </form>

    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>
