<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div style="height:100%;">
    <form nz-form [formGroup]="wccForm" (ngSubmit)="saveData(wccForm.value);$event.preventDefault()"

    >
      <nz-anchor [nzShowInkInFixed]="false" >
        <nz-page-header>
          <nz-page-header-title>Women & Child Crisis Center - Admission</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel
            </button>
            <button nz-button nzType="primary"
              [disabled]="!wccForm.valid"
            >
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>

          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>

      <nz-tabset nzType="card" >
        <nz-tab nzTitle="Registration Form">
          <div>
          <!-- <div style="background: #ECECEC;padding:10px;"> -->
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="10" style="padding: 10px;">
                <nz-card nzTitle="Applicant Information" [nzBordered]="false" >
                  <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                    <nz-descriptions-item nzTitle="Name" [nzSpan]="1">
                     {{applicantData?.last_name+", "+applicantData?.first_name}}{{applicantData?.middle_name != null ? " "+applicantData?.middle_name : " "}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
                      {{applicantData?.street != null ? applicantData?.street+", " : "" }}{{applicantData?.brgy_name+", "+applicantData?.city_mun_name+", "+applicantData?.province_name}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                      {{applicantData?.age}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Contact #" [nzSpan]="1">
                      {{applicantData?.phone_no}}{{applicantData?.telephone_no != null ? "/"+applicantData?.telephone_no : " "}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Relationship to Client" [nzSpan]="1">
                      {{appl_client_relation}}
                    </nz-descriptions-item>
                  </nz-descriptions>
                </nz-card>
                <hr>
                <nz-card [nzExtra]="extraTemplate" nzTitle="Client Information">
                  <ng-container *ngIf="p_stats == false">
                    <nz-empty></nz-empty>
                  </ng-container>

                  <ng-container *ngIf="p_stats == true">
                    <nz-descriptions [nzColumn]="1" nzBordered  nzSize="small">
                      <nz-descriptions-item nzTitle="Full Name" [nzSpan]="1">
                        {{p_name+" "}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
                        {{p_address}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                        {{p_age}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Date of Birth" [nzSpan]="1">
                        {{p_bdate | date: 'MM/dd/yyyy'}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Place of Birth" [nzSpan]="1">
                        {{p_bplace}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Civil Status" [nzSpan]="1">
                        {{p_cs}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Citizenship" [nzSpan]="1">
                        {{p_ctzn}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Gender" [nzSpan]="1">
                        {{p_gender}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Profession" [nzSpan]="1">
                        {{p_prof}}
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Religion" [nzSpan]="1">
                        {{p_religion}}
                      </nz-descriptions-item>
                    </nz-descriptions>
                  </ng-container>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="14" style="padding: 10px;">
              <nz-card class="box" style="padding: 10px;">
                  <!-- <nz-divider nzText="Select Parent/ Guardian" nzOrientation="left"></nz-divider> -->
                  <nz-divider nzText="Select Parent/ Guardian" nzOrientation="left"></nz-divider>
                  <nz-card [nzExtra]="familyList" [nzBordered]="false">

                    <div style="display: none;">
                      <nz-form-item>
                        <nz-form-control>
                          <nz-input-group>
                            <input formControlName="client_parent_pid" nz-input  />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-control>
                          <nz-input-group>
                            <input formControlName="referral_eid" nz-input  />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                        <ng-container *ngIf="loadingFamily == true">
                          <nz-empty
                          [nzNotFoundContent]="fam_contentTpl"
                          [nzNotFoundFooter]="fam_footerTpl"
                          >
                            <ng-template #fam_contentTpl>
                              <span>
                                No Guardian Selected
                              </span>
                            </ng-template>
                            <ng-template #fam_footerTpl>

                                <ng-container *ngIf="selectGuardbtn == true">
                                  <nz-badge [nzCount]="f_count">
                                  <button nz-button nzShape="round" nzType="primary" (click)="openFamilyDrawer($event); $event.preventDefault();">
                                    <i nz-icon [nzType]="p_btn_icon"></i>
                                    {{selectGuardbtnText}}
                                  </button>
                                </nz-badge>
                                </ng-container>
                                <ng-container *ngIf="selectGuardbtn == false">
                                  <button nz-button nzShape="round" (click)="openNonFamilyList($event); $event.preventDefault();">
                                    <i nz-icon [nzType]="p_btn_icon"></i>
                                    {{selectGuardbtnText}}
                                  </button>
                                </ng-container>

                            </ng-template>
                          </nz-empty>
                        </ng-container>
                        <ng-container *ngIf="loadingFamily == false">
                          <ng-container *ngIf="f_stats == true">
                            <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                              <nz-descriptions-item nzTitle="Name" [nzSpan]="1">
                                {{selectedGuardian?.last_name+", "+selectedGuardian?.first_name}}{{selectedGuardian?.middle_name != null ? "
                                "+selectedGuardian?.middle_name : " "}}
                              </nz-descriptions-item>
                              <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
                                {{selectedGuardian?.street != null ? selectedGuardian?.street+", " : "" }}{{selectedGuardian?.brgy_name+","+selectedGuardian?.city_mun_name+", "+selectedGuardian?.province_name}}
                              </nz-descriptions-item>
                              <nz-descriptions-item nzTitle="Age" [nzSpan]="1">
                                {{selectedGuardian?.age}}
                              </nz-descriptions-item>
                              <nz-descriptions-item nzTitle="Contact #" [nzSpan]="1">
                                {{selectedGuardian?.phone_no != null ? selectedGuardian?.phone_no : "No MobileNumber"}}{{selectedGuardian?.telephone_no != null ? "/"+selectedGuardian?.telephone_no : "/ No Telephone Number"}}
                              </nz-descriptions-item>
                              <nz-descriptions-item nzTitle="Relationship to Client" [nzSpan]="1">
                                {{selectedGuardian?.relation != null ? selectedGuardian?.relation : "None"}}
                              </nz-descriptions-item>
                            </nz-descriptions>
                          </ng-container>
                        </ng-container>
                  </nz-card>
                  <br><br>
                  <nz-divider nzText="Referrer Details" nzOrientation="left"></nz-divider>
                  <nz-card [nzExtra]="refferals" [nzBordered]="false" >
                          <ng-container *ngIf="isloadingEmployee == true">
                            <nz-empty
                          [nzNotFoundContent]="reff_contentTpl"
                          [nzNotFoundFooter]="reff_footerTpl"
                          >
                            <ng-template #reff_contentTpl>
                              <span>
                                No Refereer Selected
                              </span>
                            </ng-template>
                            <ng-template #reff_footerTpl>
                              <button nz-button nzShape="round" (click)="openEmpList($event); $event.preventDefault();">
                                <i nz-icon [nzType]="p_btn_icon"></i>
                                {{selectEmpbtnText}}
                              </button>
                            </ng-template>
                          </nz-empty>
                          </ng-container>
                          <ng-container *ngIf="isloadingEmployee == false">
                            <nz-descriptions [nzColumn]="1" nzBordered nzSize="small">
                              <nz-descriptions-item nzTitle="Name" [nzSpan]="1">
                               {{selectedRefeerer?.employee_name}}
                              </nz-descriptions-item>
                              <nz-descriptions-item nzTitle="Department" [nzSpan]="1">
                                {{selectedRefeerer?.dept_name}}
                              </nz-descriptions-item>
                              <nz-descriptions-item nzTitle="Position" [nzSpan]="1">
                                {{selectedRefeerer?.position_name}}
                              </nz-descriptions-item>
                            </nz-descriptions>
                          </ng-container>
                    </nz-card>
                    <br><br>
                  <nz-divider nzText="Rescue Details" nzOrientation="left"></nz-divider>
                  <div nz-col [nzSpan]="24">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please write something...">
                        <nz-input-group>
                          <textarea style="width: 100%;" formControlName="rescue_details"
                          nz-input
                          rows="4"
                          ></textarea>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </nz-card>
                <br>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </form>
  </div>
</nz-spin>

<ng-template #extraTemplate>
  <button nz-button nzShape="round" (click)="showPersonList($event); $event.preventDefault();">
    <i nz-icon [nzType]="p_btn_icon"></i>
    {{p_btn}}
  </button>
</ng-template>

<ng-template #familyList>
<ng-container *ngIf="loadingFamily == false">
  <ng-container *ngIf="f_stats == true">
    <ng-container *ngIf="selectGuardbtn == true">
      <nz-badge [nzCount]="f_count">
      <button nz-button nzShape="round" nzType="primary" (click)="openFamilyDrawer($event); $event.preventDefault();">
        <i nz-icon [nzType]="p_btn_icon"></i>
        {{selectGuardbtnText}}
      </button>
    </nz-badge>
    </ng-container>
    <ng-container *ngIf="selectGuardbtn == false">
      <button nz-button nzShape="round" (click)="openNonFamilyList($event); $event.preventDefault();">
        <i nz-icon [nzType]="p_btn_icon"></i>
        {{selectGuardbtnText}}
      </button>
    </ng-container>
</ng-container>
 </ng-container>
</ng-template>

<ng-template #refferals>
  <ng-container *ngIf="isloadingEmployee == false">
    <ng-container *ngIf="p_stats == true">
      <button nz-button nzShape="round" (click)="openEmpList($event); $event.preventDefault();">
        <i nz-icon [nzType]="p_btn_icon"></i>
        {{selectEmpbtnText}}
      </button>
    </ng-container>
  </ng-container>
</ng-template>

<!-- FAMILY SELECT DRAWER -->
<nz-drawer
nzMaskClosable="false"
[nzWidth]="800"
[nzClosable]="false"
[nzVisible]="openFamilyList"
nzPlacement="right"
nzTitle="Family Member List"
(nzOnClose)="closeFamilyDrawer()"
[nzFooter]="footerTpl"
>
<ng-container *nzDrawerContent>
  <nz-table #rowSelectionTable [nzData]="listOfFamily" nzSize="small">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>

      <tbody>

        <ng-container *ngFor="let data of rowSelectionTable.data; let i =index">
         <tr >
           <td>{{ data.last_name+", "+data.first_name+" "+data.middle_name }}</td>
           <td>{{ data.relation }}</td>
           <td>{{ data.age }}</td>
           <td [nzExpand]="expandSet.has(data.main_pk_id)" (nzExpandChange)="onExpandChange(data.main_pk_id,$event, i)"></td>
           <td>
             <button nz-button nzType="default" (click)="selectedParentOp(data,$event)" >
               <i nz-icon nzType="check" nzTheme="outline"></i>
               Select
             </button>
           </td>
         </tr>
         <tr [nzExpand]="expandSet.has(i)">
           <nz-card style="padding: 2px;color: blue;">
             <nz-descriptions>
               <nz-descriptions-item nzTitle="Address">{{data.street != null ? data.street+", ": ""}}
                 {{data.brgy_name+", "}}{{data.city_mun_name+", "}}{{data.province_name}}
               </nz-descriptions-item>
             </nz-descriptions>
           </nz-card>
         </tr>
        </ng-container>

       </tbody>

  </nz-table>
</ng-container>
</nz-drawer>
<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button nzType="primary" nzDanger style="margin-right: 8px;" (click)="cancelFamilyDrawer()">Cancel</button>
  </div>
</ng-template>


<!-- REFREERER - EMPLOYEE DRAWER -->
<nz-drawer
nzMaskClosable="false"
[nzWidth]="800"
[nzClosable]="false"
[nzVisible]="openEmpListDrawer"
nzPlacement="right"
nzTitle="Employee List"
(nzOnClose)="closeEmpDrawer()"
[nzFooter]="footerTplEmp"
>
<ng-container *nzDrawerContent>
  <nz-skeleton [nzLoading]="loadingEmpList" [nzActive]="true">
  <nz-table #rowSelectionTable [nzData]="listOfEmployee" nzSize="small">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Action</th>
      </tr>
    </thead>

      <tbody>
        <ng-container *ngFor="let data of rowSelectionTable.data; let i =index">
         <tr >
           <td>{{ data.employee_name}}</td>
           <td>{{ data.dept_name }}</td>
           <td>{{data.position_name}}</td>
           <!-- <td>{{ data.relation }}</td> -->
           <td>

             <button nz-button nzType="default" (click)="selectedReferrerOp(data,$event)" >
               <i nz-icon nzType="check" nzTheme="outline"></i>
               Select
             </button>
           </td>
         </tr>
         <tr [nzExpand]="expandSet.has(i)">
           <nz-card style="padding: 2px;color: blue;">
             <nz-descriptions>
               <nz-descriptions-item nzTitle="Address">{{data.street != null ? data.street+", ": ""}}
                 {{data.brgy_name+", "}}{{data.city_mun_name+", "}}{{data.province_name}}
               </nz-descriptions-item>
             </nz-descriptions>
           </nz-card>
         </tr>
        </ng-container>

       </tbody>

  </nz-table>
</nz-skeleton>
</ng-container>
</nz-drawer>
<ng-template #footerTplEmp>
  <div style="float: right">
    <button nz-button nzType="primary" nzDanger style="margin-right: 8px;" (click)="cancelEmpDrawer()">Cancel</button>
  </div>
</ng-template>
