<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>DAFAC Setup</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">
          <nz-tab [nzTitle]="TransactionForm">

            <nz-card nzType="inner" nzTitle="I. Location of the Affected Family">

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select region!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Region :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="region_id" nzPlaceHolder="Select a region">
                          <nz-option type="number" *ngFor="let list of regionList" nzLabel="{{list.reg_name}}" nzValue="{{list.SysPK_region}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select province!">
                      <p class="label" style="color: darkblue;"><span style="color: red">* </span>Province :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="province_id" nzPlaceHolder="Select a province">
                          <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input district!">
                      <p class="label" style="color: darkblue;"><span style="color: red">* </span>District :</p>
                      <nz-input-group>
                        <input formControlName="district" nz-input placeholder="Enter District" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select barangay!">
                      <p class="label" style="color: darkblue;"><span style="color: red">* </span>Barangay :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
                          <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select city/municipality!">
                      <p class="label" style="color: darkblue;"><span style="color: red">* </span>City/Municipality :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="citmun_id" nzPlaceHolder="Select a barangay">
                          <nz-option type="number" *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select city/municipality!">
                      <p class="label" style="color: darkblue;"><span style="color: red">* </span>Evacuation Center/Evacuation Site :</p>
                      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input [readOnly]="true" formControlName="venue" type="text" nz-input placeholder="Select an evcuation center" />
                        <input formControlName="evacuation_center_guid" type="hidden" nz-input />
                      </nz-input-group>
                      <ng-template #suffixIconButton>
                        <button (click)="evacuationCenterBrowse(); $event.preventDefault();" nz-button nzType="primary" nzSearch><i nz-icon nzType="select" nzTheme="outline"></i></button>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </nz-card>

            <nz-card nzType="inner" nzTitle="II. Head of the Family" style="margin-top: 10px;">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24">
                  <nz-input-group>
                    <p class="label" style="color: darkblue;"><span style="color: red">* </span>Full Name :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="3">
                        
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input prefix!" nzExtra="(Prefix)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="prefix" nz-input placeholder="Prefix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your firstname!" nzExtra="(First Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="first_name" nz-input placeholder="First Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your middle name!" nzExtra="(Middle Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="middle_name" nz-input placeholder="Middle Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your last name!" nzExtra="(Last Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="last_name" nz-input placeholder="Last Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="3">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="suffix" nz-input placeholder="Suffix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input name extension!">
                            <p class="label" style="font-style: normal !important;">Name Extension :</p>
                            <nz-input-group>
                              <input formControlName="name_extension" nz-input placeholder="Name Extension" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select 4ps beneficiary!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span> 4P's Beneficiary :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="fourps_beneficiary" nzPlaceHolder="4P's Beneficiary">
                                <nz-option nzLabel="Yes" nzValue="Yes"></nz-option>
                                <nz-option nzLabel="No" nzValue="No"></nz-option>
                              </nz-select>
                              <!-- <input formControlName="house_occupancy" nz-input placeholder="Status of House Occupancy" /> -->
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select ip's!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>IP's :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="ips" nzAllowClear nzPlaceHolder="IP's">
                                <nz-option nzLabel="Yes" nzValue="Yes"></nz-option>
                                <nz-option nzLabel="No" nzValue="No"></nz-option>
                              </nz-select>
                              <!-- <input formControlName="house_occupancy" nz-input placeholder="Status of House Occupancy" /> -->
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input type of ethnicity!">
                            <p class="label" style="font-style: normal !important;">Type of Ethnicity :</p>
                            <nz-input-group>
                              <input formControlName="type_of_ethnicity" nz-input placeholder="Type of Ethnicity" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input educational attainment!" nzExtra="(Educational Attainment)">
                            <p class="label" style="font-style: normal !important;">Education :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                                <nz-option *ngFor="let list of educationalTypeDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-divider></nz-divider>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Date of Birth</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input date!">
                            <p class="label" style="font-style: normal !important;">Date of Birth :</p>
                            <nz-input-group>
                              <nz-date-picker style="width: 100%; background: #f0f0f0;" formControlName="birth_date" [(ngModel)]="date"></nz-date-picker>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
  
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Birth Place</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input birth place!">
                            <p class="label" style="font-style: normal !important;">Birth Place :</p>
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="place_of_birth" nz-input placeholder="Place of Birth" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
  
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select gender!">
                            <p class="label" style="font-style: normal !important;">Sex :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="gender_id" nzPlaceHolder="Select a gender">
                                <nz-option *ngFor="let list of genderDropdown" nzLabel="{{list.gender_name}}" nzValue="{{list.gender_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Birth Place</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input mother's maiden name!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span> Mother's Maiden Name :</p>
                            <nz-input-group>
                              <input formControlName="mothers_maiden_name" nz-input placeholder="Mother's Maiden Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Occupation</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input occupation!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>Occupation :</p>
                            <nz-input-group>
                              <input formControlName="occupation" nz-input placeholder="Occupation" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input monthly income!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>Monthly Family Net Income :</p>
                            <nz-input-group>
                              <input localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" [value]="monthlyIncomeAmount" (ngModelChange)="updateMonthlyIncome($event)" formControlName="monthly_family_income" nz-input placeholder="Monthly Income" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input ID card presented!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>ID Card Presented :</p>
                            <nz-input-group>
                              <input formControlName="id_card_presented" nz-input placeholder="ID Card Presented" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input ID card number!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>ID Card Number :</p>
                            <nz-input-group>
                              <input formControlName="id_card_number" nz-input placeholder="ID Card Number" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Occupation</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input primary contact!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>Primary Contact No :</p>
                            <nz-input-group nzAddOnBeforeIcon="phone">
                              <input formControlName="primary_contact" nz-input placeholder="Primary Contact No" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input alternate contact!">
                            <p class="label" style="font-style: normal !important;">Alternate Contact No :</p>
                            <nz-input-group nzAddOnBeforeIcon="phone">
                              <input formControlName="alternate_contact" nz-input placeholder="Alternate Contact No" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select house ownership!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>House Ownership :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="house_ownership" nzAllowClear nzPlaceHolder="House Ownership">
                                <nz-option nzLabel="Owner" nzValue="Owner"></nz-option>
                                <nz-option nzLabel="Renter" nzValue="Renter"></nz-option>
                                <nz-option nzLabel="Sharer" nzValue="Sharer"></nz-option>
                              </nz-select>
                              <!-- <input formControlName="house_occupancy" nz-input placeholder="Status of House Occupancy" /> -->
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select house condition!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>House Condition :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="housing_conditioning" nzAllowClear nzPlaceHolder="House Condition">
                                <nz-option nzLabel="Partially Damaged" nzValue="Partially Damaged"></nz-option>
                                <nz-option nzLabel="Totally Damaged" nzValue="Totally Damaged"></nz-option>
                              </nz-select>
                              <!-- <input formControlName="house_occupancy" nz-input placeholder="Status of House Occupancy" /> -->
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>
                  
                  <nz-input-group>
                    <p class="label" style="color: darkblue;"><span style="color: red">* </span>Permanent Address :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="province_id1" nzAllowClear nzPlaceHolder="Select a province">
                                <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="citmun_id1" nzPlaceHolder="Select a city/municipality">
                                <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="barangay_id1" nzPlaceHolder="Select a barangay">
                                <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="street" nz-input placeholder="Street" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-divider></nz-divider>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      
                     <div nz-col nzSpan="24">
                      <p class="label">Family Members :</p>
                      <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1;" formArrayName="family_details" [nzData]="dataDisplay" [nzTitle]="BrowsePerson" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                        <thead>
                          <tr>
                            <th nzWidth="3%">No</th>
                            <th>Name</th>
                            <th>Relation to Member</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Educational Attainment</th>
                            <th>Occupational Skills</th>
                            <th>Income</th>
                            <th>Remarks</th>
                            <th nzWidth="3%">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                            <td>{{i+1}}.</td>
                            <td><input class="readOnly" [readOnly]="true" formControlName="full_name" nz-input placeholder="Full Name" nzBorderless /></td>
                            <td>
                              <nz-select style="width: 100%;" formControlName="relation" nzPlaceHolder="Select relation to member">
                                <nz-option nzLabel="Father" nzValue="Father"></nz-option>
                                <nz-option nzLabel="Mother" nzValue="Mother"></nz-option>
                                <nz-option nzLabel="Brother" nzValue="Brother"></nz-option>
                                <nz-option nzLabel="Sister" nzValue="Sister"></nz-option>
                              </nz-select>
                            </td>
                            <td><input class="readOnly" [readOnly]="true" formControlName="age" nz-input placeholder="Age" nzBorderless /></td>
                            <td><input class="readOnly" [readOnly]="true" formControlName="gender_name" nz-input placeholder="Gender" nzBorderless /></td>
                            <td>
                              <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                                <nz-option *ngFor="let list of educationalTypeDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                              </nz-select>
                            </td>
                            <td><input formControlName="occupational_skills" nz-input placeholder="Occupation Skills" /></td>
                            <td><input [id]="incomeAmountDetails[i]" style="text-align: right;" formControlName="occupation_income" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" [value]="incomeAmount[i]" (ngModelChange)="updateIncome()" nz-input placeholder="Enter income" /></td>
                            <td><input formControlName="remarks" nz-input placeholder="Remarks" /></td>
                            <td>
                              <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantity(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                            </td> 
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td style="text-align: right;" colspan="7"><b>TOTAL FAMILY INCOME:</b></td>
                            <td style="text-align: right;"><b>&#8369; {{totalIncome | number: '1.2-2'}}</b></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <ng-template #BrowsePerson>
                          <div style="text-align-last: end;">
                            <button (click)="openBrowseDrawer(); $event.preventDefault();" nz-button nzType="default">
                              <i nz-icon nzType="user-add" nzTheme="outline"></i>
                              Browse Person
                            </button>
                          </div>
                        </ng-template>
                        
                      </nz-table>
                     </div>

                    </div>

                    <div nz-row [nzGutter]="8" style="margin-top: 10px;">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input no of older!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>No. of Elder :</p>
                            <nz-input-group>
                              <input type="number" formControlName="no_of_older" nz-input placeholder="No. of Older" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input no of pregnant or lactating!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>No. of Pregnant or Lactating :</p>
                            <nz-input-group>
                              <input type="number" formControlName="no_of_pregnant_or_lactating" nz-input placeholder="NO. of Pregnant or Lactating" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input no of pwds and conditions!">
                            <p class="label" style="color: darkblue;"><span style="color: red">* </span>No. of PWDS & Conditions :</p>
                            <nz-input-group>
                              <input type="number" formControlName="no_of_pwds_and_conditions" nz-input placeholder="No. of PWDS & Conditions" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>

                  </nz-input-group>

                </div>
              </div>
            </nz-card>

          </nz-tab>

          <nz-tab [nzTitle]="FamilyAssistance">

            <nz-card nzType="inner" nzTitle="III. Family Assistance Record" style="margin-top: 10px;">
             
              <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1;" formArrayName="assistance_details" [nzData]="dataDisplayAssistance" [nzTitle]="BrowsePersonAssistance" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                <thead>
                  <tr>
                    <!-- <th rowspan="2">DATE</th> -->
                    <th rowspan="2">NAME OF RECEIVING FAMILY MEMBER</th>
                    <th colspan="4">ASSISTANCE PROVIDED DURING: 
                      sample data
                    </th>
                    <!-- <th rowspan="2">RECIPIENT'S SIGNATURE/THUMBMARK</th> -->
                  </tr>
                  <tr>
                    <th rowspan="1">KIND/TYPE</th>
                    <th rowspan="1">QTY.</th>
                    <th rowspan="1">COST</th>
                    <th rowspan="1">PROVIDER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantity of quantitiesAssistance().controls; let i=index" [formGroupName]="i">
                    <td><input class="readOnly" [readOnly]="true" formControlName="full_name_assistance" nz-input placeholder="Full Name" nzBorderless /></td>
                    <td><input formControlName="kind_type" nz-input placeholder="Kind/Type" /></td>
                    <td><input type="number" formControlName="qty" nz-input placeholder="Qty" /></td>
                    <td><input [id]="costDetails[i]" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" formControlName="cost" nz-input placeholder="Cost" /></td>
                    <td><input formControlName="provider" nz-input placeholder="Provider" /></td>
                    <td>
                      <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantityAssistance(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </td>
                  </tr>
                </tbody>
                <ng-template #BrowsePersonAssistance>
                  <div style="text-align-last: end;">
                    <button (click)="openBrowseDrawerAssistance(); $event.preventDefault();" nz-button nzType="default">
                      <i nz-icon nzType="user-add" nzTheme="outline"></i>
                      Browse Person
                    </button>
                  </div>
                </ng-template>
                
              </nz-table>

            </nz-card>

          </nz-tab>

        </nz-tabset>

      </form>
    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>
<ng-template #FamilyAssistance>
  <i nz-icon nzType="snippets" nzTheme="outline"></i>
  Family Assistance
</ng-template>