<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>Person Setup</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">
          <nz-tab [nzTitle]="TransactionForm">
            <nz-alert *ngIf="warningAlert" nzType="warning" nzShowIcon nzCloseable [nzMessage]="warning" style="margin-bottom: 10px;"></nz-alert>
            <nz-card nzType="inner" nzTitle="I. Personal Information">

              <div nz-row [nzGutter]="24">

                <div nz-col [nzSpan]="4">

                  <!-- <img [src]="imageUrl" alt="Person" style="width: 200px; height: auto;"> -->
                <!-- <input type="file" #Image accept="image/*" (change)=" $event.preventDefault();" style="margin-top: 20px;"> -->

                  <nz-upload
                  class="avatar-uploader"
                  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  nzName="avatar"
                  nzListType="picture-card"
                  [nzShowUploadList]="false"
                  [nzBeforeUpload]="beforeUpload"
                  (nzChange)="handleChange($event)"
                >
                  <ng-container *ngIf="!avatarUrl">
                    <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">Upload</div>
                  </ng-container>
                  <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
                </nz-upload>
                <span style="font-style: italic;">(
                  <span style="font-weight: 500;">Note</span>: Uploading photo is optional)
                </span>
                </div>

                <div nz-col [nzSpan]="20">
                  <nz-input-group>
                    <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Full Name :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="3">

                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input prefix!" nzExtra="(Prefix)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="prefix" [(ngModel)]="prefixValue" nzPlaceHolder="Prefix">
                                <nz-option *ngFor="let list of prefixValueData" nzLabel="{{list.prefix_name}}" nzValue="{{list.prefix_name}}"></nz-option>
                              </nz-select>
                              <!-- <input formControlName="prefix" nz-input placeholder="Prefix" /> -->
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your firstname!" nzExtra="(First Name)">
                            <nz-input-group>
                              <input style="text-transform: capitalize;" formControlName="first_name" nz-input placeholder="First Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your middle name!" nzExtra="(Middle Name)">
                            <nz-input-group>
                              <input style="text-transform: capitalize;" formControlName="middle_name" nz-input placeholder="Middle Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your last name!" nzExtra="(Last Name)">
                            <nz-input-group>
                              <input style="text-transform: capitalize;" formControlName="last_name" nz-input placeholder="Last Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="3">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                            <nz-input-group>
                              <input style="text-transform: capitalize;"formControlName="suffix" nz-input placeholder="Suffix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Address :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <label class="disable-click" formControlName="default_checked" (ngModelChange)="selectedDefault($event);" [(ngModel)]="checked" nz-checkbox style="padding-top: 5px; padding-right: 5px;"></label>
                          <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
                            <nz-input-group>
                              <nz-select nzDisabled style="width: 100%; background-color: gray;" formControlName="province_id" [(ngModel)]="selectedValue" nzPlaceHolder="Select a province">
                                <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                            <!-- <nz-input-group>
                              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input [readOnly]="true" formControlName="province" type="text" nz-input placeholder="Select a province" />
                              </nz-input-group>
                              <ng-template #suffixIconButton>
                                <button nz-button (click)=" $event.preventDefault();" nzType="primary" nzSearch><i nz-icon nzType="select" nzTheme="outline"></i></button>
                              </ng-template>
                            </nz-input-group> -->
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
                            <nz-input-group>
                              <nz-select nzDisabled [(ngModel)]="selectedCityMun" style="width: 100%;" formControlName="citmun_id" nzPlaceHolder="Select a city/municipality">
                                <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
                                <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
                            <nz-input-group>
                              <input style="text-transform: capitalize;" formControlName="street" nz-input placeholder="Street" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select region!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Region :</p>
                            <nz-input-group>
                              <nz-select nzDisabled [(ngModel)]="defaultRegion" style="width: 100%;" formControlName="region_id" nzPlaceHolder="Select a region">
                                <nz-option *ngFor="let list of regionList" nzLabel="{{list.reg_name}} - {{list.reg_code}}" nzValue="{{list.SysPK_region}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>
                </div>
                
              </div>

              <nz-divider></nz-divider>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Date of Birth</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input date!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Date of Birth :</p>
                      <nz-input-group>
                        <nz-date-picker style="width: 100%;" formControlName="birth_date" [(ngModel)]="date"></nz-date-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Citizenship</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input citizenship!">
                      <p class="label" style="font-style: normal !important;">Citizenship :</p>
                      <nz-input-group>
                        <input style="text-transform: capitalize;" formControlName="citizenship" [(ngModel)]="citizenshipDefault" nz-input placeholder="Citizenship" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                  <nz-form-item>
                    <!-- <nz-form-label>Height(cm)</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input height!">
                      <p class="label" style="font-style: normal !important;">Height(cm) :</p>
                      <nz-input-group>
                        <input type="number" formControlName="height" nz-input placeholder="Height" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                  <nz-form-item>
                    <!-- <nz-form-label>Weight(cm)</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input weight!">
                      <p class="label" style="font-style: normal !important;">Weight(kg) :</p>
                      <nz-input-group>
                        <input type="number" formControlName="weight" nz-input placeholder="Weight" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Gender</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select gender!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Gender :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="gender_id" nzPlaceHolder="Select a gender">
                          <nz-option *ngFor="let list of genderDropdown" nzLabel="{{list.gender_name}}" nzValue="{{list.gender_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Birth Place</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input birth place!">
                      <p class="label" style="font-style: normal !important;">Birth Place :</p>
                      <nz-input-group>
                        <input style="text-transform: capitalize;" formControlName="place_of_birth" nz-input placeholder="Place of Birth" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="4">T.I.N</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input tin!">
                      <p class="label" style="font-style: normal !important;">T.I.N :</p>
                      <nz-input-group>
                        <input formControlName="tin" nz-input placeholder="Tin" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Civil Status</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select civil status!">
                      <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Civil Status :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="civil_status_id" nzPlaceHolder="Select a civil status">
                          <nz-option *ngFor="let list of civilStatusDropdown" nzLabel="{{list.civil_status_name}}" nzValue="{{list.civil_status_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Profession</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input profession!">
                      <p class="label" style="font-style: normal !important;">Profession :</p>
                      <nz-input-group>
                        <input style="text-transform: capitalize;" formControlName="profession" nz-input placeholder="Profession" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="4">Religion</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input religion!">
                      <p class="label" style="font-style: normal !important;">Religion :</p>
                      <nz-input-group>
                        <input style="text-transform: capitalize;" formControlName="religion" nz-input placeholder="Religion" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input educational attainment!" nzExtra="(Educational Attainment)">
                      <p class="label" style="font-style: normal !important;">Education :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                          <nz-option *ngFor="let list of educationalDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please select blood type!">
                      <p class="label" style="font-style: normal !important;">Blood Type :</p>
                      <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="blood_type_id" nzPlaceHolder="Select blood type">
                          <nz-option *ngFor="let list of bloodtypeDropdown" nzLabel="{{list.blood_type_name}}" nzValue="{{list.blood_type_id}}"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                
              </div>

              <nz-divider></nz-divider>

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Occupation</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input primary contact!">
                      <p class="label" style="font-style: normal !important;">Phone No :</p>
                      <nz-input-group nzAddOnBefore="(+63)" nzAddOnAfterIcon="mobile">
                        <input type="text" minlength="11" maxlength="11" formControlName="phone_no" nz-input placeholder="Phone No" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Income</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input alternate contact!">
                      <p class="label" style="font-style: normal !important;">Telephone No :</p>
                      <nz-input-group nzAddOnBefore="(032)" nzAddOnAfterIcon="phone">
                        <input type="text" mask="(000) 000-0000" placeholder="e.g. (123) 456-7890" formControlName="telephone_no" nz-input />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <!-- <nz-form-label [nzSpan]="5">Occupation</nz-form-label> -->
                    <nz-form-control nzErrorTip="Please input email address!">
                      <p class="label" style="font-style: normal !important;">Email Address :</p>
                      <nz-input-group nzAddOnBeforeIcon="mail">
                        <input  type="email" formControlName="email_address" nz-input placeholder="Email Address" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </nz-card>

          </nz-tab>
        </nz-tabset>



      </form>

    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>
