
<nz-spin nzTip="Loading list..." [nzSpinning]="isLoading">
  <nz-table #basicTable [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small">
    <thead>
      <tr>
        <th  style="width: 20%;">Reg. Cert. No</th>
        <th>Applicant</th>
        <th>Nature of Business</th>
        <th>Address</th>
        <th>Application Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data; let i = index;">
        <tr>
          <td style="text-transform:uppercase;">{{data.form_trans_no}}</td>
          <td style="text-transform:uppercase;">{{data.applicant_name}}</td>
          <td style="text-transform:uppercase;">{{data.nature_of_business}}</td>
          <td>{{data.address}}</td>
          <td>{{data.type}}</td>
          <td style="text-align: center;">
            <nz-tag   *ngIf="data.status === 'Active'" [nzColor]="'#87d068'">{{data.status}}</nz-tag>
            <nz-tag   *ngIf="data.status !== 'Active'" [nzColor]="'#f50'">{{data.status}}</nz-tag>
          </td>
          <td>
            <button class="actionEdit" nz-button nzType="default" (click)="selectRental(data)"><i nz-icon nzType="form" nzTheme="outline"></i> Select</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  
    <ng-template #dateFilter>
      <nz-input-group nzAllowClear style="width: 50%;"  nzSize="large" [nzSuffix]="suffixIconSearch">
        <input 
        type="text" 
        [(ngModel)]="searchModel" 
        (ngModelChange)="beginSearch($event)" 
        nz-input 
        placeholder="Search Applicant / Nature of Business / Barangay / Application Type"
        [nzAutocomplete]="auto" />
        <!-- <nz-autocomplete [nzDataSource]="filteredOptions" nzBackfill="true" #auto (click)="triggerSearch($event)"></nz-autocomplete> -->
        <nz-autocomplete #auto>
          <nz-auto-option (click)="triggerSearch(option)" *ngFor="let option of filteredOptions" [nzValue]="option.val">{{ option.val }}</nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i *ngIf="searchModel == ''" nz-icon nzType="search"></i>
        <a *ngIf="searchModel != ''" (click)="clearSearch()"><i nz-icon nzType="close"></i></a>
      </ng-template>
      <label style="padding-left: 2%;" nz-checkbox [(ngModel)]="statusSwitch" (ngModelChange)="statusFilter()">Show Active Only</label>
    </ng-template>
    
  </nz-table>
  </nz-spin>