<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i>Fees & Charges List</h3>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button nzType="primary" (click)="print(); $event.preventDefault();">
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <!-- <div  style="height: 100vh !important;overflow-y: scroll;"> -->
  <div class="printMulti"  style="border: 1px solid black; margin-top: 10px !important; margin: auto;" *ngFor = "let x of numPage">
    <div *ngIf="x > 0" class="breakThis"></div>
    <div class="printContent">
      
      <app-header-print></app-header-print>
      <div style="text-align: center;">
        <h2>Slaughterhouse Record</h2>
        <h3>{{trans_date | date: 'MMMM dd, yyyy'}}</h3>
      </div>
      <div nz-row [nzGutter]="32" style="align-content: center;">
      <div nz-col nzSpan="24" class="content">
        <nz-table class="tbl-rec" [nzBordered]="true" [nzOuterBordered]="true" #basicTable [nzData]="finalList[x]" [nzFrontPagination]="false"  nzSize="small">
          <thead>
            <tr>
                <th style="width:6%; text-align: center;">Time</th>
                <th style="text-align: center;">Name of Client</th>
                <th style="text-align: center;">Address</th>
                <th style="text-align: center;">Kind of Animal</th>
                <th style="width:6%; text-align: center;">No. of Heads</th>
                <th style="width:6%; text-align: center;">No. of Kilos</th>
                <th style="text-align: center;">Slaughtering Date</th>
                <th style="width:6%; text-align: center;">Slaughtering Time</th>
                <th style="text-align: center;">Purpose</th>
                <th>Lechonero</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data;let i = index">
              <td style="text-align: center;">{{data.time | date: 'hh:mm a'}}</td>
              <td>{{data.client_name}}</td>
              <td>{{data.address}}</td>
              <td>{{data.animal}}</td>
              <td style="text-align: center;">{{data.no_of_heads}}</td>
              <td style="text-align: center;">{{data.kilos}}</td>
              <td style="text-align: center;">{{data.slaughtering_date | date: 'MM/dd/yyyy'}}</td>
              <td style="text-align: center;">{{data.slaughtering_time | date: 'hh:mm a'}}</td>
              <td>{{data.purpose}}</td>
              <td>{{data.lechonero}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <div class="footDiv">
      <app-footer-print  ></app-footer-print>
    </div>
    </div>
  </div>
  <div class="footDivPrint">
    <app-footer-print ></app-footer-print>
  </div>
<!-- </div> -->
</nz-spin>
