<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm();">
        <nz-anchor [nzShowInkInFixed]="false" >
          <nz-page-header>
            <nz-page-header-title>PWD Setup</nz-page-header-title>
            <nz-page-header-extra>
              <!-- <button nz-button (click)="draft(); $event.preventDefault();">
                <i nz-icon nzType="folder-open"></i>
                Save as Draft
              </button> -->
              <button nz-button nzType="primary" (click)="cancel(); $event.preventDefault();" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel
              </button>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">

          <nz-tab [nzTitle]="TransactionForm">

            <nz-card nzType="inner" nzTitle="I. Identifying Information" style="margin-top: 10px;">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24">
                  <nz-input-group>
                    <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Full Name :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="3">
                        
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input prefix!" nzExtra="(Prefix)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="prefix" nz-input placeholder="Prefix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your firstname!" nzExtra="(First Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="first_name" nz-input placeholder="First Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your middle name!" nzExtra="(Middle Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="middle_name" nz-input placeholder="Middle Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your last name!" nzExtra="(Last Name)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="last_name" nz-input placeholder="Last Name" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="3">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="suffix" nz-input placeholder="Suffix" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Permanent Address :</p>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="province_id" nzAllowClear nzPlaceHolder="Select a province">
                                <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="citmun_id" nzPlaceHolder="Select a city/municipality">
                                <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
                                <nz-option type="number" *ngFor="let list of barangayDropdown" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
                            <nz-input-group>
                              <input class="readOnly" [readOnly]="true" formControlName="street" nz-input placeholder="Street" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select region!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Region :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="region_id" nzPlaceHolder="Select a region">
                                <nz-option type="number" *ngFor="let list of regionList" nzLabel="{{list.reg_name}}" nzValue="{{list.SysPK_region}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Date of Birth</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input date!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Date of Birth :</p>
                            <nz-input-group>
                              <nz-date-picker style="width: 100%; background: #f0f0f0;" formControlName="birth_date" [(ngModel)]="date"></nz-date-picker>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Sex</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select gender!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Sex :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="gender_id" nzPlaceHolder="Select a gender">
                                <nz-option *ngFor="let list of genderDropdown" nzLabel="{{list.gender_name}}" nzValue="{{list.gender_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Civil Status</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select civil status!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Civil Status :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="civil_status_id" nzPlaceHolder="Select a civil status">
                                <nz-option *ngFor="let list of civilStatusDropdown" nzLabel="{{list.civil_status_name}}" nzValue="{{list.civil_status_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please input educational attainment!" nzExtra="(Educational Attainment)">
                            <p class="label" style="font-style: normal !important;">Education :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                                <nz-option *ngFor="let list of educationalTypeDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select blood type!">
                            <p class="label" style="font-style: normal !important;">Blood Type :</p>
                            <nz-input-group>
                              <nz-select style="width: 100%;" formControlName="blood_type_id" nzPlaceHolder="Select blood type">
                                <nz-option *ngFor="let list of bloodtypeDropdown" nzLabel="{{list.blood_type_name}}" nzValue="{{list.blood_type_id}}"></nz-option>
                              </nz-select>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-divider></nz-divider>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input telephon no!">
                            <p class="label" style="font-style: normal !important;">Telephone No. :</p>
                            <nz-input-group>
                              <input type="text" mask="(000) 000-0000" placeholder="e.g. (123) 456-7890"  formControlName="telephone_no" nz-input />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input mobile no!">
                            <p class="label" style="font-style: normal !important;">Mobile No. :</p>
                            <nz-input-group>
                              <input formControlName="mobile_no" nz-input placeholder="Mobile No." />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input email address!">
                            <p class="label" style="font-style: normal !important;">Email Address :</p>
                            <nz-input-group>
                              <input formControlName="email_address" nz-input placeholder="Email Address" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-divider></nz-divider>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">

                      <div nz-col nzSpan="8">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select employment!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Employment Status :</p>
                            <nz-input-group>
                              <nz-radio-group (ngModelChange)="selectedEmploymentStatus($event)" formControlName="employment_status_id" [(ngModel)]="radioValueEmpStatus">
                                <label style="display: block !important;" *ngFor="let list of employmentStatusDropdown" nz-radio nzValue="{{list.id}}">{{list.employment_status_name}}</label>
                              </nz-radio-group>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="8" *ngIf="hideSelectEmployed">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select type of employment!">
                            <p class="label" style="font-style: normal !important;">Type of Employment (Please select if employed):</p>
                            <nz-input-group>
                              <nz-radio-group formControlName="employment_type_id" [(ngModel)]="radioValueEmpType">
                                <label style="display: block !important;" *ngFor="let list of employmentTypeDropdown" nz-radio nzValue="{{list.id}}">{{list.employment_type_name}}</label>
                              </nz-radio-group>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col nzSpan="8" *ngIf="hideSelectEmployed">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select employer type!">
                            <p class="label" style="font-style: normal !important;">Type of Employer (Please select if employed):</p>
                            <nz-input-group>
                              <nz-radio-group formControlName="employer_type_id" [(ngModel)]="radioValueEmployerType">
                                <label style="display: block !important;" *ngFor="let list of employerTypeDropdown" nz-radio nzValue="{{list.id}}">{{list.employer_type_name}}</label>
                              </nz-radio-group>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
  
                    </div>
                      
                  </nz-input-group>

                  <nz-divider></nz-divider>

                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select blood type!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Occupation :</p>
                            <nz-input-group>
                              <nz-radio-group (ngModelChange)="selectedOccupation($event)" formControlName="occupation_id" [(ngModel)]="radioValueOccupation">
                                <label style="display: block !important;" *ngFor="let list of occupationListDropdown" nz-radio nzValue="{{list.id}}">{{list.occupation_name}}</label>
                              </nz-radio-group>
                              <input *ngIf="hideSelectOccupation" formControlName="occupation_others" nz-input placeholder="Other Occupation"  style="margin-top: 10px;"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select blood type!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Type of Disability :</p>
                            <nz-input-group>
                              <nz-radio-group (ngModelChange)="selectedDisability($event)" formControlName="type_of_disability_id" [(ngModel)]="radioValueDisability">
                                <label style="display: block !important;" *ngFor="let list of disabilityListDropdown" nz-radio nzValue="{{list.id}}">{{list.disability_name}}</label>
                              </nz-radio-group>
                              <input *ngIf="hideSelectDisability" formControlName="specify_disability" nz-input placeholder="Specify Disability"  style="margin-top: 10px;"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <!-- <nz-form-label [nzSpan]="5">Education</nz-form-label> -->
                          <nz-form-control nzErrorTip="Please select blood type!">
                            <p class="label" style="color: darkblue;"><span style="color: red;">* </span>Cause of Disability :</p>
                            <nz-input-group>
                              <nz-radio-group formControlName="cause_of_disability_id" [(ngModel)]="radioValueDisabilityCause">
                                <label style="display: block !important;" *ngFor="let list of disabilityCauseListDropdown" nz-radio nzValue="{{list.id}}">{{list.cause_of_disability_name}}</label>
                              </nz-radio-group>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                  <nz-divider></nz-divider>
                  <p style="font-weight: bold;">ID Reference No.</p>
                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input sss no.!">
                            <p class="label" style="font-style: normal !important;">SSS No. :</p>
                            <nz-input-group>
                              <input formControlName="sss_no" nz-input placeholder="SSS No." />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input gsis no.!">
                            <p class="label" style="font-style: normal !important;">GSIS No. :</p>
                            <nz-input-group>
                              <input formControlName="gsis_no" nz-input placeholder="GSIS No." />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input pagi-big no.!">
                            <p class="label" style="font-style: normal !important;">Pag-ibig No. :</p>
                            <nz-input-group>
                              <input formControlName="pagibig_no" nz-input placeholder="Pag-ibig No." />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input philhealth no.!">
                            <p class="label" style="font-style: normal !important;">PhilHealth No. :</p>
                            <nz-input-group>
                              <input formControlName="philhealth_no" nz-input placeholder="PhilHealth No." />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select philhealth membership!">
                            <nz-input-group>
                              <nz-radio-group formControlName="philhealth_membership">
                                <label style="display: block !important;" nz-radio nzValue="PhilHealth Member">PhilHealth Member</label>
                                <label style="display: block !important;" nz-radio nzValue="PhilHealth Member Dependent">PhilHealth Member Dependent</label>
                              </nz-radio-group>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>

                  </nz-input-group>

                  <nz-divider></nz-divider>
                  <p style="font-weight: bold;">Organization Information</p>
                  <nz-input-group>
                    <div nz-row [nzGutter]="8">
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input organization!">
                            <p class="label" style="font-style: normal !important;">Organization Affiliated :</p>
                            <nz-input-group>
                              <input formControlName="organization" nz-input placeholder="Organization" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input contact person!">
                            <p class="label" style="font-style: normal !important;">Contact Person :</p>
                            <nz-input-group>
                              <input formControlName="contact_person" nz-input placeholder="Contact Person." />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input office address!">
                            <p class="label" style="font-style: normal !important;">Office Address :</p>
                            <nz-input-group>
                              <input formControlName="office_address" nz-input placeholder="Office Address" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input office telephone no!">
                            <p class="label" style="font-style: normal !important;">Office Telephone No :</p>
                            <nz-input-group>
                              <input formControlName="tel_no" nz-input placeholder="Office Telephone No" />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-input-group>

                </div>
              </div>
            </nz-card>

          </nz-tab>

          <nz-tab [nzTitle]="FamilyMembers">

            <nz-card nzType="inner" nzTitle="II. Family Composition">

              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24">

                  <nz-table [nzShowPagination]="false" style="border: 1px solid #f1f1f1;" formArrayName="family_details" [nzData]="dataDisplay" [nzTitle]="BrowsePerson" nzBordered #basicTable nzSize="small" nzShowSizeChanger>
                    <thead>
                      <tr>
                        <th nzWidth="3%">No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Relation to Head</th>
                        <th>Educational Attainment</th>
                        <th>Occupation</th>
                        <th>Income</th>
                        <th nzWidth="3%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                        <td>{{i+1}}.</td>
                        <td><input class="readOnly" [readOnly]="true" formControlName="full_name" nz-input placeholder="Full Name" nzBorderless /></td>
                        <td><input class="readOnly" [readOnly]="true" formControlName="age" nz-input placeholder="Age" nzBorderless /></td>
                        <td>
                          <nz-select style="width: 100%;" formControlName="relation" nzPlaceHolder="Select relation to member">
                            <nz-option nzLabel="Father" nzValue="Father"></nz-option>
                            <nz-option nzLabel="Mother" nzValue="Mother"></nz-option>
                            <nz-option nzLabel="Brother" nzValue="Brother"></nz-option>
                            <nz-option nzLabel="Sister" nzValue="Sister"></nz-option>
                          </nz-select>
                        </td>
                        <td>
                          <nz-select style="width: 100%;" formControlName="educational_attainment" nzPlaceHolder="Select educational attainment">
                            <nz-option *ngFor="let list of educationalTypeDropdown" nzLabel="{{list.educational_name}}" nzValue="{{list.id}}"></nz-option>
                          </nz-select>
                        </td>
                        <td><input formControlName="occupational_skills" nz-input placeholder="Occupation Skills" /></td>
                        <td><input [id]="incomeAmountDetails[i]" style="text-align: right;" formControlName="occupation_income" localeCurrencyInput [allowNegative]="false" [currencyCode]="' '" [value]="incomeAmount[i]" (ngModelChange)="updateIncome()" nz-input placeholder="Enter income" /></td>
                        <td>
                          <button nz-tooltip nzTooltipTitle="Delete" class="actionDelete" (click)="removeQuantity(i); $event.preventDefault();" nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                        </td> 
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="text-align: right;" colspan="6"><b>TOTAL FAMILY INCOME:</b></td>
                        <td style="text-align: right;"><b>&#8369; {{totalIncome | number: '1.2-2'}}</b></td>
                        <td></td>
                      </tr>
                    </tfoot>
                    <ng-template #BrowsePerson>
                      <div style="text-align-last: end;">
                        <button (click)="openBrowseDrawer(); $event.preventDefault();" nz-button nzType="default">
                          <i nz-icon nzType="user-add" nzTheme="outline"></i>
                          Browse Person
                        </button>
                      </div>
                    </ng-template>
                    
                  </nz-table>

                </div>
              </div>

            </nz-card>

          </nz-tab>

        </nz-tabset>

      </form>
    </div>
  </nz-spin>
</nz-spin>
<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Person Details
</ng-template>
<ng-template #FamilyMembers>
  <i nz-icon nzType="snippets" nzTheme="outline"></i>
  Family Members
</ng-template>