<div nz-row class="sample">
  <div nz-col nzSpan="4">
  </div>
  <div nz-col nzSpan="3">
    <img [src]="firstlogo" alt="Header First Logo" class="headerLogo">
  </div>
  <div nz-col nzSpan="10" class="headerMiddle">
    <h3>{{data?.header1}}</h3>
    <h4>{{data?.header2}}</h4>
    <h3>{{data?.header3}}</h3>
  </div>
  <div nz-col nzSpan="3" style="align-items: center; align-content: center;">
    <img  *ngIf="secondlogo != 'data:image/png;base64,' "  [src]="secondlogo" alt="Header Second Logo" class="headerLogo">
  </div>
  
  <div nz-col nzSpan="4">
  </div>
</div>