.headerMiddle {
  text-align: center;
  position:relative;
  display: block;
  margin: auto;
}

.headerLogo {
  height: auto;
  position:relative;
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
h3, h4{
  margin-bottom: 0;
}
