
<nz-spin [nzSpinning]="loading">
  <div style="height: 100%;">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
      <nz-anchor [nzShowInkInFixed]="false">
        <nz-page-header>
          <nz-page-header-title>Rental Application</nz-page-header-title>
          <nz-page-header-extra>
           
            <!-- <button class="button-post" [disabled]="!param || recordStatus == 'Posted'" nzType="primary" nz-button (click)="$event.preventDefault()" >
              <i nz-icon nzType="check" nzTheme="outline"></i>
              Approve
            </button> -->
            <button nz-button (click)="cancel($event);" nzType="primary" nzDanger>
              <i nz-icon nzType="close"></i>
              Cancel            </button>
            <button  nz-button nzType="primary" [nzLoading]="loading" class="button-form" [disabled]="!validateForm.valid || recordStatus == 'Posted' ">
              <i nz-icon nzType="save"></i>
              {{buttonTitle}}
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </nz-anchor>

      <nz-card  nzType="inner" nzBorderless >
        <div nz-row [nzGutter]="32">
          <div nz-col nzSpan="11">

            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Application Date</nz-form-label>
              <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                <nz-date-picker [nzFormat]="'MM/dd/yyyy'" formControlName="application_date" nz-input ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="12"  nzRequired>Application Type</nz-form-label>
                <nz-form-control  [nzSm]="16" [nzXs]="24" >
                  <nz-select
                    formControlName="application_type_id"
                    nzPlaceHolder="Select Tenant Type"
                    [ngModel]="defaultType"
                    (ngModelChange)="selectType($event)">
                  <nz-option *ngFor="let list of applicationTypeList" nzValue="{{list.application_type_id}}" nzLabel="{{list.name}}" >
                  </nz-option>
                  </nz-select>
                 </nz-form-control>
              </nz-form-item>
              
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired>Applicant</nz-form-label>
                <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                  <nz-input-group nzSearch  [nzAddOnAfter]="browseButton">
                    <input type="text" [readonly]="true" nz-input formControlName="applicant_name" style="text-transform: uppercase;" placeholder=""  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Occupation</nz-form-label>
                <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                  <nz-input-group>
                    <input type="text" nz-input formControlName="occupation_a" placeholder="e.g. Teacher"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired>Nature of Business</nz-form-label>
                <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                  <nz-input-group>
                    <input type="text" nz-input formControlName="nature_of_business" placeholder="e.g. Juan Meat Shop"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>


              
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Address</nz-form-label>
                <nz-form-control  [nzSm]="16" [nzXs]="24"  >
                  <nz-input-group>
                    <textarea type="text" nz-input formControlName="address" placeholder="e.g. Brgy. Aurora, Prosperidad, Agusan del Sur"></textarea>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="2"></div>
            <div nz-col nzSpan="11">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Spouse</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                  <nz-input-group>
                    <input type="text" nz-input formControlName="spouse" placeholder=""/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Occupation</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                  <nz-input-group>
                    <input type="text" nz-input formControlName="occupation_b" placeholder="e.g. Teacher"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Type of Building</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                  <nz-input-group>
                    <input type="text" nz-input formControlName="type_of_building"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired>Expected Actual Capital</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24"  >
                  <nz-input-group>
                    <input type="text" nz-input style="text-align: right;" formControlName="expected_actual_capital" placeholder="e.g. 10,000.00" [currencyCode]="' '" mvndrMatCurrencyFormat
                    [allowNegative]="false" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            </div>
         
      </nz-card>
      <nz-page-header style="padding-bottom: 0px !important; border-bottom: 0 !important;">
        <nz-page-header-title>OCCUPANT'S POLICIES:</nz-page-header-title>
      </nz-page-header>
      <div nz-row >
        <div nz-col nzSpan="12" style="padding-left:50px;">
          <nz-table class="req-table" style="table-layout: fixed;" formArrayName="reqs" [nzData]="['']" #basicTable nzBordered="false" [nzShowPagination]="false" nzSize="small">
            <thead>
              <tr>
                <th>No.</th>
                <th>Policy</th>
                <th>Done</th>
                <th>Date Submitted</th>
                <th>Attachments</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of reqDtlArray().controls; let i = index" [formGroupName]="i">
                <td style="width: 2%">
                  {{obj.value.order}}.
                </td>

                <td style="width:45%">
                  {{obj.value.name}}
                </td>
                
                <td  style="width:2%;text-align: center;">
                  <nz-form-control  >
                    <label *ngIf="obj.value.attachment == 't'" nz-checkbox formControlName="checked" (ngModelChange)="checkChange($event, i)"></label>
                    </nz-form-control>
                </td> 

                <td  style="width:15%">
                  <nz-form-control >
                    <nz-date-picker *ngIf="obj.value.attachment == 't'" [ngModel]="date[i]" formControlName="date_submitted" nz-input ></nz-date-picker>
                    </nz-form-control>
                </td> 

                <td style="width:20%">
                  <nz-form-control [nzSm]="24" >
                    <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzShowUploadList]="false" (nzChange)="handleChange($event, i)" >
                   
                      <nz-input-group *ngIf="obj.value.attachment == 't'" nzSearch  [nzAddOnAfter]="attachBtn">
                        <input  type="text" [readonly]="true" nz-input formControlName="file" placeholder=""  />
                      </nz-input-group>
                    </nz-upload>
                    
                    </nz-form-control>
                </td>
              </tr>
            </tbody>
          </nz-table>
        
        </div>
      </div>

      </form>
   </div>
</nz-spin>
<ng-template #browseButton>
  <button nz-button nzType="primary" nzSearch (click)="openPersonBrowse();$event.preventDefault()">Browse</button>
</ng-template>

<ng-template #attachBtn>
  <button nz-button nzType="primary" (click)="$event.preventDefault()"><i nz-icon nzType="paper-clip" nzTheme="outline"></i></button>
</ng-template>
