<nz-spin [nzSpinning]="loading">
  <nz-table #basicTable nzTableLayout="fixed" [nzData]="listOfData" nzBordered [nzTitle]="dateFilter" nzSize="small">
    <thead>
      <tr *ngIf="!isBilling">
        <th>Property</th>
        <th>Area (sqm)</th>
        <th>Initial Amount</th>
        <th style="width: 7%;">Action</th>
      </tr>
      <tr *ngIf="isBilling">
        <th>Property</th>
        <th>Tenant</th>
        <th>Rental Amount</th>
        <th style="width: 7%;">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <ng-container *ngFor="let data of basicTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td
            style="text-transform: uppercase;"
            [nzIndentSize]="item.level! * 20"
            [nzShowExpand]="false"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
          >
            {{ item.name }}
          </td>
          <ng-container *ngIf="!isBilling">
            <td>{{ item.area }}</td>
            <td>{{ item.amt | number: '1.2-2' }}</td>
          </ng-container>
  
          <ng-container *ngIf="isBilling">
            <td>{{ item.tenant }}</td>
            <td>{{ item.amt | number: '1.2-2' }}</td>
          </ng-container>
  
        <td style="width: 100%;text-align: center;">
          <button *ngIf="item.amt" [disabled]="control.edit" class="actionEdit" nz-button nzPrimary nzType="primary" (click)="select(item)"><i nz-icon nzType="form" nzTheme="outline"></i>Select</button>
        
        </td>
      </tr>
        </ng-container>
      </ng-container>
    </tbody>
  
    <ng-template #dateFilter>
      <nz-input-group nzAllowClear style="width: 50%;"  nzSize="large" [nzSuffix]="suffixIconSearch">
        <input 
        type="text" 
        [(ngModel)]="searchModel" 
        (ngModelChange)="beginSearch($event)" 
        nz-input 
        placeholder="Search Property/Unit/Stall/Lot"
        [nzAutocomplete]="auto" />
        <!-- <nz-autocomplete [nzDataSource]="filteredOptions" nzBackfill="true" #auto (click)="triggerSearch($event)"></nz-autocomplete> -->
        <nz-autocomplete #auto>
          <nz-auto-option (click)="triggerSearch(option)" *ngFor="let option of filteredOptions" [nzValue]="option">{{ option }}</nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i *ngIf="searchModel == ''" nz-icon nzType="search"></i>
        <a *ngIf="searchModel != ''" (click)="clearSearch()"><i nz-icon nzType="close"></i></a>
      </ng-template>
      
      <label *ngIf="!isBilling" nz-checkbox  style="padding-left: 2%;" [(ngModel)]="statusSwitch" (ngModelChange)="statusFilter()">Show Active Only</label>
    </ng-template>
  </nz-table>
</nz-spin>


