<nz-header>
  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{ title }}</nz-page-header-title>
    <nz-page-header-subtitle>{{subtitle}}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <!-- <nz-switch [(ngModel)]="theme" nzCheckedChildren="Dark Theme" nzUnCheckedChildren="Light Theme">
        <span checked>Dark</span>
        <span unchecked>Light</span>
      </nz-switch> -->
      <!-- <button nz-button nzType="text"><i nz-icon nzType="message" nzTheme="outline"></i></button>
      <button nz-button nzType="text"><i nz-icon nzType="bell" nzTheme="outline"></i></button> -->
      <!-- <button nz-button nzType="text" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="switch"><i nz-icon nzType="retweet" nzTheme="outline"></i></button> -->
      <button nz-button nzType="text" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="settings"><i nz-icon nzType="setting" nzTheme="outline"></i></button>

      <nz-dropdown-menu #switch="nzDropdownMenu">
        <nz-card style="width:300px;" nzTitle="Switch Role">
          <nz-radio-group>
            <label nz-radio nzValue="A">Cashier</label>
          </nz-radio-group>
        </nz-card>
      </nz-dropdown-menu>

      <nz-dropdown-menu #settings="nzDropdownMenu">
        <nz-card [nzTitle]="setting">
          <p>
            <nz-space [nzSize]="12">
              <nz-avatar style="background-color:#87d068;" [nzSize]="'small'" [nzShape]="'square'" nzIcon="user"></nz-avatar>
              <h4 class="name">{{userValue.userFull_Name}}</h4>
            </nz-space>
          </p>
          <p>Username : {{userValue.userName_User}}</p>
          <p>Theme :
          <nz-switch [(ngModel)]="theme" (ngModelChange)="changeTheme($event)" nzCheckedChildren="Dark Theme" nzUnCheckedChildren="Light Theme" style="padding-left: 5px;">
            <span checked>Dark</span>
            <span unchecked>Light</span>
          </nz-switch>
        </p>
        <button class="changepass" (click)="changepassAccount()" nz-button nzType="default"><span nz-icon nzType="unlock" nzTheme="outline"></span> CHANGE PASSWORD</button>
        <button class="logout" (click)="logoutAccount()" nz-button nzType="default"><i nz-icon nzType="logout" nzTheme="outline"></i> LOGOUT</button>
        </nz-card>
      </nz-dropdown-menu>

      <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="right"
      [nzTitle]="setting"
      (nzOnClose)="close()"
    >

      <ng-template #setting>
        <i nz-icon nzType="setting" nzTheme="outline" style="padding-right: 5px;"></i>
        Settings
      </ng-template>

    </nz-drawer>
    
    <ng-template #ModalTitle>
      <span nz-icon nzType="unlock" nzTheme="outline"></span> Change Password
    </ng-template>

    <form nz-form [formGroup]="validateForm">
      <nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="ModalTitle"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
      >
        <p *nzModalContent>
          <nz-alert style="padding-bottom: 10px;" *ngIf="newPass != confirmPass && confirmPass" nzType="error" nzMessage="Password does not match!"></nz-alert>
          <nz-form-item>
            <nz-form-label [nzSpan]="7">New Password</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input [ngModel]="passModel" (click)="$event.preventDefault()" nz-input type="password" formControlName="password" (ngModelChange)="inputNewPassword($event)" placeholder="input your password"  />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7">Confirm Password</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input [ngModel]="confirmPassModel" type="password" formControlName="confirm" (ngModelChange)="inputConfirm($event)" placeholder="confirm your password" />
            </nz-form-control>
          </nz-form-item>
        </p>
        
      </nz-modal>
    </form>
    

    </nz-page-header-extra>
  </nz-page-header>
</nz-header>


