<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> DAFAC Form</h3>
  <span style="font-weight: 500;">Pages : </span>
  <nz-radio-group style="padding-right: 10px;" [(ngModel)]="radioValue" (ngModelChange)="selectedPages($event)">
    <label nz-radio-button nzValue="front">Front Page</label>
    <label nz-radio-button nzValue="back">Back Page</label>
  </nz-radio-group>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button (click)="convertToPDF();" nzType="default" style="margin-right: 10px;">
    <span nz-icon nzType="file-pdf" nzTheme="outline" style="color: red;"></span>
    EXPORT TO PDF
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div *ngIf="radioValue == 'front'">
    <div class="printLayout" id="report-section">
      <div id="content" #content>
        <div class="printContent">
          <div class="content">
            <div class="headerMarginTop">
              <app-header-print></app-header-print>
            <div style="text-align: center;"><h2 style="color: #0F4252;">DISASTER ASSISTANCE FAMILY ACCESS CARD (DAFAC)</h2></div>
            </div>
            <div class="panel">LOCATION OF THE AFFECTED FAMILY</div>
            <nz-card>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="REGION" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.reg_name === '' ? '&nbsp;' : data?.reg_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #REGION><span class="dafacLabel">1. REGION</span></ng-template>
                
                <nz-descriptions-item [nzTitle]="BARANGAY" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.brgy_name === '' ? '&nbsp;' : data?.brgy_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #BARANGAY><span class="dafacLabel2">4. BARANGAY</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="PROVINCE" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.province_name === '' ? '&nbsp;' : data?.province_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #PROVINCE><span class="dafacLabel">2. PROVINCE</span></ng-template>
                <nz-descriptions-item [nzTitle]="CITYMUNICIPALITY" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.city_mun_name === '' ? '&nbsp;' : data?.city_mun_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #CITYMUNICIPALITY><span class="dafacLabel2">5. CITY/MUNICIPALITY</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="DISTRICT" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.district === '' ? '&nbsp;' : data?.district}}
                  </div>
                </nz-descriptions-item>
                <ng-template #DISTRICT><span class="dafacLabel">3. DISTRICT</span></ng-template>
                <nz-descriptions-item [nzTitle]="EVACUATION" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.venue === '' ? '&nbsp;' : data?.venue}}
                  </div>
                </nz-descriptions-item>
                <ng-template #EVACUATION><span class="dafacLabel2">6. EVACUATION CENTER/ EVACUATION SITE</span></ng-template>
              </nz-descriptions>
            </nz-card>
    
            <div class="panel">HEAD OF THE FAMILY</div>
            <nz-card>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="LASTNAME" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.last_name === '' ? '&nbsp;' : data?.last_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #LASTNAME><span class="dafacLabel">7. LAST NAME</span></ng-template>
                <nz-descriptions-item [nzTitle]="SEX" [nzSpan]="1.5">
                  <label [(ngModel)]="checkedMale" nz-checkbox style="color: #0F4252; font-weight: bold;">MALE</label>
                  <label [(ngModel)]="checkedFemale" nz-checkbox style="color: #0F4252; font-weight: bold;">FEMALE</label>
                </nz-descriptions-item>
                <ng-template #SEX><span class="dafacLabel2">14. SEX</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="FIRSTNAME" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.first_name === '' ? '&nbsp;' : data?.first_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #FIRSTNAME><span class="dafacLabel">8. FIRST NAME</span></ng-template>
                <nz-descriptions-item [nzTitle]="MOTHERSMAIDENNAME" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.mothers_maiden_name === '' ? '&nbsp;' : data?.mothers_maiden_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #MOTHERSMAIDENNAME><span class="dafacLabel2">15. MOTHER'S MAIDEN NAME</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="MIDDLENAME" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.middle_name === '' || data?.middle_name === ' ' ? '&nbsp;' : data?.middle_name}}
                  </div>
                </nz-descriptions-item>
                <ng-template #MIDDLENAME><span class="dafacLabel">9. MIDDLE NAME</span></ng-template>
                <nz-descriptions-item [nzTitle]="OCCUPATION" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.occupation === '' ? '&nbsp;' : data?.occupation}}
                  </div>
                </nz-descriptions-item>
                <ng-template #OCCUPATION><span class="dafacLabel2">16. OCCUPATION</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="NAMEEXT" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.name_extension === '' || data?.name_extension === null ? '&nbsp;' : data?.name_extension}}
                  </div>
                </nz-descriptions-item>
                <ng-template #NAMEEXT><span class="dafacLabel">10. NAME EXT.</span></ng-template>
                <nz-descriptions-item [nzTitle]="MONTHLYFAMILYNETINCOME" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.monthly_family_income === '' ? '&nbsp;' : data?.monthly_family_income | number: '1.2-2'}}
                  </div>
                </nz-descriptions-item>
                <ng-template #MONTHLYFAMILYNETINCOME><span class="dafacLabel2">17. MONTHLY FAMILY NET INCOME</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="BIRTHDATE" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.birth_date === '' ? '&nbsp;' : data?.birth_date | date: 'mediumDate'}}
                  </div>
                </nz-descriptions-item>
                <ng-template #BIRTHDATE><span class="dafacLabel">11. BIRTHDATE</span></ng-template>
                <nz-descriptions-item [nzTitle]="IDCARDPRESENTED" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.id_card_presented === '' ? '&nbsp;' : data?.id_card_presented}}
                  </div>
                </nz-descriptions-item>
                <ng-template #IDCARDPRESENTED><span class="dafacLabel2">18. ID CARD PRESENTED</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="AGE" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.age === '' ? '&nbsp;' : data?.age}}
                  </div>
                </nz-descriptions-item>
                <ng-template #AGE><span class="dafacLabel">12. AGE</span></ng-template>
                <nz-descriptions-item [nzTitle]="IDCARDNUMBER" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.id_card_number === '' ? '&nbsp;' : data?.id_card_number}}
                  </div>
                </nz-descriptions-item>
                <ng-template #IDCARDNUMBER><span class="dafacLabel2">19. ID CARD NUMBER</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="BIRTHPLACE" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.place_of_birth === '' || data?.place_of_birth === null ? '&nbsp;' : data?.place_of_birth}}
                  </div>
                </nz-descriptions-item>
                <ng-template #BIRTHPLACE><span class="dafacLabel">13. BIRTHPLACE</span></ng-template>
                <nz-descriptions-item [nzTitle]="CONTACTNUMBER" [nzSpan]="1.5">
                  <div class="border">
                    {{data?.primary_contact === '' ? '&nbsp;' : data?.primary_contact}}
                  </div>
                </nz-descriptions-item>
                <ng-template #CONTACTNUMBER><span class="dafacLabel2">20. CONTACT NUMBER</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="PERMANENTADDRESS">
                  <div style="width: 98%; border: 1.5px solid #4b48485d; padding: 2px;">
                    <span>{{data?.brgy_name}} {{data?.street}} , {{data?.city_mun_name}}, {{data?.province_name}}</span>
                  </div>
                </nz-descriptions-item>
                <ng-template #PERMANENTADDRESS><span class="dafacLabel">21. PERMANENT ADDRESS</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="OTHERS">
                  <label [(ngModel)]="checkedFourps" nz-checkbox style="color: #0F4252; font-weight: bold;">4Ps Beneficiary</label>
                  <label [(ngModel)]="checkedIPs" nz-checkbox style="color: #0F4252; font-weight: bold;">IP- Type of Ethnicity</label>
                  <div style="border-bottom: 1px solid #4b48485d; width: 200px;">
                    {{data?.type_of_ethnicity === '' ? '&nbsp;' : data?.type_of_ethnicity}}
                  </div>
                </nz-descriptions-item>
                <ng-template #OTHERS><span class="dafacLabel">22. OTHERS</span></ng-template>
              </nz-descriptions>
              <nz-descriptions [nzColon]="false">
                <nz-descriptions-item [nzTitle]="FAMILYINFORMATION">
                </nz-descriptions-item>
                <ng-template #FAMILYINFORMATION><span style="color: #0F4252; font-weight: bold;">23. FAMILY INFORMATION</span></ng-template>
              </nz-descriptions>
    
              <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
                <thead>
                  <tr class="content-table-head">
                    <th class="tableLabel">FAMILY MEMBERS</th>
                    <th class="tableLabel">RELATION TO FAMILY HEAD</th>
                    <th class="tableLabel">AGE</th>
                    <th class="tableLabel">SEX</th>
                    <th class="tableLabel">EDUCATIONAL ATTAINMENT</th>
                    <th class="tableLabel">OCCUPATIONAL SKILLS</th>
                    <th class="tableLabel">REMARKS</th>
                  </tr>
                </thead>
                <tbody class="content-table-body">
                  <ng-container *ngFor="let data of familyInformation">
                    <tr>
                      <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
                      <td>{{data.relation == null ? '&nbsp;' : data.relation}}</td>
                      <td>{{data.age}}</td>
                      <td>{{data.gender_name}}</td>
                      <td>{{data.educational_name}}</td>
                      <td>{{data.occupational_skills}}</td>
                      <td>{{data.remarks}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </nz-table>
    
              <div nz-row class="row-24">
                <div nz-col [nzSpan]="7">
                  <span style="color: #0F4252; font-weight: bold;" class="No-twenty-four">24. NO. OF VULNERABLE FAMILY MEMBERS:</span>
                </div>
                <div nz-col [nzSpan]="17">
                  <nz-descriptions [nzColon]="false">
                    <nz-descriptions-item [nzTitle]="OLDERNO" [nzSpan]="1">
                    </nz-descriptions-item>
                    <ng-template #OLDERNO>
                      <span style="color: #0F4252; font-weight: bold;" class="No-twenty-four">
                        No. of Elder Persons
                      </span>
                      <span class="border" id="nep">
                        {{data?.no_of_older === '' ? '&nbsp;' : data?.no_of_older}}
                      </span>
                    </ng-template>
    
                    <nz-descriptions-item [nzTitle]="PREGNANTNO" [nzSpan]="1">
                    </nz-descriptions-item>
                    <ng-template #PREGNANTNO>
                      <span style="color: #0F4252; font-weight: bold;" class="No-twenty-four">
                        No. of Pregnant & Lactating Mothers
                      </span>
                      <span class="border">
                        {{data?.no_of_pregnant_or_lactating === '' ? '&nbsp;' : data?.no_of_pregnant_or_lactating}}
                      </span>
                    </ng-template>
    
                    <nz-descriptions-item [nzTitle]="PWEDSNO" [nzSpan]="1">
                    </nz-descriptions-item>
                    <ng-template #PWEDSNO>
                      <span style="color: #0F4252; font-weight: bold;" class="No-twenty-four">
                        No. of PWDS & with Medical Conditions
                      </span>
                      <span class="border">
                        {{data?.no_of_pwds_and_conditions === '' ? '&nbsp;' : data?.no_of_pwds_and_conditions}}
                      </span>
                    </ng-template>
                  </nz-descriptions>
                </div>
              </div>
    
              <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <div class="panelBottom">25. HOUSE OWNERSHIP</div>
                  <div style="border: 1px solid #5B0B32; text-align: center; padding: 5px;">
                    <label [(ngModel)]="checkedOwner" nz-checkbox style="color: #0F4252; font-weight: 500;">OWNER</label>
                    <label [(ngModel)]="checkedRenter" nz-checkbox style="color: #0F4252; font-weight: 500;">RENTER</label>
                    <label [(ngModel)]="checkedSharer" nz-checkbox style="color: #0F4252; font-weight: 500;">SHARER</label>
                  </div>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="panelBottom">26. HOUSING CONDITIONING</div>
                  <div style="border: 1px solid #5B0B32; text-align: center; padding: 5px;">
                    <label [(ngModel)]="checkedPartiallyDamaged" nz-checkbox style="color: #0F4252; font-weight: 500;">PARTIALLY DAMAGED</label>
                    <label [(ngModel)]="checkedTotallyDamaged" nz-checkbox style="color: #0F4252; font-weight: 500;">TOTALLY DAMAGED</label>
                  </div>
                </div>
              </div>
    
            </nz-card>
    
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div *ngIf="radioValue == 'back'">
    <div class="printLayout" id="report-section">
      <div id="content" #content>
        <div class="printContent">
          <div class="contentBack">
            <div nz-row>
              <div nz-col [nzSpan]="24">
                <div class="panelBottom" style="border: 1px solid gray;">27. FAMILY ASSISTANCE RECORD</div>
  
                <nz-table #basicTable [nzData]="['']" [nzFrontPagination]="false" nzBordered nzSize="small">
                  <thead>
                    <tr>
                      <th rowspan="2" style="background: #E68AA1; border: 1px solid #0F4252; border-right: none;">DATE</th>
                      <th rowspan="2" style="background: #E68AA1; border: 1px solid #0F4252; border-right: none;">NAME OF RECEIVING FAMILY MEMBER</th>
                      <th colspan="4" style="text-align: left; background: #E68AA1; border: 1px solid #0F4252; border-bottom: none; border-right: none;">ASSISTANCE PROVIDED DURING: 
                        sample data
                      </th>
                      <th rowspan="2" style="background: #E68AA1; border: 1px solid #0F4252;">RECIPIENT'S SIGNATURE/THUMBMARK</th>
                    </tr>
                    <tr>
                      <th rowspan="1" style="background: #E68AA1; border: 1px solid #0F4252; border-right: none;">KIND/TYPE</th>
                      <th rowspan="1" style="background: #E68AA1; border: 1px solid #0F4252; border-right: none;">QTY.</th>
                      <th rowspan="1" style="background: #E68AA1; border: 1px solid #0F4252; border-right: none;">COST</th>
                      <th rowspan="1" style="background: #E68AA1; border: 1px solid #0F4252; border-right: none;">PROVIDER</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of familyAssistance">
                      <tr>
                        <td style="height: 70px !important;">{{data?.date | date:'mediumDate'}}</td>
                        <td style="height: 70px !important;">{{data?.prefix}} {{data?.first_name}} {{data?.middle_name}} {{data?.last_name}} {{data?.suffix}}</td>
                        <td style="height: 70px !important;">{{data?.kind_type}}</td>
                        <td style="height: 70px !important;">{{data?.qty}}</td>
                        <td style="height: 70px !important;">{{data?.cost}}</td>
                        <td style="height: 70px !important;">{{data?.provider}}</td>
                        <td style="height: 70px !important;"></td>
                        <!-- <td>{{data.application_date | date:'mediumDate'}}</td>
                        <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
                        <td>{{data.brgy_name}} {{data.street}} , {{data.city_mun_name}}, {{data.province_name}}</td>
                        <td>{{data.member_count}}</td> -->
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
  
                <div nz-row style="margin-top: 20px;">
                  <div nz-col [nzSpan]="5">
                    <div style="width: 100%; height: 150px; border: 1px solid gray;">
                      
                    </div>
                    <div style="width: 100%; border: 1px solid gray; text-align: center; font-weight: bold;">
                      RIGHT THUMBMARK
                    </div>
                  </div>
                  <div nz-col [nzSpan]="19" style="margin-top: 40px; padding-left: 10px; padding-right: 10px;">
                    <div nz-row [nzGutter]="24">
                      <div nz-col [nzSpan]="12" style="text-align: center;">
                        <span>&nbsp;</span>
                        <div class="signatureLabel">
                          Signature/Thumbmark of Family Head
                        </div>
                      </div>
                      <div nz-col [nzSpan]="12" style="text-align: center;">
                        <span>&nbsp;</span>
                        <div class="signatureLabel">
                          Name/Signature of Brgy. Captain
                        </div>
                      </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                      <div nz-col [nzSpan]="12" style="text-align: center;">
                        <span>&nbsp;</span>
                        <div class="signatureLabel">
                          Date Registered
                        </div>
                      </div>
                      <div nz-col [nzSpan]="12" style="text-align: center;">
                        <span>&nbsp;</span>
                        <div class="signatureLabel">
                          Name/Signature of LSWDO
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="dataPrivacy">
                  <div style="text-align: center; font-weight: bold;">28. DATA PRIVACY DECLARATION</div>
                  <div style="margin: 15px; margin-top: -4px;">
                    <p style="font-style: italic;">
                      All data and Information indicated herein shall be used for Identification purpose for the implementation of disaster risk reduction and
                      management (DRRM) and adaptive and shock responsive social protection (ASRSP) programs, projects and activities and it's disclosure shall be in compliance
                      to Republic Act 10173 (Data Privacy Act of 2012)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</nz-spin>