<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
<nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
<div style="height: 100%;">
<form nz-form [formGroup]="abstractForm" (ngSubmit)="showConfirm(abstractForm.value);$event.preventDefault()">
<nz-anchor [nzShowInkInFixed]="false" >
<nz-page-header>
<nz-page-header-title>Medical Abstract</nz-page-header-title>
<nz-page-header-extra>
<button nz-button nzType="primary" (click)="backRoute(); $event.preventDefault();" nzDanger>
<i nz-icon nzType="close"></i>
Cancel
</button>
<button nz-button nzType="primary" [disabled]="chk_array">
<i nz-icon nzType="save" ></i>
{{buttonTitle}}
</button>

</nz-page-header-extra>
</nz-page-header>
</nz-anchor>

<nz-tabset nzType="card" [nzTabBarExtraContent]="extraTemplate"(nzSelectChange)="showExtraTab($event)">
<nz-tab nzTitle="Person Details Form" *ngIf="!isEdit">
<nz-card nzType="inner" nzTitle="Applicant's Information">

<div nz-row [nzGutter]="24">
<!-- <div  nz-col [nzSpan]="6">

  <nz-input-group>
    <p class="label">Business/Employer Name :</p>
    <nz-form-item>
          <nz-form-control nzErrorTip="Please Enter Business or Employer's Name!" nzExtra="(Business/Employer Name)">
            <nz-input-group>

              <input formControlName="business_emp_name" nz-input placeholder="Business/Employer Name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
  </nz-input-group> -->
  <!-- <nz-input-group>
    <p class="label">Trade Name :</p>
    <nz-form-item>
          <nz-form-control nzErrorTip="Please Enter !" nzExtra="(Trade Name)">
            <nz-input-group>
              <input formControlName="trade_name" nz-input placeholder="Trade Name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
  </nz-input-group> -->
<!--
  <nz-input-group>
    <p class="label">Business/Employer Address :</p>
    <nz-form-item>
          <nz-form-control nzErrorTip="Please Enter !" nzExtra="(Business/Employer Address)">
            <nz-input-group>
              <input formControlName="bus_emp_address" nz-input placeholder="Business/Employer Address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
  </nz-input-group>

</div>-->

<div nz-col [nzSpan]="24">
<nz-input-group>
  <p class="label">Full Name :</p>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="2">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input prefix!" nzExtra="(Prefix)">
          <nz-input-group>
            <input formControlName="prefix" nz-input placeholder="Prefix" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your firstname!" nzExtra="(First Name)">
          <nz-input-group>
            <input formControlName="first_name" nz-input placeholder="First Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your middle name!" nzExtra="(Middle Name)">
          <nz-input-group>
            <input formControlName="middle_name" nz-input placeholder="Middle Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your last name!" nzExtra="(Last Name)">
          <nz-input-group>
            <input formControlName="last_name" nz-input placeholder="Last Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="3">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input suffix!" nzExtra="(Suffix)">
          <nz-input-group>
            <input formControlName="suffix" nz-input placeholder="Suffix" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-input-group>

<nz-input-group>
  <p class="label">Address :</p>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select province!" nzExtra="(Province)">
          <nz-input-group>
            <nz-select style="width: 100%;" formControlName="province_id" nzAllowClear nzPlaceHolder="Select a province">
              <nz-option *ngFor="let list of provinceDropdown" nzLabel="{{list.province_name}}" nzValue="{{list.province_id}}"></nz-option>
            </nz-select>
          </nz-input-group>

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select city/municipality!" nzExtra="(City/Municipality)">
          <nz-input-group>
            <nz-select style="width: 100%;" (ngModelChange)="cityMunSelect($event)" formControlName="citmun_id" nzPlaceHolder="Select a city/municipality">
              <nz-option *ngFor="let list of citymunDropdown" nzLabel="{{list.city_mun_name}}" nzValue="{{list.city_mun_id}}"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select barangay!" nzExtra="(Barangay)">
          <nz-input-group>
            <nz-select style="width: 100%;" formControlName="barangay_id" nzPlaceHolder="Select a barangay">
              <ng-container *ngFor="let list of barangayDropdown">
              <nz-option type="number" nzLabel="{{list.brgy_name}}" nzValue="{{list.brgy_id}}"
              >
              </nz-option>

            </ng-container>
            </nz-select>

          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input street!" nzExtra="(Street)">
          <nz-input-group>
            <input formControlName="street" nz-input placeholder="Street" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-input-group>

</div>
</div>

<div nz-row [nzGutter]="24">
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="5">Date of Birth:</nz-form-label>
  <nz-form-control nzErrorTip="Please input date!">
    <nz-input-group>
      <nz-date-picker style="width: 100%;" formControlName="birth_date" [(ngModel)]="date"></nz-date-picker>
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="5">Citizenship</nz-form-label>
  <nz-form-control nzErrorTip="Please input citizenship!">
    <nz-input-group>
      <input formControlName="citizenship" nz-input placeholder="Citizenship" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="4">
<nz-form-item>
  <nz-form-label>Height(cm)</nz-form-label>
  <nz-form-control nzErrorTip="Please input height!">
    <nz-input-group>
      <input type="number" formControlName="height" nz-input placeholder="Height" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="4">
<nz-form-item>
  <nz-form-label>Weight(cm)</nz-form-label>
  <nz-form-control nzErrorTip="Please input weight!">
    <nz-input-group>
      <input type="number" formControlName="weight" nz-input placeholder="Weight" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
</div>

<div nz-row [nzGutter]="24">
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="5">Gender</nz-form-label>
  <nz-form-control nzErrorTip="Please select gender!">
    <nz-input-group>
      <nz-select style="width: 100%;" formControlName="gender_id" nzPlaceHolder="Select a gender">
        <nz-option *ngFor="let list of genderDropdown" nzLabel="{{list.gender_name}}" nzValue="{{list.gender_id}}"></nz-option>
      </nz-select>
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="5">Birth Place</nz-form-label>
  <nz-form-control nzErrorTip="Please input birth place!">
    <nz-input-group>
      <input formControlName="place_of_birth" nz-input placeholder="Place of Birth" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="4">T.I.N</nz-form-label>
  <nz-form-control nzErrorTip="Please input tin!">
    <nz-input-group>
      <input formControlName="tin" nz-input placeholder="Tin" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
</div>

<div nz-row [nzGutter]="24">
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="5">Civil Status</nz-form-label>
  <nz-form-control nzErrorTip="Please select civil status!">
    <nz-input-group>
      <nz-select style="width: 100%;" formControlName="civil_status_id" nzPlaceHolder="Select a civil status">
        <nz-option *ngFor="let list of civilStatusDropdown" nzLabel="{{list.civil_status_name}}" nzValue="{{list.civil_status_id}}"></nz-option>
      </nz-select>
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="5">Profession</nz-form-label>
  <nz-form-control nzErrorTip="Please input profession!">
    <nz-input-group>
      <input formControlName="profession" nz-input placeholder="Profession" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
<div nz-col [nzSpan]="8">
<nz-form-item>
  <nz-form-label [nzSpan]="4">Religion</nz-form-label>
  <nz-form-control nzErrorTip="Please input religion!">
    <nz-input-group>
      <input formControlName="religion" nz-input placeholder="Religion" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
</div>
</div>

</nz-card>

<ng-container formGroupName="ma_requestor">
<nz-card>
<div nz-row [nzGutter]="24">
<nz-form-item nz-row >
  <nz-form-control [nzSpan]="32" [nzOffset]="4">
    <label nz-checkbox formControlName="agree" (ngModelChange)="addRequestor($event)">
      <span>
        The Applicant is the requestor
        <a></a>
      </span>
    </label>
  </nz-form-control>
</nz-form-item>

  <nz-form-label [nzSpan]="4">Requestor's Name</nz-form-label>
  <nz-form-item>
    <nz-form-control nzErrorTip="!">
      <nz-input-group>
        <input [readonly]="checked" formControlName="requestor_name" nz-input placeholder="Requestor's Name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label [nzSpan]="4">Remarks</nz-form-label>
  <nz-form-item>
    <nz-form-control nzErrorTip="!">
      <nz-input-group>
        <textarea formControlName="remarks" nz-input placeholder="Remarks"></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

</div>
</nz-card>
</ng-container>
</nz-tab>

<nz-tab nzTitle="Medical Details Form">
<nz-card nzType="inner" [nzTitle]="title" style="width: 100%;">
<div nz-row [nzGutter]="24">
<div nz-col [nzSpan]="24">
  <nz-steps  [nzCurrent]="selectedIndex">
    <nz-step nzTitle="Form 1" nzDescription="History of Present Illness"></nz-step>
    <nz-step nzTitle="Form 2" nzDescription="Physical Examinations"></nz-step>
    <nz-step nzTitle="From 3" nzDescription="Diagnosis"></nz-step>
    <nz-step nzTitle="From 4" nzDescription="Medications" ></nz-step>
    <nz-step nzTitle="From 5" nzDescription="Doctor-in-charge" ></nz-step>
  </nz-steps>
    <nz-tabset [(nzSelectedIndex)]="selectedIndex" >
        <nz-tab  *ngIf="selectedIndex == 0">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="16">
              <nz-divider nzText="HPI Details Preview"></nz-divider>
              <ng-container *ngIf="abstractForm.value.ma_hpi_data.length == 0">
                <nz-empty></nz-empty>
              </ng-container>
              <ng-container *ngIf="abstractForm.value.ma_hpi_data.length!= 0" >
                <ng-container *ngFor="let data_trans of abstractForm.value.ma_hpi_data; let en = index">
                  <nz-card nzTitle="History of Present Illness #{{en +1}}" *ngIf="data_trans != null" class="card-2" [nzBordered]="false">
                    <span nz-typography nzType="secondary">{{data_trans.ma_hpi_date | date:'mediumDate'}}</span><br>
                      {{data_trans.ma_hpi_details}}
                    <nz-divider [nzText]="text" nzOrientation="right">
                      <ng-template #text>
                        <button class="actionDelete" nz-button nzType="text" (click)="delete_hpi($event,en)"><i nz-icon nzType="delete" nzTheme="twotone"></i></button>

                      </ng-template>
                    </nz-divider>
                  </nz-card>
                <br>
                </ng-container>
              </ng-container>
            </div>


            <div nz-col class="gutter-row" [nzSpan]="8" class="card-1">
              <nz-divider [nzText]="hpi" nzOrientation="left">
                <ng-template #hpi>
                  <h2><b><i>HPI Form</i></b></h2>
                </ng-template>
              </nz-divider>
                <div class="inner-box">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please Add Details" >
                      <nz-input-group>
                        <nz-form-label>HPI Details</nz-form-label>
                        <textarea rows="10" formControlName="hpi_details" nz-input placeholder="Please type the HPI details here."
                        (keyup)="checkhpi($event)" nzRequired
                        ></textarea>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <br>
                <div class="inner-box">
                <div nz-col [nzSpan]="24">
                  <button nz-button nzType="primary" class="ccc" nzGhost (click)="addHpiRecord($event); $event.preventDefault()"
                  [disabled]="hpi_txt"
                  ><i nz-icon nzTheme="outline" ></i>Add New HPI Record</button>
              </div>
                </div>
              <br><br>
            </div>

          </div>

        </nz-tab>

        <nz-tab *ngIf="selectedIndex == 1">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="14">
              <nz-divider nzText="PE Preview"></nz-divider>
              <ng-container *ngIf="abstractForm.value.ma_pe_data.length == 0">
                <nz-empty></nz-empty>
              </ng-container>
              <ng-container *ngIf="abstractForm.value.ma_pe_data.length!= 0" >
                  <ng-container *ngFor="let pe_datas of abstractForm.value.ma_pe_data; let en = index">
                    <nz-card nzTitle="Physical Examimation #{{en +1}}"  *ngIf="pe_datas != null" class="card-1" [nzBordered]="false">
                      <span nz-typography nzType="secondary">{{pe_datas.ma_pe_lab_exam_name}}</span><br>
                      <span nz-typography nzType="secondary">Date : {{pe_datas.ma_pe_lab_exam_date | date:'mediumDate'}}</span><br>
                      <nz-descriptions>
                        <nz-descriptions-item nzTitle="Examiner's Name">
                          {{pe_datas.ma_pe_examiner_name}}
                        </nz-descriptions-item>
                      </nz-descriptions>
                      <nz-descriptions>
                        <nz-descriptions-item nzTitle="Result">
                          {{pe_datas.ma_pe_lab_exam_result}}
                        </nz-descriptions-item>
                      </nz-descriptions>
                      <nz-descriptions>
                        <nz-descriptions-item nzTitle="Cause">
                          {{pe_datas.ma_pe_lab_exam_cause}}
                        </nz-descriptions-item>
                      </nz-descriptions>
                      <span nz-typography nzType="secondary">Facility address: {{pe_datas.ma_pe_lab_exam_place}}</span><br>
                      <nz-divider [nzText]="text" nzOrientation="right">
                        <ng-template #text>
                          <button class="actionDelete" nz-button nzType="text" (click)="delete_dx($event,en)"><i nz-icon nzType="delete" nzTheme="twotone"></i></button>
                        </ng-template>
                      </nz-divider>
                    </nz-card>
                    <br>
                  </ng-container>
              </ng-container>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="10" class="card-1">
              <nz-divider [nzText]="dx" nzOrientation="left">
                <ng-template #dx>
                  <h2><b><i>PE Form</i></b></h2>
                </ng-template>
              </nz-divider>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <p class="label">Select Examination:</p>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please select Medical Exam Tittle!" >
                          <nz-input-group>
                            <nz-select style="width: 100%;" formControlName="med_exam_id" (ngModelChange)="loadMedExam($event)" nzPlaceHolder="Medical Exam Tittle">
                              <nz-option *ngFor="let lists of listOfMedExam" nzLabel="{{lists.lab_exam_type}}" nzValue="{{lists.lab_exam_id}}"></nz-option>
                            </nz-select>
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <p class="label">Examiner's Name</p>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please enter Examiner's Name (ex. Doc. Dela Cruz)!">
                        <nz-input-group>
                          <input formControlName="examiner_name" nz-input placeholder="Please Enter Examiner's Name (ex. Doc. Juan Dela Cruz)." (blur)="checkVal($event)" nzRequired />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="8">
                  <p class="label">Examination Date </p>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input date!">
                      <nz-input-group>
                        <nz-date-picker style="width: 100%;" formControlName="examination_date" [(ngModel)]="date"></nz-date-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="16">
                  <p class="label">Address</p>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input Address!">
                      <nz-input-group>
                        <input formControlName="examination_address" nz-input placeholder="Laboratory Address" (blur)="checkVal($event)" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="24">
                  <p class="label">Findings</p>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please Enter health examination findings!" >
                    <nz-input-group>
                      <!-- <input formControlName="examiner_finding" nz-input placeholder="Examiner" /> -->
                      <textarea rows="2" formControlName="examination_finding" nz-input placeholder="Please Enter health examination findings." (blur)="checkVal($event)"></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                </div>

                <div nz-col  [nzSpan]="24">
                  <p class="label">Cause of Illness </p>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please enter details about the cause of illness!" >
                    <nz-input-group>
                      <!-- <input formControlName="examiner_finding" nz-input placeholder="Examiner" /> -->
                      <textarea rows="2" formControlName="examination_cause" nz-input placeholder="Please enter details about the cause of illness." (keyup)="checkVal($event)"></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                </div>
                <div nz-col [nzSpan]="24">
                    <button nz-button nzType="primary" class="ccc" nzGhost (click)="addPeRecored($event); $event.preventDefault()"
                    [disabled]="chk_txt"
                    ><i nz-icon nzTheme="outline" ></i>Add New PE Record</button>
                </div>
                <br><br>
              </div>
            </div>
          </div>
        </nz-tab>

        <nz-tab *ngIf="selectedIndex == 2">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="16">
              <nz-divider nzText="Diagnosis Preview"></nz-divider>
              <ng-container *ngIf="abstractForm.value.ma_dx_data.length == 0">
                <nz-empty></nz-empty>
              </ng-container>
              <ng-container *ngIf="abstractForm.value.ma_dx_data.length!= 0" >
                  <ng-container *ngFor="let dx_datas of abstractForm.value.ma_dx_data; let en = index">

                    <nz-card nzTitle="Diagnosis #{{en +1}}"  *ngIf="dx_datas != null" class="card-1" [nzBordered]="false">
                      <span nz-typography nzType="secondary">{{dx_datas.ma_dx_date | date:'mediumDate'}}</span><br>
                    <nz-descriptions>
                      <nz-descriptions-item nzColon="false">
                        {{dx_datas.ma_dx_details}}
                      </nz-descriptions-item>

                    </nz-descriptions>
                    <nz-descriptions>

                      <nz-descriptions-item nzTitle="Treatment">
                        {{dx_datas.ma_dx_treatment === ""
                        || dx_datas.ma_dx_treatment === " "
                        || dx_datas.ma_dx_treatment == null
                        ? "n/a" : dx_datas.ma_dx_treatment}}
                      </nz-descriptions-item>
                    </nz-descriptions>
                    <nz-divider [nzText]="text" nzOrientation="right">
                      <ng-template #text>
                        <button class="actionDelete" nz-button nzType="text" (click)="delete_dx($event,en)"><i nz-icon nzType="delete" nzTheme="twotone"></i></button>

                      </ng-template>
                    </nz-divider>
                    </nz-card>
                    <br>
                  </ng-container>

              </ng-container>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8" class="card-1">
              <nz-divider [nzText]="dx" nzOrientation="left">
                <ng-template #dx>
                  <h2><b><i>Diagnosis Form</i></b></h2>
                </ng-template>
              </nz-divider>
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please Add Diagnosis" >
                    <nz-input-group>
                      <nz-form-label>Diagnosis Details</nz-form-label>
                      <textarea rows="6" formControlName="dx_details" nz-input placeholder="Please type the Diagnosis here." (keyup)="checkdx($event)"></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please Add treatment" >
                    <nz-input-group>
                      <nz-form-label>Treatment Details</nz-form-label>
                      <textarea rows="6" formControlName="dx_treatment" nz-input placeholder="Please type the treatment here."></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <br>
              <div class="inner-box">
                <button nz-button nzType="primary"
                (click)="addDxRecord($event); $event.preventDefault()"
                [disabled]="dx_txt"
                >
                Add New DX Record
              </button>
              </div>


            </div>
          </div>
        </nz-tab>

        <nz-tab *ngIf="selectedIndex == 3">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="14">
              <nz-divider nzText="Medications Preview"></nz-divider>
              <ng-container *ngIf="abstractForm.value.ma_meds_data.length == 0">
                <nz-empty></nz-empty>
              </ng-container>
              <ng-container *ngIf="abstractForm.value.ma_meds_data.length!= 0" >

                  <ng-container *ngFor="let meds_datas of abstractForm.value.ma_meds_data; let en = index">
                    <nz-card nzTitle="Medication #{{en +1}}"  *ngIf="meds_datas != null" class="card-1" [nzBordered]="false">

                    <nz-descriptions>
                      <nz-descriptions-item nzTitle="Medicine Type">
                        {{meds_datas.ma_meds_type}}
                      </nz-descriptions-item>
                    </nz-descriptions>
                    <nz-descriptions>
                      <nz-descriptions-item nzTitle="Medication Details">
                        {{meds_datas.ma_meds_details}}
                      </nz-descriptions-item>
                    </nz-descriptions>


                    <nz-divider [nzText]="text" nzOrientation="right">
                      <ng-template #text>
                        <button class="actionDelete" nz-button nzType="text" (click)="delete_meds($event,en)"><i nz-icon nzType="delete" nzTheme="twotone"></i></button>
                      </ng-template>
                    </nz-divider>
                    </nz-card>
                    <br>
                  </ng-container>

              </ng-container>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="10" class="card-1">
              <nz-divider [nzText]="dx" nzOrientation="left">
                <ng-template #dx>
                  <h2><b><i>Medication Form</i></b></h2>
                </ng-template>
              </nz-divider>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <p class="label">Medicine Type:</p>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please medicine type!" >
                          <nz-input-group>
                            <nz-select style="width: 100%;" formControlName="meds_type" (ngModelChange)="loadMedExam($event)" nzPlaceHolder="Medicine Type">
                              <nz-option *ngFor="let lists of listOfMedTypes" nzLabel="{{lists.meds_type}}" nzValue="{{lists.meds_type}}"></nz-option>
                            </nz-select>
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                </div>
                <div nz-col  [nzSpan]="24">
                  <p class="label">Medication Details </p>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please enter medication details!" >
                    <nz-input-group>
                      <!-- <input formControlName="examiner_finding" nz-input placeholder="Examiner" /> -->
                      <textarea rows="6" formControlName="meds_details" nz-input placeholder="Please enter the details of medication." (keyup)="checkmed($event)"></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                </div>

                <div nz-col [nzSpan]="24">
                    <button nz-button nzType="primary" class="ccc" nzGhost (click)="addMedsRecord($event); $event.preventDefault()"
                    [disabled]="med_txt"
                    ><i nz-icon nzTheme="outline" ></i>Add New Medication Record</button>
                </div>
                <br><br>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab *ngIf="selectedIndex == 4">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="20" class="card-1">
              <nz-divider [nzText]="dx" nzOrientation="left">
                <ng-template #dx>
                  <h2><b><i>Doctor-in-charge</i></b></h2>
                </ng-template>
              </nz-divider>

                <div nz-col [nzSpan]="24">

                    <ul nz-list [nzDataSource]="listofDoctors" nzBordered nzSize="large">
                      <nz-list-header></nz-list-header>
                      <li nz-list-item *ngFor="let item of listofDoctors" nzNoFlex>
                        <ul nz-list-item-actions id="{{item?.person_id}}">
                          <nz-list-item-action>
                            <button nz-button nzType="primary"
                            id="{{item?.person_id}}"
                            (click)="setDoctor(item);$event.preventDefault()"
                            *ngIf="abstractForm.value.doctorid_in_charge != item?.person_id"
                            >Select</button>
                            <button nz-button nzType="primary" nzDanger
                            id="{{item?.person_id}}"
                            *ngIf="abstractForm.value.doctorid_in_charge == item?.person_id"
                            (click)="remDoctor();$event.preventDefault()"
                            >Remove</button>
                          </nz-list-item-action>
                        </ul>
                        {{item?.fullname}} -
                        {{item?.position}}
                      </li>
                      <nz-list-footer></nz-list-footer>
                    </ul>


                      <!-- <nz-form-item>
                        <nz-form-control nzErrorTip="Please Select Doctor-in-charge!" >
                          <nz-input-group>
                            <nz-select style="width: 100%;" formControlName="doctor_in_charge" (ngModelChange)="setDoctor($event)" nzPlaceHolder="Medicine Type">
                              <nz-option *ngFor="let lists of listofDoctors" nzLabel="{{lists.fullname}} - {{lists.position}} " nzValue="{{lists.person_id}}"></nz-option>
                            </nz-select>
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item> -->
                </div>


                <!-- <div nz-col [nzSpan]="24">
                    <button nz-button nzType="primary" class="ccc" nzGhost (click)="addMedsRecord($event); $event.preventDefault()"
                    [disabled]="med_txt"
                    ><i nz-icon nzTheme="outline" ></i>Add New Medication Record</button>
                </div> -->
                <br><br>

            </div>
          </div>
        </nz-tab>

  </nz-tabset>

</div>
</div>
</nz-card>
<br>
<nz-space>
<div style="position: relative;" nz-row  nz-row nzJustify="space-around">
<div nz-col [nzSpan]="12">
<a *ngIf="showBackBtn" nz-button  nzType="link" (click)="back()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Back</a>
</div>
<div nz-col [nzSpan]="12">
<a *ngIf="showNextBtn"   nz-button nzType="link" (click)="nextTab()">Next <i nz-icon nzType="arrow-right" ></i></a>
</div>
</div>
</nz-space>
</nz-tab>

</nz-tabset>
</form>
</div>
</nz-spin>
</nz-spin>

<ng-template #extraTemplate>
<ng-container>
<nz-space [hidden]="hidden">
<a *ngIf="showBackBtn" nz-button  nzType="link" (click)="back()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Back</a>
<a *ngIf="showNextBtn"   nz-button nzType="link" (click)="nextTab()">Next <i nz-icon nzType="arrow-right" ></i></a>
</nz-space>
</ng-container>
</ng-template>

<ng-template #dotTemplate>
  <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span>
<!-- <i nz-icon nzType="monitor" nzTheme="outline"></i> -->
</ng-template>
