<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> AICS Letter List</h3>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>
<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div class="printContent">
      <app-header-print></app-header-print>
      <div style="text-align: center;"><h2>List of Certificate of Eligibility</h2></div>
      <div style="text-align: center;"><h3>{{filterValueText}}</h3></div>
      <div class="content">
        <nz-table class="body" #basicTable [nzData]="listOfData" [nzFrontPagination]="false" nzBordered nzSize="small">
          <thead>
            <tr class="content-table-head">
              <th>Trans Date</th>
              <th>Trans No</th>
              <th>Name</th>
              <th>Address</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="content-table-body">
            <ng-container *ngFor="let data of basicTable.data">
              <tr>
                <td>{{data.application_date | date:'shortDate'}}</td>
                <td>{{data.form_trans_no}}</td>
                <td>{{data.prefix}} {{data.first_name}} {{data.middle_name}} {{data.last_name}} {{data.suffix}}</td>
                <td>{{data.brgy_name}} {{data.street}} , {{data.city_mun_name}}, {{data.province_name}}</td>
                <td>{{data.status}}</td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
    <app-footer-print></app-footer-print>
  </div>
</nz-spin>
