<nz-table #basicTable [nzData]="listOfData" nzBordered nzSize="small">
  <tr>
    <th style="width:6%">Time</th>
    <th>Name of Client</th>
    <th>Address</th>
    <th>Kind of Animal</th>
    <th>Action</th>
  </tr>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td style="text-align: center;">{{data.time | date: 'hh:mm a'}}</td>
      <td>{{data.client_name}}</td>
      <td>{{data.address}}</td>
      <td>{{data.animal}}</td>
      <td style="width: 5%;">
        <button nz-button nzType="primary" (click)="selectBiz(data);$event.preventDefault()">
          <i nz-icon nzType="select" nzTheme="outline"></i>
          Select
        </button>
      </td>
    </tr>
  </tbody>
  
</nz-table>