<nz-spin [nzSpinning]="loading">
  <nz-spin nzTip="Saving..." [nzSpinning]="saveLoading">
    <div style="height: 100%;">
      <form nz-form [formGroup]="validateForm"  (ngSubmit)="submitForm(validateForm.value)">
        <nz-anchor [nzShowInkInFixed]="false">
          <nz-page-header>
            <nz-page-header-title>Dispatch</nz-page-header-title>
            <nz-page-header-extra>
             
            
              <button nz-button (click)="cancel($event);" nzType="primary" nzDanger>
                <i nz-icon nzType="close"></i>
                Cancel            </button>
              <button  nz-button nzType="primary" [nzLoading]="loading" class="button-form" [disabled]="!validateForm.valid ">
                <i nz-icon nzType="save"></i>
                {{buttonTitle}}
              </button>
            </nz-page-header-extra>
          </nz-page-header>
        </nz-anchor>

        <nz-tabset nzType="card">
          <nz-tab [nzTitle]="TransactionForm">

          <div nz-row [nzGutter]="32">
            <div nz-col nzSpan="10">
              
              <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>Date</nz-form-label>
                <nz-form-control  [nzSm]="14" [nzXs]="24"  >
                  <nz-date-picker [nzFormat]="'MM/dd/yyyy'" formControlName="transaction_date" nz-input ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-table formArrayName="receiving_list" [nzTitle]="add" [nzData]="['']" #basicTable nzBordered="true" [nzShowPagination]="false" nzSize="small">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Name of Client</th>
                    <th>Address</th>
                    <th>Kind of Animal</th>
                    <th>No. of Heads</th>
                    <th>Weight (kg)</th>
                    <th>Slaughtering Date</th>
                    <th>Slaughtering Time</th>
                    <th>Purpose</th>
                    <th>Lechonero</th>
                    <th>Status</th>
                    <th nzWidth="10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of arrayList().controls;let i = index"  [formGroupName]="i">
                    <td>
                      <nz-form-control [nzSm]="24" >
                        <nz-time-picker style="width: 100%;" formControlName="time" [nzUse12Hours]="true"  nzFormat="h:mm a"></nz-time-picker>
                        </nz-form-control>
                    </td>
                    <td>
                    <nz-form-control [nzSm]="24" >
                      <input style="width: 100%;" (ngModelChange)="detectChange(i)" type="text" nz-input formControlName="client_name"  />
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control [nzSm]="24" >
                        <input style="width: 100%;" type="text" nz-input formControlName="address"  />
                        </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control style="padding-top: 1px !important;" [nzSm]="24">
                          <nz-select 
                          nzPlaceHolder="Animal"
                          style="width: 100%;"
                          formControlName="animal_id"
                        >
                        <nz-option *ngFor="let list of animalList; let x = index" [nzValue]="list.animal_id" nzLabel="{{list.name}}" >
                        </nz-option>
                        </nz-select>
                      </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control [nzSm]="24" >
                        <input placeholder="0" style="width: 100%;" type="text" nz-input formControlName="no_of_heads"  />
                        </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control [nzSm]="24" >
                        <input placeholder="0" style="width: 100%;" type="text" nz-input formControlName="kilos"  />
                        </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control [nzSm]="24" >
                          <nz-date-picker style="width: 100%;" formControlName="slaughtering_date"  nzFormat="MM/dd/yyyy"></nz-date-picker>
                          </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control [nzSm]="24" >
                          <nz-time-picker style="width: 100%;" formControlName="slaughtering_time" [nzUse12Hours]="true"  nzFormat="h:mm a"></nz-time-picker>
                          </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control [nzSm]="24" >
                          <input style="width: 100%;" type="text" nz-input formControlName="purpose"  />
                          </nz-form-control>
                        </td>
                      <td>
                      <nz-form-control [nzSm]="24" >
                        <input style="width: 100%;" type="text" nz-input formControlName="lechonero"  />
                        </nz-form-control>
                      </td>
                      <td style="text-align: center;">
                        <nz-tag   *ngIf="data.value.status === 'Inspected'" [nzColor]="'#87d068'">{{data.value.status}}</nz-tag>
                        <nz-tag   *ngIf="data.value.status === 'Draft'" [nzColor]="'#f50'">{{data.value.status}}</nz-tag>
                        <nz-tag   *ngIf="data.value.status === 'Slaughtered'" [nzColor]="'#1582E7'">{{data.value.status}}</nz-tag>
                      </td>
                      <td style="width: 5%; text-align: center;">
                        <button class="actionEdit" nz-button nzType="default" (click)="inspect(data, i);$event.preventDefault()">
                          <i nz-icon nzType="file-search" nzTheme="outline"></i> 
                          Inspect
                        </button>
                        <button [disabled]="data.value.status == 'Inspected' || data.value.status == 'Slaughtered' " class="actionDelete" nz-button nzType="text" (click)="remove(i);$event.preventDefault()"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                      </td>
                  
                </tr>
                
                </tbody>
              </nz-table>
  
              </div>
            </div>
      
            <nz-modal [(nzVisible)]="modalInspect" [nzTitle]="'Inspect'" (nzOnCancel)="handleCancel()">
              <div *nzModalContent>
                
                <nz-input-group nzSearch  [nzAddOnAfter]="browseButton">
                <input  [readonly]="true" type="text" nz-input  [ngModelOptions]="{standalone: true}" placeholder="Browse Inspector" [(ngModel)]="inspector_name"  />
                </nz-input-group>
                <nz-divider></nz-divider>
                <nz-textarea-count [nzMaxCharacterCount]="100">
                  <textarea type="text" nz-input  [ngModelOptions]="{standalone: true}" [(ngModel)]="findings" placeholder="Remarks..." ></textarea>
                </nz-textarea-count>
              </div>
              <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancel();$event.preventDefault()" nzDanger>Cancel</button>
                <button [disabled]="inspector_id == '' && findings == ''" nz-button nzType="primary" (click)="handleOk();$event.preventDefault()">OK</button>
              </div>
            </nz-modal>

          </nz-tab>
        </nz-tabset>
        
     </form>
   </div>
  </nz-spin>
</nz-spin>

<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>

<ng-template #add>
  <div style="text-align-last: end;">
    <button nz-button nzType="default" (click)="addRecord();$event.preventDefault()" nzPrimary>
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Add Record 
    </button>
  </div>
</ng-template>

<ng-template #browseButton>
  <button nz-button nzType="primary" nzSearch (click)="openPersonBrowse();$event.preventDefault()">Browse</button>
</ng-template>
