.printLayout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  box-shadow: 2px 2px 4px 2px #888888;
}

.printContent {
  padding: 10px;
  border: 1px solid black;
}

.content {
  margin-top: 30px;
}

.headerActions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

.border {
  width: 100%;
  border-bottom: 1px solid gray;
}

.signatureLabelFirstCol {
  border-top: 1px solid gray;
  font-weight: 500;
  height: 50px;
}

.signatureLabel {
  border-top: 1px solid gray;
  font-weight: 500;
  height: 50px;
  text-align: center;
}

.picture {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 6%;
  padding-bottom: 6%;
}

th {
  text-align: center !important;
}

.subSignLabel {
  font-size: 13px;
}

.headerMiddle {
  text-align: center;
  position:relative;
  display: block;
  margin: auto;
}