<div class="headerActions">
  <h3 style="float: left;"><i nz-icon nzType="file-done" nzTheme="outline" style="color: #1890FF"></i> OSCA Form</h3>
  <button nz-button nzType="default" (click)="excel(); $event.preventDefault();" style="margin-right: 10px;">
    <i nz-icon nzType="file-excel" nzTheme="outline" style="color: #008141"></i> 
    EXPORT TO EXCEL
  </button>
  <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="report-section" #print ngxPrint>
    <i nz-icon nzType="printer" nzTheme="outline"></i>
    PRINT
  </button>
</div>

<nz-spin nzTip="Data Loading..." [nzSpinning]="isLoading">
  <div class="printLayout" id="report-section">
    <div class="printContent">
      <!-- <app-header-print></app-header-print> -->
      <div class="headerMiddle">
        <h3>Republic of the Philippines</h3>
        <h4>Province of Agusan del Sur</h4>
        <h3>MUNICIPALITY OF PROSPERIDAD</h3>
      </div>
      <div style="text-align: center;"><h3 style="font-weight: bold;">MUNICIPAL ECONOMIC & ENTERPRISES OFFICE</h3></div>
      <div style="text-align: center;"><h3 style="font-weight: bold;">SLAUGHTERHOUSE NO. AA-729</h3></div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Province" [nzSpan]="1.5">
              <div>
                <!-- Present Address/Residence here -->
                <span style="font-weight: bold;">AGUSAN DEL SUR</span>
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Municipality" [nzSpan]="1.5">
              <div>
                <!-- Present Address/Residence here -->
                <span style="font-weight: bold;">PROSPERIDAD</span>
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Name of Establishment" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="16">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Accreditation No." [nzSpan]="3">
              <div >
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>

          <nz-descriptions>
            <nz-descriptions-item nzTitle="Classification" [nzSpan]="3">
              <div>
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="Slaughterhouse" [nzSpan]="3">
              <div >
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>

          <p>Poultry Dressing Plant</p>
        </div>
      </div>

      <div style="text-align: center;">
        <h2 style="font-weight: bold;">MEAT INSPECTION CERTIFICATE</h2>
      </div>

      <div>
        <p style="font-weight: 500; text-indent: 50px;">
          This certifies that the meat and/or meat products described below are from
          animals which received ante-mortem and post-mortem, veterinary inspection, and
          have been prepared/handled in sanitary manner in this accredited meat plant;
          and at the time and date of inspection they are not adulterrated, and are fit for human
          consumption.
        </p>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8" style="text-align: center; font-size: 12px;">
          <p>Kinds of meat/meat products</p>

          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>

        </div>
        <div nz-col [nzSpan]="8" style="text-align: center; font-size: 12px;">
          <p>Quantity (in words 8 figures)</p>

          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>

        </div>
        <div nz-col [nzSpan]="8" style="text-align: center; font-size: 12px;">
          <p>Weight (kgs)</p>

          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>
          <div class="border">&nbsp;</div>

        </div>
      </div>

      <div style="margin-top: 10px;">
        <p style="font-weight: 500; text-indent: 50px;">
          Other information relevant to it's distribution are as follows:
        </p>
      </div>

      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Name of owner/dealer" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Destination" [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Meat Stall No." [nzSpan]="1.5">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Meat Vendor" [nzSpan]="1.5">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-descriptions [nzColon]="false">
            <nz-descriptions-item nzTitle="Conveyance used and Plate No." [nzSpan]="3">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Date issued" [nzSpan]="1.5">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Time Issued" [nzSpan]="1.5">
              <div class="border">
                &nbsp;
              </div>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          
          <div style="margin-top: 50%;">
            <div>RECEIVED BY:</div>

            <span>&nbsp;</span>
            <div class="signatureLabelFirstCol">
              Signature over printed name <br>
              Owner/Dealer <br>
              Authorized Representative
            </div>
          </div>

        </div>
        <div nz-col [nzSpan]="16">
          <div>CERTIFIED TRUE AND CORRECT BY:</div>

          <span>&nbsp;</span>
          <div class="signatureLabel">
            Signature over printed name
          </div>

          <span>&nbsp;</span>
          <div class="signatureLabel">
            Designation
          </div>

          <div style="text-align: center;">
            <h1>No. <span style="color: gray;">00000</span></h1>
          </div>
          
        </div>
      </div>

      <!-- <app-footer-print></app-footer-print> -->
    </div>
  </div>
</nz-spin>