
@media print{
    .foot{
      position:absolute !important;
      bottom: 130px !important;
      width: 100%;
    }
  }
  .foot{
    width: 100%;
  }

.printLayout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 2px 2px 4px 2px #888888;
  }
  
  .printContent {
    padding: 50px;
  }
  
  .content {
    margin-top: 30px;
  }
  tbody tr td{
      font-size: 12px !important;
  }
  .headerActions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  