
<nz-spin [nzSpinning]="loading">
<div style="height: 100%;">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-anchor [nzShowInkInFixed]="false">
      <nz-page-header>
        <nz-page-header-title>Business</nz-page-header-title>
        <nz-page-header-extra>
         
          <!-- <button nz-button (click)="$event.preventDefault()"  *ngIf="isActive">
            <i nz-icon nzType="folder-open"></i>
            Save as Draft
          </button> -->
          <button nz-button (click)="cancel($event);" nzType="primary" nzDanger>
            <i nz-icon nzType="close"></i>
            {{btnCancel}}
          </button>
          <button [disabled]="!validateForm.valid"  *ngIf="isActive" nz-button nzType="primary" [nzLoading]="loading" class="button-form" [disabled]="!validateForm.valid">
            <i nz-icon nzType="save"></i>
            Save & Exit
          </button>
        </nz-page-header-extra>
      </nz-page-header>
    </nz-anchor>

    <nz-tabset nzType="card">
      <nz-tab [nzTitle]="TransactionForm">

        <div nz-row>
          <div nz-col nzSpan="24">

            <nz-card nzType="inner" nzTitle="Business Setup">
              <div nz-row [nzGutter]="32" style="width: 100%;">
                <div nz-col nzSpan="20">
                    <div nz-row>
                    <div nz-col nzSpan="24">
                    <nz-form-item>
                      <nz-form-label [nzSm]="4" [nzXs]="12" nzRequired>Business Name</nz-form-label>
                      <nz-form-control  [nzSm]="12" [nzXs]="24"  nzHasFeedback nzValidatingTip="" [nzErrorTip]="userErrorTpl">
                        <nz-input-group>
                          <input type="text" nz-input formControlName="business_name" style="text-transform: uppercase;"  />
                        </nz-input-group>
                        <ng-template #userErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('duplicated')">Business Name already taken!</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label [nzSm]="4" [nzXs]="12" nzRequired>Business Entity</nz-form-label>
                      <nz-form-control  [nzSm]="12" [nzXs]="24" nzValidatingTip="">
                        <nz-select formControlName="entity_id" nzPlaceHolder="Select">
                          <nz-option *ngFor="let data of businessEntityDropDown" [nzValue]="data.entity_id" [nzLabel]="data.entity"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
              
                    <nz-form-item>
                      <nz-form-label [nzSm]="4" [nzXs]="12" nzRequired>Trade Name</nz-form-label>
                      <nz-form-control  [nzSm]="12" [nzXs]="24"  nzHasFeedback nzValidatingTip="" [nzErrorTip]="userErrorTpl">
                        <nz-input-group>
                          <input type="text" nz-input formControlName="trade_name" style="text-transform: uppercase;  " />
                        </nz-input-group>   
                         <ng-template #userErrorTpl let-control>
                         <ng-container *ngIf="control.hasError('duplicated')">Trade Name already taken!</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
              
              
                    <nz-form-item>
                      <nz-form-label [nzSm]="4" [nzXs]="12"  nzRequired>Owner</nz-form-label>
                        <nz-form-control  [nzSm]="12" [nzXs]="24" >
                          <nz-select
                            nzShowSearch
                            nzAllowClear
                            formControlName="owner_id"
                            (ngModelChange)="ownerSelect($event)"
                            nzPlaceHolder="Select Owner"
                          >
                          <nz-option *ngFor="let list of personList" nzValue="{{list.person_guid}}" nzLabel="{{list.first_name}} {{list.middle_name | slice: 0:1 }}. {{list.last_name}}" >
                          </nz-option>
                          </nz-select>
                          <a style="padding: 0px;font-size: 12px;" nz-button nzType="link" (click)="addPerson()">The owner is not on the selected list above
                          </a>
                        
                         </nz-form-control>
                        </nz-form-item>
                  </div>
                  <!-- <div nz-col nzSpan="7"></div> -->
                  <!-- <div nz-col nzSpan="5" >
                    <nz-alert *ngIf="isEdited" (nzOnClose)="alertClose()" nzCloseable nzShowIcon nzType="info" [nzMessage]="actionTemplate1" ></nz-alert>
                    <ng-template #actionTemplate1>
                      <span>This record has been edited. </span>
                      <button nz-button nzSize="small" nzType="text" style="color: #1890ff;" (click)="showHistory(); $event.preventDefault()">{{historyLabel}}</button></ng-template
                    >
                    <ng-container *ngIf="showHis">
                      <nz-table [nzShowPagination]="false" #basicTable [nzData]="historyList" nzBordered nzSize="small">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of basicTable.data">
                            <td>{{data.end_time | date: 'medium' }}</td>
                            <td>{{data.user}}</td>
                            <td style="text-align: center; width: 5%;">
                              <button class="actionCompare" nz-button nzType="text" nz-tooltip [nzTooltipColor]="'#1890ff'" nzTooltipTitle="Compare with current" (click)="compare(data);$event.preventDefault()"><i nz-icon nzType="swap" nzTheme="outline"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </ng-container> 
                  
                  </div> -->
                </div>
              
                  <div nz-row>
                    <div nz-col nzSpan="10">
                       <label style="font-size: 18px;" class="label">Other Information</label>
                    </div>
                  </div>
                  <nz-divider></nz-divider>
                  <div nz-row [nzGutter]="32">
                    <div nz-col nzSpan="10">
              
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="12" nzRequired>Province</nz-form-label>
                        <nz-form-control  [nzSm]="24" [nzXs]="24">
                          <nz-input-group>
                            <input type="text" nz-input [readonly]="true" [ngModelOptions]="{standalone:true}" [(ngModel)]="prov" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="12" nzRequired>City/Municipality</nz-form-label>
                        <nz-form-control  [nzSm]="24" [nzXs]="24">
                          <nz-input-group>
                            <input type="text" nz-input [readonly]="true" [ngModelOptions]="{standalone:true}" [(ngModel)]="citmun" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="12"  nzRequired>Barangay</nz-form-label>
                          <nz-form-control  [nzSm]="24" [nzXs]="24" >
                            <nz-select
                              nzShowSearch
                              nzAllowClear
                              formControlName="brgy_id"
                              nzPlaceHolder="Select Barangay"
                            >
                            <nz-option *ngFor="let list of brgyList" nzValue="{{list.brgy_id}}" nzLabel="{{list.brgy_name}}" >
                            </nz-option>
                            </nz-select>
                           </nz-form-control>
                          </nz-form-item>
              
                          <nz-form-item>
                            <nz-form-label [nzSm]="10" [nzXs]="12" >Street</nz-form-label>
                            <nz-form-control  [nzSm]="24" [nzXs]="24">
                              <nz-input-group>
                                <input type="text" nz-input placeholder="e.g. L. Regis Street" formControlName="street" />
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                    </div>
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="10">
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="12" >Building</nz-form-label>
                        <nz-form-control  [nzSm]="24" [nzXs]="24">
                          <nz-input-group>
                            <input type="text" nz-input placeholder="e.g. Unit/Floor/Building Name" formControlName="building" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24">Telephone No.</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                          <nz-input-group>
                            <input  type="text" mask="(000) 000-0000"  nz-input formControlName="tel_no" placeholder="e.g. (123) 456-7890" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24">Mobile No.</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" >
                          <nz-input-group>
                            <input type="number" onKeyPress="if(this.value.length==11) return false;" nz-input formControlName="mobile_no"  placeholder="e.g. 091234567890 (Optional)" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24">Email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                          <nz-input-group>
                            <input type="text" nz-input formControlName="email" placeholder="e.g. example@example.com"  />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
              
                </div>
                <div nz-col nzSpan="4" >
                  <div style="margin-top: auto; width: 100%;">
                    <nz-timeline >
                      <nz-timeline-item class="timeline" nzLabel="{{data.start_time | date: 'medium'}}" *ngFor="let data of historyList; let i = index">
                        <!-- <ng-container *ngIf="data.prev_record == null && data.end_time == null && historyList.length > 0">
                       {{data.activity}} by {{data.user}} on {{data.start_time | date: 'medium'}}. <span><button class="actionCompare" nz-button nzType="text" nz-tooltip [nzTooltipColor]="'#1890ff'" nzTooltipTitle="Compare with current" (click)="compare(data);$event.preventDefault()"><i nz-icon nzType="swap" nzTheme="outline"></i></button></span>
                        </ng-container> -->
                        
                        <ng-container *ngIf="data.prev_record != null">
                       {{data.activity}} by {{data.user}}. <span><a class="actionCompare" nzType="link" nz-tooltip [nzTooltipColor]="'#1890ff'" nzTooltipTitle="Compare with current" (click)="compare(data);$event.preventDefault()">View details</a></span>
                        </ng-container>
              
                      <ng-container *ngIf="data.prev_record == null && i > 0">
                        {{data.activity}} by {{data.user}}
                      </ng-container>
              
                      <ng-container *ngIf="data.prev_record == null && i == 0">
                        {{data.activity}} by {{data.user}}
                      </ng-container>
                      </nz-timeline-item>
                    </nz-timeline>
                  </div>
                </div>
              </div>
            </nz-card>

          </div>
        </div>

      </nz-tab>
    </nz-tabset>

    
 
    <nz-modal
    [(nzVisible)]="showModal"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="modalBack()"
    [nzWidth]="1700"
  >
  <ng-template #modalTitle><div style="text-align: center;"><h2>Compare Records</h2></div></ng-template>
  <ng-template #modalContent>
   <div nz-row [nzGutter]="32">
     <div nz-col nzSpan="12" >
      <div style="text-align:  center;"><h3>Previous Record</h3></div>
     
      <div nz-row class="prev">
     <div nz-col nzSpan="12" style="padding-left: 20px; padding-top: 20px;">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12">Business Name</nz-form-label>
        <label>{{prevRecord.business_name}}</label>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12" >Trade Name</nz-form-label>
        <label>{{prevRecord.trade_name}}</label>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12" >Owner</nz-form-label>
        <label>{{prevRecord.owner_name}}</label>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12" >Province</nz-form-label>
        <label>{{prov}}</label>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12" >City/Municipality</nz-form-label>
        <label>{{citmun}}</label>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12" >Barangay</nz-form-label>
        <label>{{prev_brgy_Name}}</label>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="12" >Street</nz-form-label>
        <label>{{prevRecord.street}}</label>
      </nz-form-item>

     </div>
     
      <div nz-col nzSpan="12" style="padding-top: 20px;">
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="12" >Building</nz-form-label>
          <label>{{prevRecord.building}}</label>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="12" >Telephone No.</nz-form-label>
          <label>{{prevRecord.tel_no}}</label>
        </nz-form-item>
        
        
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="12" >Mobile No.</nz-form-label>
          <label>{{prevRecord.mobile_no}}</label>
        </nz-form-item>
        
        
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="12" >Email</nz-form-label>
          <label>{{prevRecord.email}}</label>
        </nz-form-item>
        
      </div>
      </div>
     </div>

     <div nz-col nzSpan="12">
      <div style="text-align:  center;"><h3>Current Record</h3></div>
      <div nz-row class="curr">
        <div nz-col nzSpan="12" style="padding-left: 20px; padding-top: 20px;">
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Business Name</nz-form-label>
            <label>{{validateForm.value.business_name}}</label>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Trade Name</nz-form-label>
            <label>{{validateForm.value.trade_name}}</label>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Owner</nz-form-label>
            <label>{{validateForm.value.owner_name}}</label>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Province</nz-form-label>
            <label>{{prov}}</label>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >City/Municipality</nz-form-label>
            <label>{{citmun}}</label>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Barangay</nz-form-label>
            <label>{{curr_brgy_Name}}</label>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Street</nz-form-label>
            <label>{{validateForm.value.street}}</label>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12" style=" padding-top: 20px;">
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Building</nz-form-label>
            <label>{{validateForm.value.building}}</label>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Telephone No.</nz-form-label>
            <label>{{validateForm.value.tel_no}}</label>
          </nz-form-item>
          
          
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Mobile No.</nz-form-label>
            <label>{{validateForm.value.mobile_no}}</label>
          </nz-form-item>
          
          
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" >Email</nz-form-label>
            <label>{{validateForm.value.email}}</label>
          </nz-form-item>
          
    
        </div>

      </div>
     

      
     
      
    </div>
   </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="modalBack()">Back</button>
  </ng-template>
  </nz-modal>

  </form>
</div>
</nz-spin>

<ng-template #TransactionForm>
  <i nz-icon nzType="container" nzTheme="outline"></i>
  Transaction Form
</ng-template>