<!-- <span style="font-weight: 500;">Filter Type :</span>
<nz-select style="width: 150px;" class="gutter" nzShowSearch nzPlaceHolder="Select" [(ngModel)]="selectedValue" (ngModelChange)="filterSelect($event)">
  <nz-option *ngFor="let x of filterList" [nzLabel]="x.form_filter_name" [nzValue]="x.form_filter_id"></nz-option>
</nz-select>
<span class="gutter" style="font-weight: 500;">From :</span>
<span class="gutter"><nz-date-picker [nzDisabled]="thisMonth" [(ngModel)]="dateFrom"></nz-date-picker></span>
<span class="gutter" style="font-weight: 500;">To :</span>
<span class="gutter"><nz-date-picker [nzDisabled]="thisMonth"  [(ngModel)]="dateTo"></nz-date-picker></span> -->
<form nz-form [formGroup]="validateForm" (ngSubmit)="generateButton(validateForm.value);">

  <span style="font-weight: 500;"><span nz-icon nzType="calendar" nzTheme="outline"></span> Date Filter :</span>
  <nz-select style="width: 150px;" formControlName="filter_type" class="gutter" nzShowSearch nzPlaceHolder="Select" [(ngModel)]="selectedValue" (ngModelChange)="filterSelect($event)">
    <nz-option nzLabel="This Month" nzValue="1"></nz-option>
    <nz-option nzLabel="This Year" nzValue="2"></nz-option>
    <nz-option nzLabel="Monthly" nzValue="3"></nz-option>
    <nz-option nzLabel="Quarterly" nzValue="4"></nz-option>
    <nz-option nzLabel="Yearly" nzValue="5"></nz-option>
    <nz-option nzLabel="Range" nzValue="6"></nz-option>
  </nz-select>

  <!-- MONTHLY -->
  <span class="gutter" *ngIf="hideMonthly">
    <nz-date-picker formControlName="monthly" nzMode="month" [(ngModel)]="dateMonthly"></nz-date-picker>
  </span>
  <!-- MONTHLY CLOSE -->
  
  <!-- QUARTERLY -->
  <span class="gutter" *ngIf="hideQuarterly" style="font-weight: 500;">Year :</span>
  <span class="gutter" *ngIf="hideQuarterly">
    <nz-date-picker formControlName="yearQuarterly" nzMode="year" [(ngModel)]="dateThisYearQuarterly"></nz-date-picker>
  </span>
  <span class="gutter" *ngIf="hideQuarterly" style="font-weight: 500;">Quarter :</span>
  <nz-select style="width: 150px;" [(ngModel)]="defaultQuarter" formControlName="quarter" *ngIf="hideQuarterly" class="gutter" nzPlaceHolder="Select">
    <nz-option nzLabel="1st Quarter" nzValue="1"></nz-option>
    <nz-option nzLabel="2nd Quarter" nzValue="2"></nz-option>
    <nz-option nzLabel="3rd Quarter" nzValue="3"></nz-option>
    <nz-option nzLabel="4th Quarter" nzValue="4"></nz-option>
  </nz-select>
  <!-- QUARTERLY CLOSE -->
  
  <!-- YEARLY -->
  <span class="gutter" *ngIf="hideYearly">
    <nz-date-picker nzMode="year" formControlName="yearly" [(ngModel)]="dateYearly"></nz-date-picker>
  </span>
  <!-- YEARLY CLOSE -->
  
  <!-- RANGE -->
  <span class="gutter" *ngIf="hideRange" style="font-weight: 500;">From :</span>
  <span class="gutter" *ngIf="hideRange">
    <nz-date-picker formControlName="from" [(ngModel)]="dateFrom"></nz-date-picker>
  </span>
  <span class="gutter" *ngIf="hideRange" style="font-weight: 500;">To :</span>
  <span class="gutter" *ngIf="hideRange">
    <nz-date-picker formControlName="to" [(ngModel)]="dateTo"></nz-date-picker>
  </span>
  <!-- RANGE CLOSE -->
  
  <!-- GENERATE BUTTON -->
  <button nz-button nzType="primary" style="margin-left: 15px; font-weight: 500;">
    <span nz-icon nzType="select" nzTheme="outline"></span>
    Generate
  </button>
  <!-- GENERATE BUTTON CLOSE -->

</form>