nz-form-label {
    font-weight: 500;
    text-align: left;
  }
  
  nz-page-header {
    background-color: #fff;
    margin-left: -2px;
  }
  
  .label {
    font-weight: 500;
    text-align: left;
  }
  
  :host ::ng-deep .avatar-uploader > .ant-upload {
    width: 100%;
    height: 200px;
  }
  
  .actionDelete {
    color: #f50;
  }
  
  .readOnly {
    background: #f0f0f0 !important;
  }
  
  